In [1]:
import numpy as np
import pandas as pd

# import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import load_model
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [5]:
# df0=  df[df['Retinopathy grade'] ==0]

def createTokenizer():
    size = 3000
    df= pd.read_csv("spam.csv",sep=',', encoding='latin-1')
    normalmsgText = df['v2'].head(size).dropna().values.tolist()
    normal_y = [0] * len(normalmsgText)
    bankdf= pd.read_excel( "BankSMS.xlsx")
    banksTexts = bankdf["Message"].dropna().values.tolist()
    bank_y = [1] * len(banksTexts)
    # Preprocess the texts
    sentences = banksTexts + normalmsgText
    # Create the labels
    y = bank_y + normal_y
    tokenizer = Tokenizer(num_words = 100, oov_token="<OOV>")
    tokenizer.fit_on_texts(sentences)
    return tokenizer

model=load_model('./smsmodel.h5')
tokenizer = createTokenizer()

In [8]:

msgToPredict = "HNB SMS ALERT: PURCHASE, Debit account:65465464654,Location:gdfghj hfgh fg, LK,Amount(Approx.):544574.321 LKR,Av.Bal:101534.94 LKR,Date:hfh,Time:13:21, Hot Line:645645645645"

def isBankSMS(msg):
    sequences = tokenizer.texts_to_sequences([msgToPredict])
    preproccedmsg = pad_sequences(sequences,padding= 'post', maxlen=50)
    result = model.predict(preproccedmsg)
    confidence = result[0][0]
    print(confidence)
    return round(confidence, 0)


isBankSMS(msgToPredict)

1/1 [==============================] - 0s 95ms/step
0.9824645

1.0

In [32]:

import pandas as pd
bankdf= pd.read_excel( "BankSMSrm.xlsx")

X = bankdf["Amount"].dropna().values.tolist()
y = bankdf["Message"].dropna().values.tolist()

In [33]:
bankdf

,Bank,Amount,Date,Expenses Name,Message
0,BOC,30000,15th January 2022,ATM Withdrawal,ATM Withdrawal Rs 30000.00 From A/C No XXXXXXX...
1,BOC,4000,7th February 2022,ATM Withdrawal,ATM Withdrawal Rs 4000.00 From A/C No XXXXXXXX...
2,BOC,15000,12th February 2022,ATM Withdrawal,ATM Withdrawal Rs 15000.00 From A/C No XXXXXXX...
3,BOC,5000,15th February 2022,ATM Withdrawal,ATM Withdrawal Rs 5000.00 From A/C No XXXXXXXX...
4,BOC,3000,17th February 2022,ATM Withdrawal,ATM Withdrawal Rs 3000.00 From A/C No XXXXXXXX...
...,...,...,...,...,...
465,Sampath,101.2,1st August 2022,POS,Yr A/c **8901 debited Rs. 101.20 for POS NAWAL...
466,Sampath,2127,1st August 2022,POS,"Yr A/c **8901 debited Rs. 2,127.00 for POS CAR..."
467,Sampath,3289,31st July 2022,POS,"Yr A/c **8901 debited Rs. 3,289.00 for POS SYB..."
468,Sampath,100005,28th June 2022,ATM,"Yr A/c **8901 debited Rs. 100,005.00 via ATM 2..."
469,Sampath,60005,28th June 2022,ATM,"Yr A/c **8901 debited Rs. 60,005.00 via ATM 28..."

In [34]:
X

[30000,
 4000,
 15000,
 5000,
 3000,
 1030,
 5000,
 3000,
 5000,
 3056.55,
 840,
 3000,
 5000,
 5000,
 1430,
 1100,
 5000,
 5000,
 3000,
 3000,
 3000,
 1000,
 4000,
 910,
 2000,
 2030,
 370,
 1100,
 1500,
 1000,
 2000,
 2030,
 3000,
 6030,
 11000,
 2030,
 2845,
 25000,
 28000,
 2000,
 1000,
 5030,
 2500,
 2500,
 15000,
 1900,
 7213.25,
 4000,
 2000,
 3030,
 22000,
 6000,
 560,
 3000,
 99,
 100,
 5000,
 4000,
 99,
 1898,
 100,
 1354,
 2000,
 5030,
 904,
 9500,
 17500,
 99,
 1185.8,
 1030,
 2030,
 20000,
 99,
 100,
 594,
 694,
 572,
 2000,
 3165,
 4121.55,
 99,
 705,
 2030,
 1909,
 1244,
 99,
 350,
 400,
 265,
 100,
 220,
 1500,
 99,
 100,
 923,
 100,
 330,
 1000,
 825,
 380,
 3430,
 2880,
 645,
 1050,
 99,
 684,
 4000,
 514,
 282.4,
 99,
 99,
 99,
 1405,
 99,
 100,
 100,
 99,
 100,
 99,
 99,
 2950,
 1359,
 99,
 265,
 99,
 2300,
 1290,
 99,
 99,
 100,
 2956.25,
 984.16,
 100,
 8000,
 100,
 5030,
 99,
 2000,
 100,
 1064,
 994,
 99,
 100,
 614,
 6000,
 99,
 100,
 100,
 4000,
 4750,
 6200,
 13400,
 750,
 2500,
 99,
 99,
 99,
 2145,
 1100,
 1800,
 2238,
 50000,
 1263.33,
 99,
 99,
 99,
 99,
 899,
 99,
 3000,
 100,
 2000,
 714,
 745,
 440,
 739,
 99,
 99,
 1500,
 3000,
 99,
 100,
 265,
 10000,
 1259.92,
 2000,
 2124,
 875,
 2134,
 100,
 3000,
 99,
 100,
 350,
 1375,
 2030,
 290,
 270,
 4103,
 1240,
 2380,
 11869,
 5230,
 1180,
 2572,
 1942.5,
 15030,
 3.99,
 2030,
 4030,
 3500,
 1930,
 6030,
 0.99,
 11676.3,
 2260,
 3.99,
 1985,
 0.99,
 555,
 18030,
 15030,
 530,
 883,
 6097,
 21530,
 4085,
 3240,
 10480,
 3460,
 3730,
 2620,
 1780,
 0.99,
 1594,
 1665,
 5869,
 1399.73,
 10141.8,
 5000,
 31825,
 5000,
 11500,
 2190,
 2400,
 1186.5,
 24817.5,
 4099,
 18480,
 80000,
 200000,
 3143,
 1914,
 4440,
 4440,
 4800,
 1430,
 7000,
 10300,
 1068,
 5000,
 2688,
 3487,
 2400,
 5930,
 1000,
 3900,
 '4.87$',
 1736,
 35030,
 50,
 3600,
 3050,
 4415,
 3720,
 4500,
 4890,
 3.99,
 1784.5,
 4827.75,
 1270,
 2.99,
 4985,
 4550,
 2475,
 1520,
 6530,
 100,
 15000,
 40030,
 1419,
 37430,
 37530,
 1230,
 2000,
 7000,
 824.7,
 714,
 2930,
 590,
 15000,
 22880,
 7.17,
 10030,
 960,
 200.35,
 2180,
 16830,
 495,
 5080,
 939.69,
 2020,
 4289.15,
 11034,
 1530,
 1729,
 2990,
 4030,
 750,
 5313,
 1915.02,
 4356.82,
 55000,
 2460,
 3806,
 200000,
 5000,
 2740,
 2530,
 12100,
 8998,
 3.99,
 6520,
 5783.5,
 1734,
 2876,
 1970,
 2.99,
 3898,
 5600,
 900,
 2222,
 10030,
 1200,
 2483.25,
 3000,
 968,
 8860.87,
 2100,
 4830,
 2210,
 4500,
 11530,
 3.99,
 2550,
 1000,
 4000,
 4320,
 4400,
 2.99,
 7330,
 5920,
 8000,
 2395,
 10000,
 2777.4,
 2180,
 4000,
 980,
 2400,
 2000,
 3.99,
 2.99,
 2035,
 300000,
 3872,
 40000,
 6500,
 3500,
 18085,
 8460.82,
 1810,
 1200,
 2580,
 5000,
 3030,
 2850,
 5051.2,
 3192.75,
 3872,
 3030,
 1333.33,
 1770,
 18550,
 400000,
 2140,
 1130,
 6030,
 4550,
 790,
 2020,
 5530,
 930,
 5630,
 7780,
 4835,
 3117.5,
 30030,
 1925,
 5985.83,
 88647,
 400,
 1777.22,
 203.15,
 250,
 260,
 400,
 310,
 65005,
 825,
 2204,
 5783.5,
 400,
 250,
 3913,
 3000,
 10000,
 2500,
 4000,
 1405,
 3000,
 990,
 500,
 10000,
 10000,
 1000,
 5000,
 6005,
 2590,
 2519,
 12030,
 189.14,
 1005,
 755,
 475,
 270,
 119,
 12000,
 450,
 700,
 5005,
 1350,
 6000,
 119,
 3418.23,
 360,
 3610,
 100,
 1100,
 390,
 1010,
 3332.5,
 642.4,
 2980,
 2085,
 101.2,
 2127,
 3289,
 100005,
 60005]