## Headline based similarity on Articles

> **Index :- 18001149**

> I am Pandu, like **Data Analysis**

Generally, we assess **similarity** based on **distance**. If the **distance** is minimum then high **similarity** and if it is maximum then low **similarity**.
To calculate the **distance**, we need to represent the headline as a **d-dimensional** vector. Then we can find out the **similarity** based on the **distance** between vectors.

There are multiple methods to represent a **text** as **d-dimensional** vector like **Bag of words**, **TF-IDF method**, **Word2Vec embedding** etc. Each method has its own advantages and disadvantages. 

Let's see the feature representation of headline through all the methods one by one.

In [1]:
import os
import glob
import pandas as pd
import numpy as np

In [2]:
# Below libraries are for text processing using NLTK
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Below libraries are for feature representation using sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

# Below libraries are for similarity matrices using sklearn
from sklearn.metrics.pairwise import cosine_similarity  
from sklearn.metrics import pairwise_distances

from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [3]:
# Below libraries are for similarity matrices using sklearn
from sklearn.metrics.pairwise import cosine_similarity  

from sklearn.metrics import pairwise_distances
import copy
from IPython.display import clear_output

import warnings

from re import sub
import plotly
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
plotly.offline.init_notebook_mode (connected = True)

import random
warnings.filterwarnings("ignore")

In [4]:
files_path="D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files"
read_files=glob.glob(os.path.join(files_path,"*.txt"))

In [5]:
read_files

['D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 1.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 2.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 3.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 4.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 5.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 6.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 7.txt',
 'D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 8.txt']

In [6]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import Pipeline, make_pipeline

# Below libraries are for feature representation using sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
# myfile = open("D:\\DC Universe\\Ucsc\\Fourth Year\\SCS4204 Data Analytics\\Assignments\\News Files\\doc 1.txt", "r")
# myline = myfile.readline()
# print(myline)

In [8]:
#Data Extracted into csv files for further analyzation

new_data1=pd.read_csv(read_files[0],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data2=pd.read_csv(read_files[1],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data3=pd.read_csv(read_files[2],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data4=pd.read_csv(read_files[3],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data5=pd.read_csv(read_files[4],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data6=pd.read_csv(read_files[5],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data7=pd.read_csv(read_files[6],error_bad_lines=False,header=None,delimiter = ' \t ')

new_data8=pd.read_csv(read_files[7],error_bad_lines=False,header=None,delimiter = ' \t ')

In [9]:
new_data1.set_axis(["Information"],axis=1,inplace=True)

In [10]:
# new_data1.dtypes
new_data1["Information"]=new_data1["Information"].astype('string')

## Headlines Storing in a Pandas dataset

In [11]:
News_head1 = ["Hurricane Gilbert Heads Toward Dominican Coast","IRA terrorist attack","McDonald's Opens First Restaurant in China"]
# News_head2 = ["IRA terrorist attack"]
# News_head3= ["McDonald's Opens First Restaurant in China"]

In [12]:
Head= pd.DataFrame(News_head1, columns=['Headline'])

In [13]:
Head['Headline']=Head['Headline'].astype('string')
Head.dtypes

Headline    string
dtype: object

> **Stopword tokenization usinh NLTK library**

In [14]:
# This function is to remove stopwords from a particular column and to tokenize it
def Stopword_tokenize(data,name):
      
    def getting(sen):
        example_sent = sen

        stop_words = set(stopwords.words('english')) 

        word_tokens = word_tokenize(example_sent) 

        filtered_sentence = [w for w in word_tokens if not w in stop_words] 

        filtered_sentence = [] 

        for w in word_tokens: 
            if w not in stop_words: 
                filtered_sentence.append(w) 
        return filtered_sentence
    x=[]
    for i in data[name].values:
        x.append(getting(i))
    data[name]=x

## A)Using TF-IDF method

**TF-IDF** method is a weighted measure which gives more importance to less frequent words in a corpus. It assigns a weight to each term(word) in a document based on **Term frequency(TF)** and **inverse document frequency(IDF)**.

**TF(i,j)** = (# times word i appears in document j) / (# words in document j)

**IDF(i,D)** = log_e(#documents in the corpus D) / (#documents containing word i)

weight(i,j) = **TF(i,j)** x **IDF(i,D)**

So if a word occurs more number of times in a document but less number of times in all other documents then its **TF-IDF** value will be high.

## 1)For the First Document

In [15]:
new_data1.describe()

                                              Information
count                                                  25
unique                                                 25
top     Under the sign of the golden arches, accented ...
freq                                                    1

In [16]:
new_data1

                                          Information
0   Thousands of queue-hardened Soviets on Wednesd...
1   The world's largest version of the landmark Am...
2   The Soviets, bundled in fur coats and hats, se...
3   The crush of customers was so intense the comp...
4   I only waited an hour and I think they served ...
5   And it was only 10 rubles for all this, she sa...
6   Big Macs were priced at 3.75 rubles and double...
7   The official exchange rate is 1.59 dollar per ...
8   Half the day's sales were donated to the Sovie...
9   The restaurant, built by the company in a join...
10  The previous opening-day record for sales was ...
11  Soviets got a first-hand look at such alien co...
12  Accordions played folk songs and women in trad...
13  One Muscovite, accustomed to clerks who snarl ...
14  For most customers, it was their first experie...
15  They tried them one-handed.They picked their s...
16      ''It tasted great!'' a 14 years old boy said.
17  It's a lot different from a stolovaya,'' he co...
18  Under the sign of the golden arches, accented ...
19  Publicity conscious managers had the staff sho...
20  McDonald's of Canada Chairman George Cohon, th...
21  The restaurant limited purchases to 10 Big Mac...
22  McDonald's built its own factory, including ba...
23  One McDonald's associate said the company woun...
24         They found you need a permit to buy nails.

In [17]:
info1=new_data1['Information'].to_numpy()

In [18]:
info1_len=len(info1)

In [19]:
info1

array(["Thousands of queue-hardened Soviets on Wednesday cheerfully lined up to get a taste of ''gamburgers'', ''chizburgers'' and ''Filay-o-feesh'' sandwiches as McDonald's opened in the land of Lenin for the first time.",
       "The world's largest version of the landmark American fast-food chain rang up 30,000 meals on 27 cash registers, breaking the opening-day record for McDonald's worldwide, officials said.",
       'The Soviets, bundled in fur coats and hats, seemed unfazed, lining up before dawn outside the 700 seat restaurant, the first of 20 planned across the Soviet Union.',
       'The crush of customers was so intense the company stayed open until midnight, two hours later than planned.',
       'I only waited an hour and I think they served thousands before me, said a happy middle-aged woman who works at an aluminum plant.',
       "And it was only 10 rubles for all this, she said. I'm taking it back for the girls at the factory to try.",
       "Big Macs were priced at 3.75 rubles and double cheeseburgers at 3 rubles about two hours' pay for a starting McDonald's staffer or the average Soviet, but much cheaper than other private restaurants that have sprung up recently.",
       'The official exchange rate is 1.59 dollar per ruble but foreign visitors can buy rubles for 16 cents each, about what the currency is worth on the black market.',
       "Half the day's sales were donated to the Soviet Children's Fund, which provides medical care and assistance to orphans and disadvantaged children, Gary Reinblatt, senior vice president of McDonald's Canada, said from Toronto.",
       "The restaurant, built by the company in a joint venture with the city of Moscow that began 14 years ago, brought to 52 the number of countries where McDonald's operates.",
       "The previous opening-day record for sales was in Budapest, company officials said. Besides its restaurants in the United States, the leading number of McDonald's are in Canada and Japan, the officials said.",
       'Soviets got a first-hand look at such alien concepts as efficiency and fast, friendly service. Normally dour citizens broke into grins as they caught the infectious cheerful mood from youthful Soviet staffers hired for their ability to smile and work hard.',
       'Accordions played folk songs and women in traditional costumes danced with cartoon characters, including Mickey Mouse and Baba Yaga, a witch of Russian fairy tales.',
       'One Muscovite, accustomed to clerks who snarl if they say anything at all, asked for a straw and was startled when a smiling young Soviet woman found him one and popped it straight into his drink.',
       "For most customers, it was their first experience with a hamburger. Sandwiches were served in the familiar bag marked with the golden arches, but were packed in wrappers bearing Cyrillic letters, approximating ``gamburger.''",
       "They tried them one-handed.They picked their sandwiches apart to examine the contents. One young woman finally squashed her ``Beeg Mak'' to fit her lips around it.",
       "''It tasted great!'' a 14 years old boy said.",
       "It's a lot different from a stolovaya,'' he continued with a smile, referring to the much cheaper but run down dirty cafeterias that slop rice and fat or boiled sausage.",
       "Under the sign of the golden arches, accented by the Soviet hammer and sickle flag, hundreds lined up for the long awaited grand opening at 10 am on Pushkin Square, reaching out excitedly for McDonald's flags and pins as the hamburger chain's army fulfilled the Soviet penchant for souvenirs with Western logos.",
       "Publicity conscious managers had the staff shout ''Good morning, America!'' in English and Russian, for an American TV network.",
       "McDonald's of Canada Chairman George Cohon, the man behind the deal, said many people were buying multiple orders and the restaurant served 15,000 to 20,000 people in just the first five hours of operation.",
       'The restaurant limited purchases to 10 Big Macs per customer in hopes of preventing burger scalping.',
       "McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer.",
       "One McDonald's associate said the company wound up importing wooden crates from Finland for storing potatoes because when they went to build crates, they found there was no wood, and no nails.",
       'They found you need a permit to buy nails.'], dtype=object)

In [20]:
import pandas as pd
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
count1 = CountVectorizer()
word_count1=count1.fit_transform(info1)
print(word_count1)

  (0, 362)	1
  (0, 245)	3
  (0, 290)	1
  (0, 175)	1
  (0, 331)	1
  (0, 249)	1
  (0, 383)	1
  (0, 83)	1
  (0, 209)	1
  (0, 376)	1
  (0, 364)	1
  (0, 158)	1
  (0, 351)	1
  (0, 155)	1
  (0, 86)	1
  (0, 28)	1
  (0, 136)	1
  (0, 135)	1
  (0, 310)	1
  (0, 36)	1
  (0, 223)	1
  (0, 253)	1
  (0, 190)	1
  (0, 355)	2
  (0, 201)	1
  :	:
  (23, 388)	1
  (23, 148)	1
  (23, 39)	1
  (23, 403)	1
  (23, 189)	1
  (23, 397)	1
  (23, 101)	2
  (23, 138)	1
  (23, 344)	1
  (23, 278)	1
  (23, 48)	1
  (23, 384)	1
  (23, 62)	1
  (23, 358)	1
  (23, 242)	2
  (23, 396)	1
  (23, 239)	1
  (24, 364)	1
  (24, 359)	1
  (24, 67)	1
  (24, 148)	1
  (24, 239)	1
  (24, 408)	1
  (24, 240)	1
  (24, 270)	1

In [22]:
word_count1.shape

(25, 411)

In [23]:
print(word_count1.toarray())

[[0 0 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 1 0 0]]

In [24]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count1)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count1.get_feature_names(),columns=["IDF_Weights"])

In [25]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count1)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count1.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf.sort_values(by=['IDF_Weights'])

            IDF_Weights
the            1.213574
and            1.424883
to             1.619039
of             1.693147
for            1.693147
...                 ...
food           3.564949
folk           3.564949
flags          3.564949
gamburgers     3.564949
youthful       3.564949

[411 rows x 1 columns]

### Proceeding to the TF-IDF transformation.

In [26]:
#tfidf
tf_idf_vector=tfidf_transformer.transform(word_count1)
feature_names = count1.get_feature_names()

In [27]:
first_document_vector=tf_idf_vector[1]
df_tfifd= pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["TF-Idf"])

In [28]:
df_tfifd.sort_values(by=["TF-Idf"],ascending=False).head(20)

             TF-Idf
the        0.217551
registers  0.213023
rang       0.213023
breaking   0.213023
cash       0.213023
food       0.213023
27         0.213023
30         0.213023
meals      0.213023
largest    0.213023
landmark   0.213023
worldwide  0.213023
world      0.213023
version    0.213023
record     0.188795
000        0.188795
american   0.188795
chain      0.188795
officials  0.188795
fast       0.188795

## 2)For the Second Document

In [29]:
new_data2.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data2["Information"]=new_data2["Information"].astype('string')

In [30]:
info2=new_data2['Information'].to_numpy()
info2

array(['Hurricane Gilbert, packing 110 mph winds and torrential rain, moved over this capital city today after skirting Puerto Rico, Haiti and the Dominican Republic.',
       'There were no immediate reports of casualties.',
       'Telephone communications were affected.',
       "Right now it's actually moving over Jamaica,said Bob Sheets, director of the National Hurricane Center in Miami.",
       "We've already had reports of 110 mph winds on the eastern tip.",
       "It looks like the eye is going to move lengthwise across that island, and they're going to bear the full brunt of this powerful hurricane, Sheets said.",
       'Forecasters say Gilbert was expected to lash Jamaica throughout the day and was on track to later strike the Cayman Islands, a small British dependency northwest of Jamaica.',
       "Meanwhile, Havana Radio reported today that 25,000 people were evacuated from Guantanamo Province on Cuba's southeastern coast as strong winds fanning out from Gilbert began brushing the island.",
       'All Jamaica-bound flights were canceled at Miami International Airport, while flights from Grand Cayman, the main island of the three-island chain, arrived packed with frightened travelers.',
       'People were running around in the main lobby of our hotel (on Grand Cayman) like chickens with their heads cut off, said one vacationer who was returning home to California through Miami.',
       'Hurricane warnings were posted for the Cayman Islands, Cuba and Haiti.',
       'Warnings were discontinued for the Dominican Republic.',
       'All interests in the Western Caribbean should continue to monitor the progress of this dangerous hurricane, the service said, adding, Little change in strength is expected for the next several hours as the hurricane moves westward over Jamaica.',
       'The Associated Press Caribbean headquarters in San Juan, Puerto Rico, was unable to get phone calls through to Kingston, where high winds and heavy rain preceding the storm drenched the capital overnight, toppling trees, causing local flooding and littering streets with branches.',
       'Most Jamaicans stayed home, boarding up windows in preparation for the hurricane.',
       'Some companies broadcast appeals for technicians and electricians to report to work.',
       "The weather bureau predicted Gilbert's center, 140 miles southeast of Kingston before dawn, would pass south of Kingston and hit the southern parish of Clarendon.",
       'Flash flood warnings were issued for the parishes of Portland on the northeast and St. Mary on the north.',
       'The north coast tourist region from Montego Bay on the west and Ocho Rios on the east, far from the southern impact zone and separated by mountains, was expected only to receive heavy rain.',
       'Officials urged residents in the higher risk areas along the south coast to seek higher ground.',
       "It's certainly one of the larger systems we've seen in the Caribbean for a long time, said Hal Gerrish, forecaster at the National Hurricane Center.",
       'Forecasters at the center said the eye of Gilbert was 140 miles southeast of Kingston at dawn today.',
       'Maximum sustained winds were near 110 mph, with tropical-storm force winds extending up to 250 miles to the north and 100 miles to the south.',
       'Prime Minister Edward Seaga of Jamaica alerted all government agencies, saying Sunday night: Hurricane Gilbert appears to be a real threat and everyone should follow the instructions and hurricane precautions issued by the Office of Disaster Preparedness in order to minimize the danger.',
       'Forecasters said the hurricane had been gaining strength as it passed over the ocean after it dumped 5 to 10 inches of rain on the Dominican Republic and Haiti, which share the island of Hispaniola.',
       "We should know within about 72 hours whether it's going to be a major threat to the United States,'' said Martin Nelson, another meteorologist at the center.",
       "It's moving at about 17 mph to the west and normally hurricanes take a northward turn after they pass central Cuba.",
       "Cuba's official Prensa Latina news agency said a state of alert was declared at midday in the Cuban provinces of Guantanamo, Holguin, Santiago de Cuba and Granma.",
       'In the report from Havana received in Mexico City, Prensa Latina said civil defense officials were broadcasting bulletins on national radio and television recommending emergency measures and providing information on the storm.',
       "Heavy rain and stiff winds downed power lines and caused flooding in the Dominican Republic on Sunday night as the hurricane's center passed just south of the Barahona peninsula, then less than 100 miles from neighboring Haiti.",
       "The storm ripped the roofs off houses and flooded coastal areas of southwestern Puerto Rico after reaching hurricane strength off the island's southeast Saturday night.",
       'Flights were canceled Sunday in the Dominican Republic, where civil defense director Eugenio Cabral reported some flooding in parts of the capital of Santo Domingo and power outages there and in other southern areas.'],
      dtype=object)

In [31]:
count2 = CountVectorizer()
word_count2=count2.fit_transform(info2)
print(word_count2)

  (0, 147)	1
  (0, 124)	1
  (0, 237)	1
  (0, 3)	1
  (0, 204)	1
  (0, 370)	1
  (0, 23)	2
  (0, 343)	1
  (0, 264)	1
  (0, 201)	1
  (0, 234)	1
  (0, 333)	1
  (0, 56)	1
  (0, 68)	1
  (0, 341)	1
  (0, 14)	1
  (0, 301)	1
  (0, 262)	1
  (0, 278)	1
  (0, 132)	1
  (0, 328)	1
  (0, 91)	1
  (0, 275)	1
  (1, 331)	1
  (1, 360)	1
  :	:
  (31, 275)	1
  (31, 331)	1
  (31, 360)	1
  (31, 221)	2
  (31, 87)	1
  (31, 151)	3
  (31, 273)	1
  (31, 109)	1
  (31, 55)	1
  (31, 364)	1
  (31, 112)	1
  (31, 303)	1
  (31, 307)	1
  (31, 27)	1
  (31, 319)	1
  (31, 69)	1
  (31, 85)	1
  (31, 248)	1
  (31, 100)	1
  (31, 52)	1
  (31, 240)	1
  (31, 288)	1
  (31, 90)	1
  (31, 233)	1
  (31, 230)	1

In [32]:
word_count2.shape
print(word_count2.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 1 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [33]:
# info2_len=len(info2)
# info2
tfidf_transformer2=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer2.fit(word_count2)
df_idf2 = pd.DataFrame(tfidf_transformer2.idf_, index=count2.get_feature_names(),columns=["IDF_Weights"])

In [34]:
tfidf_transformer2=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer2.fit(word_count2)
df_idf2 = pd.DataFrame(tfidf_transformer2.idf_, index=count2.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf2.sort_values(by=['IDF_Weights'],ascending=False).head(20)

           IDF_Weights
000            3.80336
official       3.80336
overnight      3.80336
outages        3.80336
out            3.80336
our            3.80336
other          3.80336
order          3.80336
only           3.80336
office         3.80336
next           3.80336
ocho           3.80336
ocean          3.80336
now            3.80336
northwest      3.80336
northward      3.80336
northeast      3.80336
normally       3.80336
packed         3.80336
packing        3.80336

In [35]:
#tfidf
tf_idf_vector2=tfidf_transformer2.transform(word_count2)
feature_names2 = count2.get_feature_names()

In [36]:
second_document_vector=tf_idf_vector2[1]
df_tfifd2= pd.DataFrame(second_document_vector.T.todense(), index=feature_names2, columns=["TF-Idf"])

In [37]:
df_tfifd2.sort_values(by=["TF-Idf"],ascending=False).head(20)

               TF-Idf
no           0.445322
casualties   0.445322
immediate    0.445322
there        0.397848
reports      0.397848
were         0.235531
of           0.181726
000          0.000000
power        0.000000
preparation  0.000000
prensa       0.000000
predicted    0.000000
preceding    0.000000
precautions  0.000000
powerful     0.000000
portland     0.000000
posted       0.000000
press        0.000000
phone        0.000000
people       0.000000

## 3)For the Third Document

In [38]:
new_data3.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data3["Information"]=new_data3["Information"].astype('string')

In [39]:
info3=new_data3['Information'].to_numpy()
info3

array(['Hurricane Gilbert swept toward the Dominican Republic Sunday, and the Civil Defense alerted its heavily populated south coast to prepare for high winds, heavy rains and high seas.',
       'The storm was approaching from the southeast with sustained winds of 75 mph gusting to 92 mph.',
       'There is no need for alarm, Civil Defense Director Eugenio Cabral said in a television alert shortly before midnight Saturday.',
       "Cabral said residents of the province of Barahona should closely follow Gilbert's movement.",
       'An estimated 100,000 people live in the province, including 70,000 in the city of Barahona, about 125 miles west of Santo Domingo.',
       'Tropical Storm Gilbert formed in the eastern Caribbean and strengthened into a hurricane Saturday night.',
       'The National Hurricane Center in Miami reported its position at 2 a.m.',
       'Sunday at latitude 16.1 north, longitude 67.5 west, about 140 miles south of Ponce, Puerto Rico, and 200 miles southeast of Santo Domingo.',
       'The National Weather Service in San Juan, Puerto Rico, said Gilbert was moving westward at 15 mph with a broad area of cloudiness and heavy weather rotating around the center of the storm.',
       'The weather service issued a flash flood watch for Puerto Rico and the Virgin Islands until at least 6 p.m. Sunday.',
       "Strong winds associated with the Gilbert brought coastal flooding, strong southeast winds and up to 12 feet feet to Puerto Rico's south coast.",
       'There were no reports of casualties.',
       'San Juan, on the north coast, had heavy rains and gusts Saturday, but they subsided during the night.',
       'On Saturday, Hurricane Florence was downgraded to a tropical storm and its remnants pushed inland from the Gulf Coast.',
       'Residents returned home, happy to find little damage from 80 mph winds and sheets of rain.',
       'Florence, the sixth named storm of the 1988 Atlantic storm season, was the second hurricane.',
       'The first, Debby, reached minimal hurricane strength briefly before hitting the Mexican coast last month.'],
      dtype=object)

In [40]:
count3 = CountVectorizer()
word_count3=count3.fit_transform(info3)
print(word_count3)

  (0, 75)	1
  (0, 64)	1
  (0, 148)	1
  (0, 154)	1
  (0, 150)	2
  (0, 47)	1
  (0, 122)	1
  (0, 146)	1
  (0, 19)	2
  (0, 37)	1
  (0, 44)	1
  (0, 17)	1
  (0, 83)	1
  (0, 70)	1
  (0, 110)	1
  (0, 139)	1
  (0, 40)	1
  (0, 153)	1
  (0, 112)	1
  (0, 61)	1
  (0, 72)	2
  (0, 165)	1
  (0, 71)	1
  (0, 117)	1
  (0, 131)	1
  :	:
  (15, 150)	3
  (15, 141)	2
  (15, 159)	1
  (15, 106)	1
  (15, 59)	1
  (15, 138)	1
  (15, 100)	1
  (15, 7)	1
  (15, 25)	1
  (15, 132)	1
  (15, 133)	1
  (16, 75)	1
  (16, 150)	2
  (16, 40)	1
  (16, 27)	1
  (16, 55)	1
  (16, 43)	1
  (16, 118)	1
  (16, 95)	1
  (16, 142)	1
  (16, 28)	1
  (16, 73)	1
  (16, 91)	1
  (16, 85)	1
  (16, 96)	1

In [41]:
word_count3.shape
print(word_count3.toarray())

[[0 0 0 ... 0 1 0]
 [0 0 0 ... 0 1 1]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 1 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [42]:
# info2_len=len(info2)
# info2
tfidf_transformer3=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer3.fit(word_count3)
df_idf3 = pd.DataFrame(tfidf_transformer3.idf_, index=count3.get_feature_names(),columns=["IDF_Weights"])

In [43]:
tfidf_transformer3=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer3.fit(word_count3)
df_idf3 = pd.DataFrame(tfidf_transformer3.idf_, index=count3.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf3.sort_values(by=['IDF_Weights'])

           IDF_Weights
the           1.251314
and           1.587787
of            1.693147
hurricane     1.944462
to            2.098612
...                ...
happy         3.197225
had           3.197225
gusts         3.197225
gulf          3.197225
000           3.197225

[167 rows x 1 columns]

In [44]:
#tfidf
tf_idf_vector3=tfidf_transformer3.transform(word_count3)
feature_names3 = count3.get_feature_names()

In [45]:
third_document_vector=tf_idf_vector3[1]
df_tfifd3= pd.DataFrame(third_document_vector.T.todense(), index=feature_names3, columns=["TF-Idf"])

In [46]:
df_tfifd3.sort_values(by=["TF-Idf"],ascending=False).head(20)

               TF-Idf
mph          0.450933
gusting      0.287878
75           0.287878
sustained    0.287878
approaching  0.287878
92           0.287878
southeast    0.225467
from         0.225467
with         0.225467
the          0.225336
was          0.205375
winds        0.205375
storm        0.188959
to           0.188959
of           0.152451
ponce        0.000000
on           0.000000
reported     0.000000
remnants     0.000000
people       0.000000

## 4)For the Fourth Document

In [47]:
new_data4.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data4["Information"]=new_data4["Information"].astype('string')

In [48]:
new_data4.shape

(42, 1)

In [49]:
info4=new_data4['Information'].to_numpy()
info4

array(['An explosion today flattened a military barracks and tore through nearby homes, killing 11 people and injuring 22, police said.',
       'The IRA claimed responsibility for the blast.',
       'More than 100 rescue workers frantically dug through the rubble of a three-story building that collapsed at the Royal Marines School of Music near Deal.',
       'Stunned neighbors gathered outside homes that were damaged or destroyed.',
       'Chief Police Inspector Alan Butterfield of Kent, who who provided the casualty figures and coordinated the rescue effort, first reported that one person was missing but later said everyone was accounted for.',
       'He said many of the injured were seriously hurt.',
       'There was a terrific crash which reminded me of the Blitz.',
       'After that, the ceiling started to fall down around me, said pensioner Joan Betteridge.',
       'Defense Secretary Tom King, inspecting the wreckage, said, It is not yet absolutely confirmed that it is a bomb, but all the evidence is quite clearly that this is an IRA atrocity.',
       "British military installations are a frequent bombing target of the Irish Republican Army in its campaign to rid Northern Ireland of British rule, but today's explosion in the coastal town 70 miles southeast of London was the worst IRA attack on the British mainland in more than seven years.",
       'The explosion occurred at at 8:26 a.m. in a lounge in thebarracks.',
       'One of the bands had just stopped playing on the parade ground, said a ministry spokesman, speaking anonymously in keeping with British custom.',
       'Dozens of homes near the school were damaged, including four that were destroyed. Witnesses reported hearing the explosion two miles away.',
       'The Defense Ministry would not say how many servicemen and civilians were included in the casualty figures.',
       'However, King told reporters the attack was directed against unarmed bandsmen.',
       'Firefighters used heavy lifting equipment and thermal cameras to search through the debris, said Kent Fire Brigade spokesman Kevin Simmons.',
       'Ten doctors were giving emergency treatment at the scene and 11 ambulances were taking the injured to two hospitals, the ambulance service said.',
       "A statement telephoned to Ireland International, a Dublin news agency, said, we have visited the Royal Marines in Kent in response to Prime Minister Margaret Thatcher's visit to Northern Ireland nine days ago.",
       'The IRA said Mrs Thatcher went to the British province with a message of war,but we still want peace and we want the British government to leave our country.',
       "It was signed P. O'Neill, a nom de guerre the IRA usually uses to claim responsibility for actions outside Northern Ireland.",
       'Irish Prime Minister Charles Haughey issued a statement in Dublin condemning the attack, calling it an outrage.',
       'The last IRA bomb attempt on the British mainland was in February when about 60 soldiers were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.',
       'One soldier was killed and nine wounded in an IRA bomb attack on an army barracks in north London in August 1988.',
       "In July 1982, eight soldiers died in IRA bombings near the Household Cavalry barracks in central London and at a bandstand in the capital's Regent's Park where an army band was playing.",
       'Three people died later and a total of 51 were injured in the bombings.',
       'The music school is the training center for young recruits who want to play in the seven Royal Marines bands.',
       'Up to 250 young men, most between 16 and 20, are based at the school, where they receive military and musical training.',
       "The roof of Janet Minnock's house was torn off by the force of the blast and all the back windows were shattered.",
       'The house has been blown to bits, she said.',
       'We are all shaken up.',
       "Mrs Minnock's next-door neighbor, Heather Hackett, said she was standing at her kitchen window facing the barracks at the time of the explosion.",
       'She was holding her 4 months old son Luke in her arms with her other boys, Ben and Joshua at her side.',
       'I looked up from the sink and I just saw the whole building explode,she said.',
       'I told the boys to run and as Joshua turned a slither of glass embedded itself in his back.',
       'The whole window was blown across the kitchen.',
       'I just screamed and ran out of the room.',
       'The bang was so loud I thought the whole house was coming in.',
       'Sean Minnock said, I was asleep but woke up with a hell of a jolt.',
       'As workers tried to patch holes in his roof, he said: The bedroom ceiling fell in on me.',
       'I woke to find huge slabs of plaster on the bed and floor.',
       'I wondered what it was.',
       'As soon as I got up I looked out of what was left of the window and knew it was the barracks.'],
      dtype=object)

In [50]:
count4 = CountVectorizer()
word_count4=count4.fit_transform(info4)
print(word_count4)

  (0, 25)	1
  (0, 119)	1
  (0, 341)	1
  (0, 129)	1
  (0, 215)	1
  (0, 46)	1
  (0, 26)	2
  (0, 344)	1
  (0, 338)	1
  (0, 227)	1
  (0, 158)	1
  (0, 193)	1
  (0, 1)	1
  (0, 255)	1
  (0, 170)	1
  (0, 6)	1
  (0, 260)	1
  (0, 283)	1
  (1, 329)	2
  (1, 175)	1
  (1, 82)	1
  (1, 275)	1
  (1, 131)	1
  (1, 56)	1
  (2, 338)	1
  :	:
  (39, 164)	1
  (39, 304)	1
  (39, 257)	1
  (39, 48)	1
  (39, 130)	1
  (40, 362)	1
  (40, 180)	1
  (40, 378)	1
  (40, 367)	1
  (41, 46)	1
  (41, 26)	1
  (41, 329)	2
  (41, 239)	2
  (41, 362)	2
  (41, 180)	1
  (41, 354)	1
  (41, 373)	1
  (41, 203)	1
  (41, 32)	2
  (41, 247)	1
  (41, 367)	1
  (41, 310)	1
  (41, 140)	1
  (41, 200)	1
  (41, 196)	1

In [51]:
# info2_len=len(info2)
# info2
tfidf_transformer4=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer4.fit(word_count4)
df_idf4 = pd.DataFrame(tfidf_transformer4.idf_, index=count4.get_feature_names(),columns=["IDF_Weights"])

In [52]:
tfidf_transformer4=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer4.fit(word_count4)
df_idf4 = pd.DataFrame(tfidf_transformer4.idf_, index=count4.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf4.sort_values(by=['IDF_Weights'])

             IDF_Weights
the             1.177681
and             1.870828
was             1.927987
of              1.927987
said            1.988611
...                  ...
frantically     4.068053
four            4.068053
force           4.068053
heavy           4.068053
killing         4.068053

[387 rows x 1 columns]

In [53]:
#tfidf
tf_idf_vector4=tfidf_transformer4.transform(word_count4)
feature_names4 = count4.get_feature_names()

In [54]:
fourth_document_vector=tf_idf_vector4[1]
df_tfifd4= pd.DataFrame(fourth_document_vector.T.todense(), index=feature_names4, columns=["TF-Idf"])

In [55]:
df_tfifd4.sort_values(by=["TF-Idf"],ascending=False).head(20)

                  TF-Idf
claimed         0.502906
blast           0.452781
responsibility  0.452781
for             0.389631
ira             0.316967
the             0.291177
100             0.000000
plaster         0.000000
province        0.000000
provided        0.000000
prime           0.000000
police          0.000000
playing         0.000000
play            0.000000
person          0.000000
ran             0.000000
people          0.000000
pensioner       0.000000
peace           0.000000
patch           0.000000

## 5)For the Fifth Document

In [56]:
new_data5.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data5["Information"]=new_data5["Information"].astype('string')

In [57]:
info5=new_data5['Information'].to_numpy()
info5

array(['Neighbors were breakfasting, heading to work or asleep in bed when an explosion at a military barracks turned their homes to rubble and they were confronted with the sight of  bodies being carried away.',
       'There was a terrific crash which reminded me of the Blitz.',
       'After that, the ceiling started to fall down around me, said Joan Betteridge, a pensioner in the southern England town of Deal, where the blast at the Royal Marines School of Music occurred.',
       'The Irish Republican Army claimed reponsibilty for the explosion, which police said killed 11 people and injured 22.',
       'Nearby resident Sean Minnock said, I was asleep but woke up with a hell of a jolt, the bedroom ceiling fell in on me.',
       'I woke to find huge slabs of plaster on the bed and floor.',
       'From the wrecked, smoke-clouded barracks, I could hear terrified screams of agony.',
       'People started rushing about all over the place.',
       'It was horrible to watch and listen to, said Minnock.',
       'I knew people had been seriously hurt. I saw the rescuers pull out two bodies.',
       'I knew they were dead when they put them on the floor and put bed blankets right over them.',
       "Minnock's wife, Janet, said the roof of their house was torn off and all the back windows were shattered.",
       'The house has been blown to bits, she said.',
       'Mrs. Minnock was feeding her 2 years old son Thomas his breakfast when the explosion wrecked four terraced houses in the street backing onto the barracks.',
       'Her next-door neighbor, Heather Hackett, was standing at her kitchen window facing the barracks, holding her 4-month-old son Luke in her arms.',
       'Her other boys, Ben and Joshua were at her side.',
       'I looked up from the sink and I just saw the whole building explode,she said.',
       'I told the boys to run and as Joshua turned a sliver of glass embedded itself in his back.',
       'The whole window was blown across the kitchen.',
       'I just screamed and ran out of the room.',
       'The bang was so loud I thought the whole house was coming in.',
       'At first I thought for sure Joshua had been seriously injured.',
       'There was blood coming out of his back.',
       'Doctors removed the glass and sent him home.',
       'College student Simon Mitford, narrowly escaped being injured in the explosion because he got up earlier than usual.',
       'His room was completely wrecked by the blast, his brother Alex said.',
       'Of the barracks, he said, I heard music playing and then it went bang and there was glass everywhere.',
       'It was a two-story building but now 90 percent of it is rubble.',
       'I heard a marine scream out, The band is under there.',
       'I was scared there was going to be a second explosion.'],
      dtype=object)

In [58]:
count5 = CountVectorizer()
word_count5=count5.fit_transform(info5)
print(word_count5)

  (0, 130)	1
  (0, 220)	2
  (0, 40)	1
  (0, 84)	1
  (0, 208)	2
  (0, 230)	1
  (0, 139)	1
  (0, 15)	1
  (0, 100)	1
  (0, 25)	1
  (0, 221)	1
  (0, 9)	1
  (0, 66)	1
  (0, 16)	1
  (0, 121)	1
  (0, 22)	1
  (0, 212)	1
  (0, 201)	1
  (0, 94)	1
  (0, 163)	1
  (0, 10)	1
  (0, 205)	1
  (0, 52)	1
  (0, 228)	1
  (0, 200)	1
  :	:
  (27, 104)	2
  (27, 213)	1
  (27, 42)	1
  (27, 191)	1
  (27, 132)	1
  (27, 2)	1
  (27, 145)	1
  (27, 103)	1
  (28, 200)	1
  (28, 204)	1
  (28, 141)	1
  (28, 86)	1
  (28, 103)	1
  (28, 118)	1
  (28, 170)	1
  (28, 20)	1
  (28, 214)	1
  (29, 208)	1
  (29, 66)	1
  (29, 204)	1
  (29, 217)	2
  (29, 168)	1
  (29, 78)	1
  (29, 23)	1
  (29, 174)	1

In [59]:
# info2_len=len(info2)
# info2
tfidf_transformer5=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer5.fit(word_count5)
df_idf5 = pd.DataFrame(tfidf_transformer5.idf_, index=count5.get_feature_names(),columns=["IDF_Weights"])

In [60]:
tfidf_transformer5=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer5.fit(word_count5)
df_idf5 = pd.DataFrame(tfidf_transformer5.idf_, index=count5.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf5.sort_values(by=['IDF_Weights'])

          IDF_Weights
the          1.215111
was          1.794930
of           1.869038
and          1.869038
said         2.131402
...               ...
home         3.740840
homes        3.740840
horrible     3.740840
has          3.740840
years        3.740840

[233 rows x 1 columns]

In [61]:
#tfidf
tf_idf_vector5=tfidf_transformer5.transform(word_count5)
feature_names5 = count5.get_feature_names()

In [62]:
five_document_vector=tf_idf_vector5[1]
df_tfifd5= pd.DataFrame(five_document_vector.T.todense(), index=feature_names5, columns=["TF-Idf"])

In [63]:
df_tfifd5.sort_values(by=["TF-Idf"],ascending=False).head(20)

                TF-Idf
crash         0.390942
blitz         0.390942
terrific      0.390942
reminded      0.390942
which         0.348568
me            0.318504
there         0.276130
of            0.195327
was           0.187582
the           0.126987
resident      0.000000
ran           0.000000
put           0.000000
removed       0.000000
reponsibilty  0.000000
republican    0.000000
pull          0.000000
police        0.000000
playing       0.000000
rescuers      0.000000

## 6)For the Sixth Document

In [64]:
new_data6.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data6["Information"]=new_data6["Information"].astype('string')

In [65]:
info6=new_data6['Information'].to_numpy()
info6

array(['An explosion rocked the Royal Marines School of Music in a southeastern coastal town today, causing one building to collapse and killing eight people, officials said.',
       'Thirty people were injured and up to 18 were missing and feared trapped in the rubble.',
       'The blast occurred at at 8:26 a.m. in a lounge in the barracks near Deal, about 70 miles southeast of London, the Defense Ministry said.',
       'The building has collapsed, said a ministry spokesman, speaking anonymously in keeping with British custom.',
       "We've no idea of the cause of the blast at the moment.",
       'It is too early to tell.',
       'Scotland Yard said a forensic team from its antiterrorist squad had been called in to help investigate.',
       'Firefighters used heavy lifting equipment and thermal cameras to search for those trapped in the debris, said Kent Fire Brigade spokesman Kevin Simmons.',
       'Kent police said 17 or 18 people were trapped.',
       'The Defense Ministry said seven were missing.',
       'Ten doctors gave emergency treatment at the scene and 11 ambulances took the injured to two hospitals, the ambulance service said.',
       'They are suffering from flash burns to their head and arms, fractures, and the sort of injuries you would expect after an explosion, said a spokesman for Buckland Hospital in Dover, 20 miles south of Deal.',
       'South Eastern British Gas sent investigators to the scene but said there was nothing to indicate the explosion was caused by a gas leak.',
       'Gas supplies to the barracks were cut as a precautionary measure, a spokesman said.',
       'Guy Platts, who owns a bookstore in Deal, located 20 miles north of the English Channel port of Dover, said he heard a massive explosion.',
       'There are dozens of ambulances, police and fire brigade making their way there.',
       'Military targets on the British mainland have been attacked several times by the Irish Republican Army in the past year as part of its campaign to rid Northern Ireland of British rule.',
       'One soldier was killed and nine wounded in an IRA attack on an army barracks in north London in August 1988. About 60 soldiers narrowly escaped death or injury in February when they were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.',
       "In July 1982, eight soldiers died in IRA bombings near the Household Cavalry barracks at Knightsbridge in central London and at a bandstand in the capital's Regent's Park where an army band was playing.",
       'Three people died later and a total of 51 were injured in the bombings.'],
      dtype=object)

In [66]:
count6 = CountVectorizer()
word_count6=count6.fit_transform(info6)
print(word_count6)

  (0, 14)	1
  (0, 76)	1
  (0, 165)	1
  (0, 195)	1
  (0, 166)	1
  (0, 130)	1
  (0, 171)	1
  (0, 147)	1
  (0, 138)	1
  (0, 101)	1
  (0, 185)	1
  (0, 52)	1
  (0, 209)	1
  (0, 205)	1
  (0, 48)	1
  (0, 150)	1
  (0, 38)	1
  (0, 204)	1
  (0, 53)	1
  (0, 15)	1
  (0, 120)	1
  (0, 67)	1
  (0, 156)	1
  (0, 148)	1
  (0, 169)	1
  :	:
  (18, 33)	1
  (18, 99)	1
  (18, 49)	1
  (18, 121)	1
  (18, 50)	1
  (18, 27)	1
  (18, 45)	1
  (18, 162)	1
  (18, 153)	1
  (18, 222)	1
  (18, 26)	1
  (18, 158)	1
  (19, 195)	1
  (19, 147)	1
  (19, 101)	1
  (19, 15)	1
  (19, 156)	1
  (19, 219)	1
  (19, 103)	1
  (19, 61)	1
  (19, 33)	1
  (19, 202)	1
  (19, 122)	1
  (19, 208)	1
  (19, 7)	1

In [67]:
# info2_len=len(info2)
# info2
tfidf_transformer6=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer6.fit(word_count6)
df_idf6 = pd.DataFrame(tfidf_transformer6.idf_, index=count6.get_feature_names(),columns=["IDF_Weights"])

In [68]:
tfidf_transformer6=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer6.fit(word_count6)
df_idf6 = pd.DataFrame(tfidf_transformer6.idf_, index=count6.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf6.sort_values(by=['IDF_Weights'],ascending=False).head(20)

               IDF_Weights
11                3.351375
owns              3.351375
military          3.351375
moment            3.351375
music             3.351375
narrowly          3.351375
nine              3.351375
no                3.351375
northern          3.351375
nothing           3.351375
occurred          3.351375
officials         3.351375
park              3.351375
idea              3.351375
part              3.351375
past              3.351375
platts            3.351375
playing           3.351375
port              3.351375
precautionary     3.351375

In [69]:
#tfidf
tf_idf_vector6=tfidf_transformer6.transform(word_count6)
feature_names6 = count6.get_feature_names()

In [70]:
sixth_document_vector=tf_idf_vector6[1]
df_tfifd6= pd.DataFrame(sixth_document_vector.T.todense(), index=feature_names6, columns=["TF-Idf"])

In [71]:
sixth_document_vector

<1x230 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

In [72]:
df_tfifd6.sort_values(by=["TF-Idf"],ascending=False).head(20)

             TF-Idf
were       0.385378
and        0.319880
feared     0.307714
rubble     0.307714
thirty     0.307714
up         0.307714
18         0.270486
missing    0.270486
trapped    0.244071
injured    0.244071
people     0.223583
to         0.151189
in         0.135850
the        0.116786
platts     0.000000
playing    0.000000
occurred   0.000000
of         0.000000
royal      0.000000
officials  0.000000

## 7)For the Seventh Document

In [73]:
new_data7.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data7["Information"]=new_data7["Information"].astype('string')

In [74]:
info7=new_data7['Information'].to_numpy()
info7

array(['Hurricane Gilbert slammed into Kingston on Monday with torrential rains and 115 mph winds that ripped roofs off homes and buildings, uprooted trees and downed power lines.',
       'No serious injuries were immediately reported in the city of 750,000 people, which was hit by the full force of the hurricane around noon.',
       'For half an hour, the hurricane lashed the city, tearing branches from trees, blowing down fences and whipping paper through the air.',
       "The National Weather Service reported heavy damage to Kingston's airport and aircraft parked on its fields.",
       'The first shock let up as the eye of the storm moved across the city.',
       'Skies brightened, the winds died down and people waited for an hour before the second blow of the hurricane arrived.',
       'All Jamaica-bound flights were canceled at Miami International Airport.',
       'Flights from the Cayman Islands, reportedly next in the path of the hurricane, arrived in Miami packed with travelers cutting short their vacations.',
       'People were running around in the main lobby of our hotel (on Grand Cayman Island) like chickens with their heads cut off said one man.',
       'A National Weather Service report said the hurricane was moving west at 17 mph with maximum sustained winds of 115 mph.',
       'It said Jamaica would receive up to 10 inches of rain that would cause flash floods and mud slides.',
       "Right now it's actually moving over Jamaica, said Bob Sheets, director of the National Hurricane Center in Miami.",
       "It looks like the eye is going to move lengthwise across that island, and they're going to bear the full brunt of this powerful hurricane, he said.",
       'Gilbert reached Jamaica after skirting southern Puerto Rico, Haiti and the Dominican Republic.',
       'Hurricane warnings were issued Monday for the south coast of Cuba east of Camaguey, the Cayman Islands, and Haiti, while warnings were discontinued for the Dominican Republic.',
       'High winds and heavy rain preceding the storm drenched Kingston overnight, toppling trees, causing local flooding and littering streets with branches.',
       "Most of Jamaica's 2.3 million people stayed home, boarding up windows in preparation for the hurricane.",
       'The popular north coast resort area, on the other side of the mountains, was expected to receive heavy rain but not as much damage from the hurricane as the south coast, where officials urged residents to seek higher ground.',
       "Havana Radio, meanwhile, reported Monday that 25,000 people were evacuated from coastal areas in Guantanamo Province on the nation's southeastern coast as Gilbert's winds and rain began to brush the island.",
       'In Washington, the Navy reported its bases at Guantanamo Bay, Cuba, and Roosevelt Roads, Puerto Rico, had taken various precautionary steps but appeared to be safe from the brunt of the hurricane.',
       'Ken Ross, a spokesman, said the Navy station at Guantanamo reported that as of 2:30 p.m. EDT, the brunt of the storm appeared to be passing southeastern Cuba.',
       'They have reported maximum winds of 25 knots and gusts up to 50 knots,said Ross.',
       'But there are no reports of injuries or damage.',
       'The spokesman said earlier in the day, Guantanamo had moved to Condition Two, meaning electrical power usage was cut back to only essential uses and all non-essential personnel sent to their barracks.',
       'The storm also skirted Puerto Rico without causing any damage to military facilities, Ross said.',
       'Sheets said Gilbert was expected next to sweep over the Cayman Islands, on its westward track, and in two to three days veer northwest into the southern Gulf of Mexico.',
       'Residents of the neighboring Caymans, a British dependency to the northwest, were urged to rush all preparatory actions.',
       'The National Weather Service warned that the Caymans could expect high waters and large waves which may undermine buildings along the beaches.',
       'All interests in the Western Caribbean should continue to monitor the progress of this dangerous hurricane, the service advised.',
       "Forecaster Hal Gerrish on Sunday described Gilbert certainly one of the larger systems we've seen in the Caribbean for a long time."],
      dtype=object)

In [75]:
count7 = CountVectorizer()
word_count7=count7.fit_transform(info7)
print(word_count7)

  (0, 130)	1
  (0, 107)	1
  (0, 258)	1
  (0, 137)	1
  (0, 146)	1
  (0, 195)	1
  (0, 170)	1
  (0, 320)	1
  (0, 286)	1
  (0, 222)	1
  (0, 20)	3
  (0, 2)	1
  (0, 177)	1
  (0, 319)	1
  (0, 275)	1
  (0, 235)	1
  (0, 237)	1
  (0, 193)	1
  (0, 127)	1
  (0, 49)	1
  (0, 293)	1
  (0, 289)	1
  (0, 82)	1
  (0, 211)	1
  (0, 154)	1
  :	:
  (28, 171)	1
  (28, 217)	1
  (28, 72)	1
  (28, 11)	1
  (29, 107)	1
  (29, 195)	1
  (29, 132)	1
  (29, 276)	2
  (29, 192)	1
  (29, 101)	1
  (29, 196)	1
  (29, 54)	1
  (29, 103)	1
  (29, 116)	1
  (29, 106)	1
  (29, 269)	1
  (29, 76)	1
  (29, 60)	1
  (29, 149)	1
  (29, 272)	1
  (29, 308)	1
  (29, 299)	1
  (29, 246)	1
  (29, 158)	1
  (29, 283)	1

In [76]:
tfidf_transformer7=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer7.fit(word_count7)
df_idf7 = pd.DataFrame(tfidf_transformer7.idf_, index=count7.get_feature_names(),columns=["IDF_Weights"])

In [77]:
tfidf_transformer7=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer7.fit(word_count7)
df_idf7 = pd.DataFrame(tfidf_transformer7.idf_, index=count7.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf7.sort_values(by=['IDF_Weights'],ascending=False)

             IDF_Weights
man             3.740840
neighboring     3.740840
noon            3.740840
north           3.740840
not             3.740840
...                  ...
to              1.794930
hurricane       1.794930
and             1.661398
of              1.389465
the             1.175891

[323 rows x 1 columns]

In [78]:
#tfidf
tf_idf_vector7=tfidf_transformer7.transform(word_count7)
feature_names7 = count7.get_feature_names()

In [79]:
seven_document_vector=tf_idf_vector7[1]
df_tfifd7= pd.DataFrame(seven_document_vector.T.todense(), index=feature_names7, columns=["TF-Idf"])

In [80]:
df_tfifd7.sort_values(by=["TF-Idf"],ascending=False).head(20)

               TF-Idf
serious      0.248001
hit          0.248001
immediately  0.248001
750          0.248001
noon         0.248001
force        0.248001
by           0.248001
the          0.233869
000          0.221121
no           0.221121
full         0.221121
which        0.221121
around       0.221121
injuries     0.221121
city         0.202049
of           0.184231
people       0.175168
was          0.175168
reported     0.164949
were         0.164949

## 8)For the eighth Document

In [81]:
new_data8.set_axis(["Information"],axis=1,inplace=True)
# new_data1.dtypes
new_data8["Information"]=new_data8["Information"].astype('string')

In [82]:
info8=new_data8['Information'].to_numpy()
info8

array(["Communism suffered its first Big Mac attack Thursday as McDonald's opened a restaurant in Yugoslavia, and police were called in to keep customers who lined up for hours from getting too unruly under the golden arches.",
       'I just wanted to taste genuine American hamburgers, said Milica Nikolic, a high school student who waited for three hours to taste her first Big Mac.',
       "People curiously examined the renovated restaurant's plush interior and the back-lit signs depicting the hamburgers, french fries, milk shakes and other fare more familiar in the West.",
       'It also featured amber-colored tables and floors, pastel-colored upholstery, modern art paintings and discreet illumination.',
       'The fast-food outlet, located on a downtown square, had drawn crowds in recent days, and they began gathering long before it opened Thursday.',
       'Police kept watch on the lines of customers snaking around the block, and they regulated the number who came inside to avoid overcrowding.',
       'No opening of a restaurant in Belgrade has created such a sensation as this one today, one policeman said.',
       'I think this restaurant has no competition in Belgrade, said Milica Danic, a housewife who treated her son to a cheeseburger.',
       'It is much cleaner, the service is faster, the interior is nicer and it is not too expensive.',
       "The Belgrade media have suggested that the success of McDonald's in Yugoslavia depends on its acceptance by citizens long accustomed to a hamburger-like fast-food dish called the Pljeskavica: ground pork and onions on a bun.",
       "In fact, this is a clash between the Big Mac and Pljeskavica, said Vesna Milosevic, an official of Genex, a Yugoslav state-run enterprise that has contracted a joint venture agreement with McDonald's.",
       "Our aim is not to destroy the Pljeskavica on the Yugoslav market, said Predrag Dostanic, managing director of the Genex-McDonald's.",
       'We want to change customs of the local people used to completly different eating habits.',
       'He said that lounging at tables for a long time after a finished meal will draw a warning. Also, smoking is forbidden and alcohol will not be served.',
       'This contrasts sharply with the Balkan and Yugoslav custom of sitting with a drink in smoke-filled restaurants and chatting with friends after the meal.',
       'The Big Mac meal, consisting of a hamburger, soft drink and french fries costs the equivalent of 2.57 dollar, or about as much the similar meal would cost in numerous Pljeskavica joints around town.',
       "Sadik Seljami, a waiter in a small Pljeskavica outlet just a few hundred yards from the McDonald's, suggested that the American restaurant wants to drive Yugoslav fast-food outlets out of business.",
       'However, we will not give up the fight even if we have to lower the prices, said Seljami.',
       "Glen Cook, an executive of the McDonald's Corp, said during the opening ceremonies, We are very excited about the opening of this restaurant, not only because it is the first one in a communist country, but also because it is one of the nicest in Europe.",
       "McDonald's and Genex contribute $1 million each for the flagship restaurant.",
       'They will also share the profits equally even though it will be managed entirely by Yugoslavs.',
       'The restaurant has 350 seats and employs 110 people capable of serving 2,500 meals per hour. In an effort to keep a high level of services, the management is entitled to fire any employees who fail to perform.',
       'The American corporation plans to open five additional restaurants Yugoslavia in the next five years.',
       "The next East European McDonald's, and the first in a Soviet bloc country, is to open next month in Budapest, Hungary."],
      dtype=object)

In [83]:
count8 = CountVectorizer()
word_count8=count8.fit_transform(info8)
print(word_count8)

  (0, 53)	1
  (0, 266)	1
  (0, 161)	1
  (0, 120)	1
  (0, 34)	1
  (0, 177)	1
  (0, 24)	1
  (0, 277)	1
  (0, 22)	1
  (0, 182)	1
  (0, 209)	1
  (0, 235)	1
  (0, 156)	2
  (0, 309)	1
  (0, 16)	1
  (0, 226)	1
  (0, 300)	1
  (0, 42)	1
  (0, 279)	1
  (0, 165)	1
  (0, 71)	1
  (0, 302)	1
  (0, 169)	1
  (0, 286)	1
  (0, 125)	1
  :	:
  (22, 236)	1
  (22, 63)	1
  (22, 223)	1
  (22, 208)	1
  (22, 121)	2
  (22, 7)	1
  (22, 194)	1
  (22, 307)	1
  (23, 120)	1
  (23, 182)	1
  (23, 156)	2
  (23, 16)	1
  (23, 279)	1
  (23, 271)	2
  (23, 159)	1
  (23, 66)	1
  (23, 208)	1
  (23, 194)	2
  (23, 91)	1
  (23, 102)	1
  (23, 260)	1
  (23, 35)	1
  (23, 191)	1
  (23, 37)	1
  (23, 153)	1

In [84]:
tfidf_transformer8=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer8.fit(word_count8)
df_idf8 = pd.DataFrame(tfidf_transformer8.idf_, index=count8.get_feature_names(),columns=["IDF_Weights"])

In [85]:
tfidf_transformer8=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer8.fit(word_count8)
df_idf8 = pd.DataFrame(tfidf_transformer8.idf_, index=count8.get_feature_names(),columns=["IDF_Weights"])

#inverse document frequency
df_idf8.sort_values(by=['IDF_Weights'],ascending=False).head(20)

            IDF_Weights
110            3.525729
numerous       3.525729
market         3.525729
meals          3.525729
media          3.525729
milk           3.525729
million        3.525729
milosevic      3.525729
modern         3.525729
month          3.525729
more           3.525729
nicer          3.525729
nicest         3.525729
nikolic        3.525729
number         3.525729
official       3.525729
management     3.525729
onions         3.525729
only           3.525729
or             3.525729

In [86]:
#tfidf
tf_idf_vector8=tfidf_transformer8.transform(word_count8)
feature_names8 = count8.get_feature_names()

In [87]:
eight_document_vector=tf_idf_vector8[1]
df_tfifd8= pd.DataFrame(eight_document_vector.T.todense(), index=feature_names8, columns=["TF-Idf"])

In [88]:
df_tfifd8.sort_values(by=["TF-Idf"],ascending=False).head(20)

              TF-Idf
taste       0.444788
student     0.222394
three       0.222394
waited      0.222394
genuine     0.222394
school      0.222394
wanted      0.222394
nikolic     0.222394
to          0.208651
milica      0.196818
just        0.196818
hamburgers  0.196818
hours       0.196818
high        0.196818
her         0.196818
american    0.178672
big         0.164597
first       0.164597
for         0.164597
mac         0.164597

### Recalling the Headlines

In [89]:
Head_len=len(Head)
Head_len

3

In [90]:
# to select multiple rows
result = Head.iloc[[0,1,2]]
result

                                         Headline
0  Hurricane Gilbert Heads Toward Dominican Coast
1                            IRA terrorist attack
2      McDonald's Opens First Restaurant in China

## B) RapidFuzz

In [91]:
import rapidfuzz as rp
from rapidfuzz import process, fuzz

### Document 1 Testing

#### Indentify as Title 
> **McDonald's Opens First Restaurant in China**

## **Selecting Partial Ratio is provides the optimal results for the String Matching according to News Title**

**Partial Ratio**: It finds the ratio similarity measure between the shorter string and every substring of length m of the longer string, and returns the maximum of those similarity measures. Basically, it searches for the optimal alignment of the shorter string in the longer string and returns the fuzz.ratio for this

### Higher the Value Similaity of the text is increasing. Lower Score gives high chance of mismatches in the text.

In [92]:
info1 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(["Thousands of queue-hardened Soviets on Wednesday cheerfully lined up to get a taste of ''gamburgers'', ''chizburgers'' and ''Filay-o-feesh'' sandwiches as McDonald's opened in the land of Lenin for the first time.",
       "The world's largest version of the landmark American fast-food chain rang up 30,000 meals on 27 cash registers, breaking the opening-day record for McDonald's worldwide, officials said.",
       'The Soviets, bundled in fur coats and hats, seemed unfazed, lining up before dawn outside the 700 seat restaurant, the first of 20 planned across the Soviet Union.',
       'The crush of customers was so intense the company stayed open until midnight, two hours later than planned.',
       'I only waited an hour and I think they served thousands before me, said a happy middle-aged woman who works at an aluminum plant.',
       "And it was only 10 rubles for all this, she said. I'm taking it back for the girls at the factory to try.",
       "Big Macs were priced at 3.75 rubles and double cheeseburgers at 3 rubles about two hours' pay for a starting McDonald's staffer or the average Soviet, but much cheaper than other private restaurants that have sprung up recently.",
       'The official exchange rate is 1.59 dollar per ruble but foreign visitors can buy rubles for 16 cents each, about what the currency is worth on the black market.',
       "Half the day's sales were donated to the Soviet Children's Fund, which provides medical care and assistance to orphans and disadvantaged children, Gary Reinblatt, senior vice president of McDonald's Canada, said from Toronto.",
       "The restaurant, built by the company in a joint venture with the city of Moscow that began 14 years ago, brought to 52 the number of countries where McDonald's operates.",
       "The previous opening-day record for sales was in Budapest, company officials said. Besides its restaurants in the United States, the leading number of McDonald's are in Canada and Japan, the officials said.",
       'Soviets got a first-hand look at such alien concepts as efficiency and fast, friendly service. Normally dour citizens broke into grins as they caught the infectious cheerful mood from youthful Soviet staffers hired for their ability to smile and work hard.',
       'Accordions played folk songs and women in traditional costumes danced with cartoon characters, including Mickey Mouse and Baba Yaga, a witch of Russian fairy tales.',
       'One Muscovite, accustomed to clerks who snarl if they say anything at all, asked for a straw and was startled when a smiling young Soviet woman found him one and popped it straight into his drink.',
       "For most customers, it was their first experience with a hamburger. Sandwiches were served in the familiar bag marked with the golden arches, but were packed in wrappers bearing Cyrillic letters, approximating ``gamburger.''",
       "They tried them one-handed.They picked their sandwiches apart to examine the contents. One young woman finally squashed her ``Beeg Mak'' to fit her lips around it.",
       "''It tasted great!'' a 14 years old boy said.",
       "It's a lot different from a stolovaya,'' he continued with a smile, referring to the much cheaper but run down dirty cafeterias that slop rice and fat or boiled sausage.",
       "Under the sign of the golden arches, accented by the Soviet hammer and sickle flag, hundreds lined up for the long awaited grand opening at 10 am on Pushkin Square, reaching out excitedly for McDonald's flags and pins as the hamburger chain's army fulfilled the Soviet penchant for souvenirs with Western logos.",
       "Publicity conscious managers had the staff shout ''Good morning, America!'' in English and Russian, for an American TV network.",
       "McDonald's of Canada Chairman George Cohon, the man behind the deal, said many people were buying multiple orders and the restaurant served 15,000 to 20,000 people in just the first five hours of operation.",
       'The restaurant limited purchases to 10 Big Macs per customer in hopes of preventing burger scalping.',
       "McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer.",
       "One McDonald's associate said the company wound up importing wooden crates from Finland for storing potatoes because when they went to build crates, they found there was no wood, and no nails.",
       'They found you need a permit to buy nails.'], dtype=object)

In [93]:
 rp.fuzz.partial_ratio("McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer", "McDonald's Opens First Restaurant in China")

55.072463768115945

> Compare Other Article Titles ==> **Which provides Lower Values**

In [94]:
 rp.fuzz.partial_ratio("McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer", "Hurricane Gilbert Heads Toward Dominican Coast")

43.47826086956522

In [95]:
rp.fuzz.partial_ratio("McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer", "IRA terrorist attack")

44.99999999999999

#### Other titles  provide less with text similarity score which means our Selected title is the Correct One

### Document 2 Testing

#### Indentify as Title 
> **Hurricane Gilbert Heads Toward Dominican Coast**

In [96]:
info2 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(['Hurricane Gilbert, packing 110 mph winds and torrential rain, moved over this capital city today after skirting Puerto Rico, Haiti and the Dominican Republic.',
       'There were no immediate reports of casualties.',
       'Telephone communications were affected.',
       "Right now it's actually moving over Jamaica,said Bob Sheets, director of the National Hurricane Center in Miami.",
       "We've already had reports of 110 mph winds on the eastern tip.",
       "It looks like the eye is going to move lengthwise across that island, and they're going to bear the full brunt of this powerful hurricane, Sheets said.",
       'Forecasters say Gilbert was expected to lash Jamaica throughout the day and was on track to later strike the Cayman Islands, a small British dependency northwest of Jamaica.',
       "Meanwhile, Havana Radio reported today that 25,000 people were evacuated from Guantanamo Province on Cuba's southeastern coast as strong winds fanning out from Gilbert began brushing the island.",
       'All Jamaica-bound flights were canceled at Miami International Airport, while flights from Grand Cayman, the main island of the three-island chain, arrived packed with frightened travelers.',
       'People were running around in the main lobby of our hotel (on Grand Cayman) like chickens with their heads cut off, said one vacationer who was returning home to California through Miami.',
       'Hurricane warnings were posted for the Cayman Islands, Cuba and Haiti.',
       'Warnings were discontinued for the Dominican Republic.',
       'All interests in the Western Caribbean should continue to monitor the progress of this dangerous hurricane, the service said, adding, Little change in strength is expected for the next several hours as the hurricane moves westward over Jamaica.',
       'The Associated Press Caribbean headquarters in San Juan, Puerto Rico, was unable to get phone calls through to Kingston, where high winds and heavy rain preceding the storm drenched the capital overnight, toppling trees, causing local flooding and littering streets with branches.',
       'Most Jamaicans stayed home, boarding up windows in preparation for the hurricane.',
       'Some companies broadcast appeals for technicians and electricians to report to work.',
       "The weather bureau predicted Gilbert's center, 140 miles southeast of Kingston before dawn, would pass south of Kingston and hit the southern parish of Clarendon.",
       'Flash flood warnings were issued for the parishes of Portland on the northeast and St. Mary on the north.',
       'The north coast tourist region from Montego Bay on the west and Ocho Rios on the east, far from the southern impact zone and separated by mountains, was expected only to receive heavy rain.',
       'Officials urged residents in the higher risk areas along the south coast to seek higher ground.',
       "It's certainly one of the larger systems we've seen in the Caribbean for a long time, said Hal Gerrish, forecaster at the National Hurricane Center.",
       'Forecasters at the center said the eye of Gilbert was 140 miles southeast of Kingston at dawn today.',
       'Maximum sustained winds were near 110 mph, with tropical-storm force winds extending up to 250 miles to the north and 100 miles to the south.',
       'Prime Minister Edward Seaga of Jamaica alerted all government agencies, saying Sunday night: Hurricane Gilbert appears to be a real threat and everyone should follow the instructions and hurricane precautions issued by the Office of Disaster Preparedness in order to minimize the danger.',
       'Forecasters said the hurricane had been gaining strength as it passed over the ocean after it dumped 5 to 10 inches of rain on the Dominican Republic and Haiti, which share the island of Hispaniola.',
       "We should know within about 72 hours whether it's going to be a major threat to the United States,'' said Martin Nelson, another meteorologist at the center.",
       "It's moving at about 17 mph to the west and normally hurricanes take a northward turn after they pass central Cuba.",
       "Cuba's official Prensa Latina news agency said a state of alert was declared at midday in the Cuban provinces of Guantanamo, Holguin, Santiago de Cuba and Granma.",
       'In the report from Havana received in Mexico City, Prensa Latina said civil defense officials were broadcasting bulletins on national radio and television recommending emergency measures and providing information on the storm.',
       "Heavy rain and stiff winds downed power lines and caused flooding in the Dominican Republic on Sunday night as the hurricane's center passed just south of the Barahona peninsula, then less than 100 miles from neighboring Haiti.",
       "The storm ripped the roofs off houses and flooded coastal areas of southwestern Puerto Rico after reaching hurricane strength off the island's southeast Saturday night.",
       'Flights were canceled Sunday in the Dominican Republic, where civil defense director Eugenio Cabral reported some flooding in parts of the capital of Santo Domingo and power outages there and in other southern areas.'],
      dtype=object)

In [97]:
 rp.fuzz.partial_ratio("Hurricane Gilbert, packing 110 mph winds and torrential rain, moved over this capital city today after skirting Puerto Rico, Haiti and the Dominican Republic.", "Hurricane Gilbert Heads Toward Dominican Coast")

60.86956521739131

> Compare Other Article Titles ==> **Which provides Lower Values**

In [98]:
rp.fuzz.partial_ratio("Hurricane Gilbert, packing 110 mph winds and torrential rain, moved over this capital city today after skirting Puerto Rico, Haiti and the Dominican Republic.", "IRA terrorist attack")

50.0

In [99]:
 rp.fuzz.partial_ratio("Hurricane Gilbert, packing 110 mph winds and torrential rain, moved over this capital city today after skirting Puerto Rico, Haiti and the Dominican Republic.", "McDonald's Opens First Restaurant in China")

40.476190476190474

### Document 3 Testing

#### Indentify as Title 
> **Hurricane Gilbert Heads Toward Dominican Coast**

In [100]:
info3 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(['Hurricane Gilbert swept toward the Dominican Republic Sunday, and the Civil Defense alerted its heavily populated south coast to prepare for high winds, heavy rains and high seas.',
       'The storm was approaching from the southeast with sustained winds of 75 mph gusting to 92 mph.',
       'There is no need for alarm, Civil Defense Director Eugenio Cabral said in a television alert shortly before midnight Saturday.',
       "Cabral said residents of the province of Barahona should closely follow Gilbert's movement.",
       'An estimated 100,000 people live in the province, including 70,000 in the city of Barahona, about 125 miles west of Santo Domingo.',
       'Tropical Storm Gilbert formed in the eastern Caribbean and strengthened into a hurricane Saturday night.',
       'The National Hurricane Center in Miami reported its position at 2 a.m.',
       'Sunday at latitude 16.1 north, longitude 67.5 west, about 140 miles south of Ponce, Puerto Rico, and 200 miles southeast of Santo Domingo.',
       'The National Weather Service in San Juan, Puerto Rico, said Gilbert was moving westward at 15 mph with a broad area of cloudiness and heavy weather rotating around the center of the storm.',
       'The weather service issued a flash flood watch for Puerto Rico and the Virgin Islands until at least 6 p.m. Sunday.',
       "Strong winds associated with the Gilbert brought coastal flooding, strong southeast winds and up to 12 feet feet to Puerto Rico's south coast.",
       'There were no reports of casualties.',
       'San Juan, on the north coast, had heavy rains and gusts Saturday, but they subsided during the night.',
       'On Saturday, Hurricane Florence was downgraded to a tropical storm and its remnants pushed inland from the Gulf Coast.',
       'Residents returned home, happy to find little damage from 80 mph winds and sheets of rain.',
       'Florence, the sixth named storm of the 1988 Atlantic storm season, was the second hurricane.',
       'The first, Debby, reached minimal hurricane strength briefly before hitting the Mexican coast last month.'],
      dtype=object)

In [101]:
 rp.fuzz.partial_ratio("Hurricane Gilbert swept toward the Dominican Republic Sunday, and the Civil Defense alerted its heavily populated south coast to prepare for high winds, heavy rains and high seas.", "Hurricane Gilbert Heads Toward Dominican Coast")

79.12087912087912

> Compare Other Article Titles ==> **Which provides Lower Values**

In [102]:
rp.fuzz.partial_ratio("Hurricane Gilbert swept toward the Dominican Republic Sunday, and the Civil Defense alerted its heavily populated south coast to prepare for high winds, heavy rains and high seas.", "IRA terrorist attack")

40.0

In [103]:
 rp.fuzz.partial_ratio("Hurricane Gilbert swept toward the Dominican Republic Sunday, and the Civil Defense alerted its heavily populated south coast to prepare for high winds, heavy rains and high seas.", "McDonald's Opens First Restaurant in China")

42.85714285714286

### Document 4 Testing

#### Indentify as Title 
> **IRA terrorist attack**

In [104]:
info4 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(['An explosion today flattened a military barracks and tore through nearby homes, killing 11 people and injuring 22, police said.',
       'The IRA claimed responsibility for the blast.',
       'More than 100 rescue workers frantically dug through the rubble of a three-story building that collapsed at the Royal Marines School of Music near Deal.',
       'Stunned neighbors gathered outside homes that were damaged or destroyed.',
       'Chief Police Inspector Alan Butterfield of Kent, who who provided the casualty figures and coordinated the rescue effort, first reported that one person was missing but later said everyone was accounted for.',
       'He said many of the injured were seriously hurt.',
       'There was a terrific crash which reminded me of the Blitz.',
       'After that, the ceiling started to fall down around me, said pensioner Joan Betteridge.',
       'Defense Secretary Tom King, inspecting the wreckage, said, It is not yet absolutely confirmed that it is a bomb, but all the evidence is quite clearly that this is an IRA atrocity.',
       "British military installations are a frequent bombing target of the Irish Republican Army in its campaign to rid Northern Ireland of British rule, but today's explosion in the coastal town 70 miles southeast of London was the worst IRA attack on the British mainland in more than seven years.",
       'The explosion occurred at at 8:26 a.m. in a lounge in thebarracks.',
       'One of the bands had just stopped playing on the parade ground, said a ministry spokesman, speaking anonymously in keeping with British custom.',
       'Dozens of homes near the school were damaged, including four that were destroyed. Witnesses reported hearing the explosion two miles away.',
       'The Defense Ministry would not say how many servicemen and civilians were included in the casualty figures.',
       'However, King told reporters the attack was directed against unarmed bandsmen.',
       'Firefighters used heavy lifting equipment and thermal cameras to search through the debris, said Kent Fire Brigade spokesman Kevin Simmons.',
       'Ten doctors were giving emergency treatment at the scene and 11 ambulances were taking the injured to two hospitals, the ambulance service said.',
       "A statement telephoned to Ireland International, a Dublin news agency, said, we have visited the Royal Marines in Kent in response to Prime Minister Margaret Thatcher's visit to Northern Ireland nine days ago.",
       'The IRA said Mrs Thatcher went to the British province with a message of war,but we still want peace and we want the British government to leave our country.',
       "It was signed P. O'Neill, a nom de guerre the IRA usually uses to claim responsibility for actions outside Northern Ireland.",
       'Irish Prime Minister Charles Haughey issued a statement in Dublin condemning the attack, calling it an outrage.',
       'The last IRA bomb attempt on the British mainland was in February when about 60 soldiers were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.',
       'One soldier was killed and nine wounded in an IRA bomb attack on an army barracks in north London in August 1988.',
       "In July 1982, eight soldiers died in IRA bombings near the Household Cavalry barracks in central London and at a bandstand in the capital's Regent's Park where an army band was playing.",
       'Three people died later and a total of 51 were injured in the bombings.',
       'The music school is the training center for young recruits who want to play in the seven Royal Marines bands.',
       'Up to 250 young men, most between 16 and 20, are based at the school, where they receive military and musical training.',
       "The roof of Janet Minnock's house was torn off by the force of the blast and all the back windows were shattered.",
       'The house has been blown to bits, she said.',
       'We are all shaken up.',
       "Mrs Minnock's next-door neighbor, Heather Hackett, said she was standing at her kitchen window facing the barracks at the time of the explosion.",
       'She was holding her 4 months old son Luke in her arms with her other boys, Ben and Joshua at her side.',
       'I looked up from the sink and I just saw the whole building explode,she said.',
       'I told the boys to run and as Joshua turned a slither of glass embedded itself in his back.',
       'The whole window was blown across the kitchen.',
       'I just screamed and ran out of the room.',
       'The bang was so loud I thought the whole house was coming in.',
       'Sean Minnock said, I was asleep but woke up with a hell of a jolt.',
       'As workers tried to patch holes in his roof, he said: The bedroom ceiling fell in on me.',
       'I woke to find huge slabs of plaster on the bed and floor.',
       'I wondered what it was.',
       'As soon as I got up I looked out of what was left of the window and knew it was the barracks.'],
      dtype=object)

In [105]:
 rp.fuzz.partial_ratio("The IRA said Mrs Thatcher went to the British province with a message of war,but we still want peace and we want the British government to leave our country.", "IRA terrorist attack")

50.0

> Compare Other Article Titles ==> **Which provides Lower Values**

In [106]:
rp.fuzz.partial_ratio("The IRA said Mrs Thatcher went to the British province with a message of war,but we still want peace and we want the British government to leave our country.", "Hurricane Gilbert Heads Toward Dominican Coast")

41.30434782608695

In [107]:
 rp.fuzz.partial_ratio("The IRA said Mrs Thatcher went to the British province with a message of war,but we still want peace and we want the British government to leave our country.", "McDonald's Opens First Restaurant in China")

40.476190476190474

### Document 5 Testing

#### Indentify the as Title 
> **IRA terrorist attack**

In [108]:
info5 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(['Neighbors were breakfasting, heading to work or asleep in bed when an explosion at a military barracks turned their homes to rubble and they were confronted with the sight of  bodies being carried away.',
       'There was a terrific crash which reminded me of the Blitz.',
       'After that, the ceiling started to fall down around me, said Joan Betteridge, a pensioner in the southern England town of Deal, where the blast at the Royal Marines School of Music occurred.',
       'The Irish Republican Army claimed reponsibilty for the explosion, which police said killed 11 people and injured 22.',
       'Nearby resident Sean Minnock said, I was asleep but woke up with a hell of a jolt, the bedroom ceiling fell in on me.',
       'I woke to find huge slabs of plaster on the bed and floor.',
       'From the wrecked, smoke-clouded barracks, I could hear terrified screams of agony.',
       'People started rushing about all over the place.',
       'It was horrible to watch and listen to, said Minnock.',
       'I knew people had been seriously hurt. I saw the rescuers pull out two bodies.',
       'I knew they were dead when they put them on the floor and put bed blankets right over them.',
       "Minnock's wife, Janet, said the roof of their house was torn off and all the back windows were shattered.",
       'The house has been blown to bits, she said.',
       'Mrs. Minnock was feeding her 2 years old son Thomas his breakfast when the explosion wrecked four terraced houses in the street backing onto the barracks.',
       'Her next-door neighbor, Heather Hackett, was standing at her kitchen window facing the barracks, holding her 4-month-old son Luke in her arms.',
       'Her other boys, Ben and Joshua were at her side.',
       'I looked up from the sink and I just saw the whole building explode,she said.',
       'I told the boys to run and as Joshua turned a sliver of glass embedded itself in his back.',
       'The whole window was blown across the kitchen.',
       'I just screamed and ran out of the room.',
       'The bang was so loud I thought the whole house was coming in.',
       'At first I thought for sure Joshua had been seriously injured.',
       'There was blood coming out of his back.',
       'Doctors removed the glass and sent him home.',
       'College student Simon Mitford, narrowly escaped being injured in the explosion because he got up earlier than usual.',
       'His room was completely wrecked by the blast, his brother Alex said.',
       'Of the barracks, he said, I heard music playing and then it went bang and there was glass everywhere.',
       'It was a two-story building but now 90 percent of it is rubble.',
       'I heard a marine scream out, The band is under there.',
       'I was scared there was going to be a second explosion.'],
      dtype=object)

In [109]:
 rp.fuzz.partial_ratio("The IRA claimed reponsibilty for the explosion, which police said killed 11 people and injured 22", "IRA terrorist attack")

40.0

> Compare Other Article Titles ==> **Which provides Lower Values**

In [110]:
rp.fuzz.partial_ratio("The IRA claimed reponsibilty for the explosion, which police said killed 11 people and injured 22", "Hurricane Gilbert Heads Toward Dominican Coast")

37.2093023255814

In [111]:
 rp.fuzz.partial_ratio("The Irish Republican Army claimed reponsibilty for the explosion", "McDonald's Opens First Restaurant in China")

37.5

### Document 6 Testing

#### Indentify the as Title 
> **IRA terrorist attack**

In [112]:
info6 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(['An explosion rocked the Royal Marines School of Music in a southeastern coastal town today, causing one building to collapse and killing eight people, officials said.',
       'Thirty people were injured and up to 18 were missing and feared trapped in the rubble.',
       'The blast occurred at at 8:26 a.m. in a lounge in the barracks near Deal, about 70 miles southeast of London, the Defense Ministry said.',
       'The building has collapsed, said a ministry spokesman, speaking anonymously in keeping with British custom.',
       "We've no idea of the cause of the blast at the moment.",
       'It is too early to tell.',
       'Scotland Yard said a forensic team from its antiterrorist squad had been called in to help investigate.',
       'Firefighters used heavy lifting equipment and thermal cameras to search for those trapped in the debris, said Kent Fire Brigade spokesman Kevin Simmons.',
       'Kent police said 17 or 18 people were trapped.',
       'The Defense Ministry said seven were missing.',
       'Ten doctors gave emergency treatment at the scene and 11 ambulances took the injured to two hospitals, the ambulance service said.',
       'They are suffering from flash burns to their head and arms, fractures, and the sort of injuries you would expect after an explosion, said a spokesman for Buckland Hospital in Dover, 20 miles south of Deal.',
       'South Eastern British Gas sent investigators to the scene but said there was nothing to indicate the explosion was caused by a gas leak.',
       'Gas supplies to the barracks were cut as a precautionary measure, a spokesman said.',
       'Guy Platts, who owns a bookstore in Deal, located 20 miles north of the English Channel port of Dover, said he heard a massive explosion.',
       'There are dozens of ambulances, police and fire brigade making their way there.',
       'Military targets on the British mainland have been attacked several times by the Irish Republican Army in the past year as part of its campaign to rid Northern Ireland of British rule.',
       'One soldier was killed and nine wounded in an IRA attack on an army barracks in north London in August 1988. About 60 soldiers narrowly escaped death or injury in February when they were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.',
       "In July 1982, eight soldiers died in IRA bombings near the Household Cavalry barracks at Knightsbridge in central London and at a bandstand in the capital's Regent's Park where an army band was playing.",
       'Three people died later and a total of 51 were injured in the bombings.'],
      dtype=object)

In [113]:
 rp.fuzz.partial_ratio("One soldier was killed and nine wounded in an IRA attack on an army barracks in north London in August 1988. About 60 soldiers narrowly escaped death or injury in February when they were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.", "IRA terrorist attack")

50.0

> Compare Other Article Titles ==> **Which provides Lower Values**

In [114]:
rp.fuzz.partial_ratio("One soldier was killed and nine wounded in an IRA attack on an army barracks in north London in August 1988. About 60 soldiers narrowly escaped death or injury in February when they were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.", "Hurricane Gilbert Heads Toward Dominican Coast")

44.99999999999999

In [115]:
 rp.fuzz.partial_ratio("One soldier was killed and nine wounded in an IRA attack on an army barracks in north London in August 1988. About 60 soldiers narrowly escaped death or injury in February when they were evacuated from their barracks in Shropshire, western England, just before a bomb exploded.", "McDonald's Opens First Restaurant in China")

42.85714285714286

### Document 7 Testing

#### Indentify the as Title 
> **Hurricane Gilbert Heads Toward Dominican Coast**

In [116]:
info7 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(['Hurricane Gilbert slammed into Kingston on Monday with torrential rains and 115 mph winds that ripped roofs off homes and buildings, uprooted trees and downed power lines.',
       'No serious injuries were immediately reported in the city of 750,000 people, which was hit by the full force of the hurricane around noon.',
       'For half an hour, the hurricane lashed the city, tearing branches from trees, blowing down fences and whipping paper through the air.',
       "The National Weather Service reported heavy damage to Kingston's airport and aircraft parked on its fields.",
       'The first shock let up as the eye of the storm moved across the city.',
       'Skies brightened, the winds died down and people waited for an hour before the second blow of the hurricane arrived.',
       'All Jamaica-bound flights were canceled at Miami International Airport.',
       'Flights from the Cayman Islands, reportedly next in the path of the hurricane, arrived in Miami packed with travelers cutting short their vacations.',
       'People were running around in the main lobby of our hotel (on Grand Cayman Island) like chickens with their heads cut off said one man.',
       'A National Weather Service report said the hurricane was moving west at 17 mph with maximum sustained winds of 115 mph.',
       'It said Jamaica would receive up to 10 inches of rain that would cause flash floods and mud slides.',
       "Right now it's actually moving over Jamaica, said Bob Sheets, director of the National Hurricane Center in Miami.",
       "It looks like the eye is going to move lengthwise across that island, and they're going to bear the full brunt of this powerful hurricane, he said.",
       'Gilbert reached Jamaica after skirting southern Puerto Rico, Haiti and the Dominican Republic.',
       'Hurricane warnings were issued Monday for the south coast of Cuba east of Camaguey, the Cayman Islands, and Haiti, while warnings were discontinued for the Dominican Republic.',
       'High winds and heavy rain preceding the storm drenched Kingston overnight, toppling trees, causing local flooding and littering streets with branches.',
       "Most of Jamaica's 2.3 million people stayed home, boarding up windows in preparation for the hurricane.",
       'The popular north coast resort area, on the other side of the mountains, was expected to receive heavy rain but not as much damage from the hurricane as the south coast, where officials urged residents to seek higher ground.',
       "Havana Radio, meanwhile, reported Monday that 25,000 people were evacuated from coastal areas in Guantanamo Province on the nation's southeastern coast as Gilbert's winds and rain began to brush the island.",
       'In Washington, the Navy reported its bases at Guantanamo Bay, Cuba, and Roosevelt Roads, Puerto Rico, had taken various precautionary steps but appeared to be safe from the brunt of the hurricane.',
       'Ken Ross, a spokesman, said the Navy station at Guantanamo reported that as of 2:30 p.m. EDT, the brunt of the storm appeared to be passing southeastern Cuba.',
       'They have reported maximum winds of 25 knots and gusts up to 50 knots,said Ross.',
       'But there are no reports of injuries or damage.',
       'The spokesman said earlier in the day, Guantanamo had moved to Condition Two, meaning electrical power usage was cut back to only essential uses and all non-essential personnel sent to their barracks.',
       'The storm also skirted Puerto Rico without causing any damage to military facilities, Ross said.',
       'Sheets said Gilbert was expected next to sweep over the Cayman Islands, on its westward track, and in two to three days veer northwest into the southern Gulf of Mexico.',
       'Residents of the neighboring Caymans, a British dependency to the northwest, were urged to rush all preparatory actions.',
       'The National Weather Service warned that the Caymans could expect high waters and large waves which may undermine buildings along the beaches.',
       'All interests in the Western Caribbean should continue to monitor the progress of this dangerous hurricane, the service advised.',
       "Forecaster Hal Gerrish on Sunday described Gilbert certainly one of the larger systems we've seen in the Caribbean for a long time."],
      dtype=object)

In [117]:
rp.fuzz.partial_ratio("Hurricane Gilbert slammed into Kingston on Monday with torrential rains and 115 mph winds that ripped roofs off homes and buildings, uprooted trees and downed power lines.", "Hurricane Gilbert Heads Toward Dominican Coast")

67.46987951807229

> Compare Other Article Titles ==> **Which provides Lower Values**

In [118]:
 rp.fuzz.partial_ratio("Hurricane Gilbert slammed into Kingston on Monday with torrential rains and 115 mph winds that ripped roofs off homes and buildings, uprooted trees and downed power lines.", "IRA terrorist attack")

44.99999999999999

In [119]:
 rp.fuzz.partial_ratio("Hurricane Gilbert slammed into Kingston on Monday with torrential rains and 115 mph winds that ripped roofs off homes and buildings, uprooted trees and downed power lines..", "McDonald's Opens First Restaurant in China")

42.85714285714286

### Document 8 Testing

#### Indentify the as Title 
> **McDonald's Opens First Restaurant in China**

In [120]:
info8 #text will be extracted from the text files Respectivly for testing to verify our prediction is correct

array(["Communism suffered its first Big Mac attack Thursday as McDonald's opened a restaurant in Yugoslavia, and police were called in to keep customers who lined up for hours from getting too unruly under the golden arches.",
       'I just wanted to taste genuine American hamburgers, said Milica Nikolic, a high school student who waited for three hours to taste her first Big Mac.',
       "People curiously examined the renovated restaurant's plush interior and the back-lit signs depicting the hamburgers, french fries, milk shakes and other fare more familiar in the West.",
       'It also featured amber-colored tables and floors, pastel-colored upholstery, modern art paintings and discreet illumination.',
       'The fast-food outlet, located on a downtown square, had drawn crowds in recent days, and they began gathering long before it opened Thursday.',
       'Police kept watch on the lines of customers snaking around the block, and they regulated the number who came inside to avoid overcrowding.',
       'No opening of a restaurant in Belgrade has created such a sensation as this one today, one policeman said.',
       'I think this restaurant has no competition in Belgrade, said Milica Danic, a housewife who treated her son to a cheeseburger.',
       'It is much cleaner, the service is faster, the interior is nicer and it is not too expensive.',
       "The Belgrade media have suggested that the success of McDonald's in Yugoslavia depends on its acceptance by citizens long accustomed to a hamburger-like fast-food dish called the Pljeskavica: ground pork and onions on a bun.",
       "In fact, this is a clash between the Big Mac and Pljeskavica, said Vesna Milosevic, an official of Genex, a Yugoslav state-run enterprise that has contracted a joint venture agreement with McDonald's.",
       "Our aim is not to destroy the Pljeskavica on the Yugoslav market, said Predrag Dostanic, managing director of the Genex-McDonald's.",
       'We want to change customs of the local people used to completly different eating habits.',
       'He said that lounging at tables for a long time after a finished meal will draw a warning. Also, smoking is forbidden and alcohol will not be served.',
       'This contrasts sharply with the Balkan and Yugoslav custom of sitting with a drink in smoke-filled restaurants and chatting with friends after the meal.',
       'The Big Mac meal, consisting of a hamburger, soft drink and french fries costs the equivalent of 2.57 dollar, or about as much the similar meal would cost in numerous Pljeskavica joints around town.',
       "Sadik Seljami, a waiter in a small Pljeskavica outlet just a few hundred yards from the McDonald's, suggested that the American restaurant wants to drive Yugoslav fast-food outlets out of business.",
       'However, we will not give up the fight even if we have to lower the prices, said Seljami.',
       "Glen Cook, an executive of the McDonald's Corp, said during the opening ceremonies, We are very excited about the opening of this restaurant, not only because it is the first one in a communist country, but also because it is one of the nicest in Europe.",
       "McDonald's and Genex contribute $1 million each for the flagship restaurant.",
       'They will also share the profits equally even though it will be managed entirely by Yugoslavs.',
       'The restaurant has 350 seats and employs 110 people capable of serving 2,500 meals per hour. In an effort to keep a high level of services, the management is entitled to fire any employees who fail to perform.',
       'The American corporation plans to open five additional restaurants Yugoslavia in the next five years.',
       "The next East European McDonald's, and the first in a Soviet bloc country, is to open next month in Budapest, Hungary."],
      dtype=object)

In [121]:
 rp.fuzz.partial_ratio("The next East European McDonald's, and the first in a Soviet bloc country, is to open next month in Budapest, Hungary", "McDonald's Opens First Restaurant in China")

52.38095238095239

> Compare Other Article Titles ==> **Which provides Lower Values**

In [122]:
rp.fuzz.partial_ratio("The next East European McDonald's, and the first in a Soviet bloc country, is to open next month in Budapest, Hungary", "Hurricane Gilbert Heads Toward Dominican Coast")

41.860465116279066

In [123]:
 rp.fuzz.partial_ratio("The next East European McDonald's, and the first in a Soviet bloc country, is to open next month in Budapest, Hungary", "IRA terrorist attack")

40.0

> **According to this results Lets Validate the Prediction with Cosin-Similarity**

## C) Finding Cosin Similarity

### Topics that content needs to identify
### Verifying Previous 2 methods results
> Hurricane Gilbert Heads Toward Dominican Coast =>> **Head.iloc[0]**

> IRA terrorist attack =>>  **Head.iloc[1]**

> McDonald's Opens First Restaurant in China **Head.iloc[2]**

#### Creating Vectorize Vocabulary to identify common Words

In [124]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel

In [125]:
# opening the text files and copying to variables
def text_string(file_name):
    text = ''
    with open(file_name,"r") as provided_file:
        for line in provided_file:
   
            # reading each word        
            for word in line.split():
                text = text + word + ' '  
        
        return text.strip()

In [126]:
news_1 = text_string(read_files[0])
news_2 = text_string(read_files[1])
news_3 = text_string(read_files[2])
news_4 = text_string(read_files[3])
news_5 = text_string(read_files[4])
news_6 = text_string(read_files[5])
news_7 = text_string(read_files[6])
news_8 = text_string(read_files[7])

In [127]:
# create a corpus by using assigned variables
News_corpus = [news_1, news_2, news_3 ,news_4, news_5, news_6, news_7, news_8]

In [128]:
stop_words=stopwords.words('english')

In [129]:
import nltk
import string

In [131]:
def preprocessing(News_corpus):
  vec = []
  for word in News_corpus:                     #Examines individual words within the document array
    if(word not in stop_words):             #The word is discarded if it's a stop word
      if(word not in string.punctuation):   #If the read word is a special character it's discarded
        word = word.lower()                 #Coverts to lowercase

        vec.append(word);
  return vec

In [132]:
for i in range(8):
  #print("\nDocument 0"+str(i+1))
  preprocessing(News_corpus[i])
  print(News_corpus[i])

Thousands of queue-hardened Soviets on Wednesday cheerfully lined up to get a taste of ''gamburgers'', ''chizburgers'' and ''Filay-o-feesh'' sandwiches as McDonald's opened in the land of Lenin for the first time. The world's largest version of the landmark American fast-food chain rang up 30,000 meals on 27 cash registers, breaking the opening-day record for McDonald's worldwide, officials said. The Soviets, bundled in fur coats and hats, seemed unfazed, lining up before dawn outside the 700 seat restaurant, the first of 20 planned across the Soviet Union. The crush of customers was so intense the company stayed open until midnight, two hours later than planned. I only waited an hour and I think they served thousands before me, said a happy middle-aged woman who works at an aluminum plant. And it was only 10 rubles for all this, she said. I'm taking it back for the girls at the factory to try. Big Macs were priced at 3.75 rubles and double cheeseburgers at 3 rubles about two hours' pay for a starting McDonald's staffer or the average Soviet, but much cheaper than other private restaurants that have sprung up recently. The official exchange rate is 1.59 dollar per ruble but foreign visitors can buy rubles for 16 cents each, about what the currency is worth on the black market. Half the day's sales were donated to the Soviet Children's Fund, which provides medical care and assistance to orphans and disadvantaged children, Gary Reinblatt, senior vice president of McDonald's Canada, said from Toronto. The restaurant, built by the company in a joint venture with the city of Moscow that began 14 years ago, brought to 52 the number of countries where McDonald's operates. The previous opening-day record for sales was in Budapest, company officials said. Besides its restaurants in the United States, the leading number of McDonald's are in Canada and Japan, the officials said. Soviets got a first-hand look at such alien concepts as efficiency and fast, friendly service. Normally dour citizens broke into grins as they caught the infectious cheerful mood from youthful Soviet staffers hired for their ability to smile and work hard. Accordions played folk songs and women in traditional costumes danced with cartoon characters, including Mickey Mouse and Baba Yaga, a witch of Russian fairy tales. One Muscovite, accustomed to clerks who snarl if they say anything at all, asked for a straw and was startled when a smiling young Soviet woman found him one and popped it straight into his drink. For most customers, it was their first experience with a hamburger. Sandwiches were served in the familiar bag marked with the golden arches, but were packed in wrappers bearing Cyrillic letters, approximating ``gamburger.'' They tried them one-handed.They picked their sandwiches apart to examine the contents. One young woman finally squashed her ``Beeg Mak'' to fit her lips around it. ''It tasted great!'' a 14 years old boy said. It's a lot different from a stolovaya,'' he continued with a smile, referring to the much cheaper but run down dirty cafeterias that slop rice and fat or boiled sausage. Under the sign of the golden arches, accented by the Soviet hammer and sickle flag, hundreds lined up for the long awaited grand opening at 10 am on Pushkin Square, reaching out excitedly for McDonald's flags and pins as the hamburger chain's army fulfilled the Soviet penchant for souvenirs with Western logos. Publicity conscious managers had the staff shout ''Good morning, America!'' in English and Russian, for an American TV network. McDonald's of Canada Chairman George Cohon, the man behind the deal, said many people were buying multiple orders and the restaurant served 15,000 to 20,000 people in just the first five hours of operation. The restaurant limited purchases to 10 Big Macs per customer in hopes of preventing burger scalping. McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer. One McDonald's associate said the company wound up importing wooden crates from Finland for storing potatoes because when they went to build crates, they found there was no wood, and no nails. They found you need a permit to buy nails.
Hurricane Gilbert, packing 110 mph winds and torrential rain, moved over this capital city today after skirting Puerto Rico, Haiti and the Dominican Republic. There were no immediate reports of casualties. Telephone communications were affected. Right now it's actually moving over Jamaica,said Bob Sheets, director of the National Hurricane Center in Miami. We've already had reports of 110 mph winds on the eastern tip. It looks like the eye is going to move lengthwise across that island, and they're going to bear the full brunt of this powerful hurricane, Sheets said. Forecasters say Gilbert was expected to lash Jamaica throughout the day and was on track to later strike the Cayman Islands, a small British dependency northwest of Jamaica. Meanwhile, Havana Radio reported today that 25,000 people were evacuated from Guantanamo Province on Cuba's southeastern coast as strong winds fanning out from Gilbert began brushing the island. All Jamaica-bound flights were canceled at Miami International Airport, while flights from Grand Cayman, the main island of the three-island chain, arrived packed with frightened travelers. People were running around in the main lobby of our hotel (on Grand Cayman) like chickens with their heads cut off, said one vacationer who was returning home to California through Miami. Hurricane warnings were posted for the Cayman Islands, Cuba and Haiti. Warnings were discontinued for the Dominican Republic. All interests in the Western Caribbean should continue to monitor the progress of this dangerous hurricane, the service said, adding, Little change in strength is expected for the next several hours as the hurricane moves westward over Jamaica. The Associated Press Caribbean headquarters in San Juan, Puerto Rico, was unable to get phone calls through to Kingston, where high winds and heavy rain preceding the storm drenched the capital overnight, toppling trees, causing local flooding and littering streets with branches. Most Jamaicans stayed home, boarding up windows in preparation for the hurricane. Some companies broadcast appeals for technicians and electricians to report to work. The weather bureau predicted Gilbert's center, 140 miles southeast of Kingston before dawn, would pass south of Kingston and hit the southern parish of Clarendon. Flash flood warnings were issued for the parishes of Portland on the northeast and St. Mary on the north. The north coast tourist region from Montego Bay on the west and Ocho Rios on the east, far from the southern impact zone and separated by mountains, was expected only to receive heavy rain. Officials urged residents in the higher risk areas along the south coast to seek higher ground. It's certainly one of the larger systems we've seen in the Caribbean for a long time, said Hal Gerrish, forecaster at the National Hurricane Center. Forecasters at the center said the eye of Gilbert was 140 miles southeast of Kingston at dawn today. Maximum sustained winds were near 110 mph, with tropical-storm force winds extending up to 250 miles to the north and 100 miles to the south. Prime Minister Edward Seaga of Jamaica alerted all government agencies, saying Sunday night: Hurricane Gilbert appears to be a real threat and everyone should follow the instructions and hurricane precautions issued by the Office of Disaster Preparedness in order to minimize the danger. Forecasters said the hurricane had been gaining strength as it passed over the ocean after it dumped 5 to 10 inches of rain on the Dominican Republic and Haiti, which share the island of Hispaniola. We should know within about 72 hours whether it's going to be a major threat to the United States,'' said Martin Nelson, another meteorologist at the center. It's moving at about 17 mph to the west and normally hurricanes take a northward turn after they pass central Cuba. Cuba's official Prensa Latina news agency said a state of alert was declared at midday in the Cuban provinces of Guantanamo, Holguin, Santiago de Cuba and Granma. In the report from Havana received in Mexico City, Prensa Latina said civil defense officials were broadcasting bulletins on national radio and television recommending emergency measures and providing information on the storm. Heavy rain and stiff winds downed power lines and caused flooding in the Dominican Republic on Sunday night as the hurricane's center passed just south of the Barahona peninsula, then less than 100 miles from neighboring Haiti. The storm ripped the roofs off houses and flooded coastal areas of southwestern Puerto Rico after reaching hurricane strength off the island's southeast Saturday night. Flights were canceled Sunday in the Dominican Republic, where civil defense director Eugenio Cabral reported some flooding in parts of the capital of Santo Domingo and power outages there and in other southern areas.
Hurricane Gilbert swept toward the Dominican Republic Sunday, and the Civil Defense alerted its heavily populated south coast to prepare for high winds, heavy rains and high seas. The storm was approaching from the southeast with sustained winds of 75 mph gusting to 92 mph. There is no need for alarm, Civil Defense Director Eugenio Cabral said in a television alert shortly before midnight Saturday. Cabral said residents of the province of Barahona should closely follow Gilbert's movement. An estimated 100,000 people live in the province, including 70,000 in the city of Barahona, about 125 miles west of Santo Domingo. Tropical Storm Gilbert formed in the eastern Caribbean and strengthened into a hurricane Saturday night. The National Hurricane Center in Miami reported its position at 2 a.m. Sunday at latitude 16.1 north, longitude 67.5 west, about 140 miles south of Ponce, Puerto Rico, and 200 miles southeast of Santo Domingo. The National Weather Service in San Juan, Puerto Rico, said Gilbert was moving westward at 15 mph with a broad area of cloudiness and heavy weather rotating around the center of the storm. The weather service issued a flash flood watch for Puerto Rico and the Virgin Islands until at least 6 p.m. Sunday. Strong winds associated with the Gilbert brought coastal flooding, strong southeast winds and up to 12 feet feet to Puerto Rico's south coast. There were no reports of casualties. San Juan, on the north coast, had heavy rains and gusts Saturday, but they subsided during the night. On Saturday, Hurricane Florence was downgraded to a tropical storm and its remnants pushed inland from the Gulf Coast. Residents returned home, happy to find little damage from 80 mph winds and sheets of rain. Florence, the sixth named storm of the 1988 Atlantic storm season, was the second hurricane. The first, Debby, reached minimal hurricane strength briefly before hitting the Mexican coast last month.
An explosion today flattened a military barracks and tore through nearby homes, killing 11 people and injuring 22, police said. The IRA claimed responsibility for the blast. More than 100 rescue workers frantically dug through the rubble of a three-story building that collapsed at the Royal Marines School of Music near Deal. Stunned neighbors gathered outside homes that were damaged or destroyed. Chief Police Inspector Alan Butterfield of Kent, who who provided the casualty figures and coordinated the rescue effort, first reported that one person was missing but later said everyone was accounted for. He said many of the injured were seriously hurt. There was a terrific crash which reminded me of the Blitz. After that, the ceiling started to fall down around me, said pensioner Joan Betteridge. Defense Secretary Tom King, inspecting the wreckage, said, It is not yet absolutely confirmed that it is a bomb, but all the evidence is quite clearly that this is an IRA atrocity. British military installations are a frequent bombing target of the Irish Republican Army in its campaign to rid Northern Ireland of British rule, but today's explosion in the coastal town 70 miles southeast of London was the worst IRA attack on the British mainland in more than seven years. The explosion occurred at at 8:26 a.m. in a lounge in thebarracks. One of the bands had just stopped playing on the parade ground, said a ministry spokesman, speaking anonymously in keeping with British custom. Dozens of homes near the school were damaged, including four that were destroyed. Witnesses reported hearing the explosion two miles away. The Defense Ministry would not say how many servicemen and civilians were included in the casualty figures. However, King told reporters the attack was directed against unarmed bandsmen. Firefighters used heavy lifting equipment and thermal cameras to search through the debris, said Kent Fire Brigade spokesman Kevin Simmons. Ten doctors were giving emergency treatment at the scene and 11 ambulances were taking the injured to two hospitals, the ambulance service said. A statement telephoned to Ireland International, a Dublin news agency, said, we have visited the Royal Marines in Kent in response to Prime Minister Margaret Thatcher's visit to Northern Ireland nine days ago. The IRA said Mrs Thatcher went to the British province with a message of war,but we still want peace and we want the British government to leave our country. It was signed P. O'Neill, a nom de guerre the IRA usually uses to claim responsibility for actions outside Northern Ireland. Irish Prime Minister Charles Haughey issued a statement in Dublin condemning the attack, calling it an outrage. The last IRA bomb attempt on the British mainland was in February when about 60 soldiers were evacuated from their barracks in Shropshire, western England, just before a bomb exploded. One soldier was killed and nine wounded in an IRA bomb attack on an army barracks in north London in August 1988. In July 1982, eight soldiers died in IRA bombings near the Household Cavalry barracks in central London and at a bandstand in the capital's Regent's Park where an army band was playing. Three people died later and a total of 51 were injured in the bombings. The music school is the training center for young recruits who want to play in the seven Royal Marines bands. Up to 250 young men, most between 16 and 20, are based at the school, where they receive military and musical training. The roof of Janet Minnock's house was torn off by the force of the blast and all the back windows were shattered. The house has been blown to bits, she said. We are all shaken up. Mrs Minnock's next-door neighbor, Heather Hackett, said she was standing at her kitchen window facing the barracks at the time of the explosion. She was holding her 4 months old son Luke in her arms with her other boys, Ben and Joshua at her side. I looked up from the sink and I just saw the whole building explode,she said. I told the boys to run and as Joshua turned a slither of glass embedded itself in his back. The whole window was blown across the kitchen. I just screamed and ran out of the room. The bang was so loud I thought the whole house was coming in. Sean Minnock said, I was asleep but woke up with a hell of a jolt. As workers tried to patch holes in his roof, he said: The bedroom ceiling fell in on me. I woke to find huge slabs of plaster on the bed and floor. I wondered what it was. As soon as I got up I looked out of what was left of the window and knew it was the barracks.
Neighbors were breakfasting, heading to work or asleep in bed when an explosion at a military barracks turned their homes to rubble and they were confronted with the sight of bodies being carried away. There was a terrific crash which reminded me of the Blitz. After that, the ceiling started to fall down around me, said Joan Betteridge, a pensioner in the southern England town of Deal, where the blast at the Royal Marines School of Music occurred. The Irish Republican Army claimed reponsibilty for the explosion, which police said killed 11 people and injured 22. Nearby resident Sean Minnock said, I was asleep but woke up with a hell of a jolt, the bedroom ceiling fell in on me. I woke to find huge slabs of plaster on the bed and floor. From the wrecked, smoke-clouded barracks, I could hear terrified screams of agony. People started rushing about all over the place. It was horrible to watch and listen to, said Minnock. I knew people had been seriously hurt. I saw the rescuers pull out two bodies. I knew they were dead when they put them on the floor and put bed blankets right over them. Minnock's wife, Janet, said the roof of their house was torn off and all the back windows were shattered. The house has been blown to bits, she said. Mrs. Minnock was feeding her 2 years old son Thomas his breakfast when the explosion wrecked four terraced houses in the street backing onto the barracks. Her next-door neighbor, Heather Hackett, was standing at her kitchen window facing the barracks, holding her 4-month-old son Luke in her arms. Her other boys, Ben and Joshua were at her side. I looked up from the sink and I just saw the whole building explode,she said. I told the boys to run and as Joshua turned a sliver of glass embedded itself in his back. The whole window was blown across the kitchen. I just screamed and ran out of the room. The bang was so loud I thought the whole house was coming in. At first I thought for sure Joshua had been seriously injured. There was blood coming out of his back. Doctors removed the glass and sent him home. College student Simon Mitford, narrowly escaped being injured in the explosion because he got up earlier than usual. His room was completely wrecked by the blast, his brother Alex said. Of the barracks, he said, I heard music playing and then it went bang and there was glass everywhere. It was a two-story building but now 90 percent of it is rubble. I heard a marine scream out, The band is under there. I was scared there was going to be a second explosion.

In [133]:
def build_corpus(files):
  corpus = []
  for file in files:
    tokenized_words = word_tokenize(file)                 #Tokenize the sentences into words
    preprocessed_words = preprocessing(tokenized_words)   #Passes these individual words through the preprocessing function
    corpus.append(' '.join(preprocessed_words))           #Rejions individual words to sentences
  
  return corpus

In [148]:
New_corpus = build_corpus(News_corpus)

In [149]:
New_corpus

["thousands queue-hardened soviets wednesday cheerfully lined get taste `` gamburgers '' `` chizburgers '' `` filay-o-feesh '' sandwiches mcdonald 's opened land lenin first time the world 's largest version landmark american fast-food chain rang 30,000 meals 27 cash registers breaking opening-day record mcdonald 's worldwide officials said the soviets bundled fur coats hats seemed unfazed lining dawn outside 700 seat restaurant first 20 planned across soviet union the crush customers intense company stayed open midnight two hours later planned i waited hour i think served thousands said happy middle-aged woman works aluminum plant and 10 rubles said i 'm taking back girls factory try big macs priced 3.75 rubles double cheeseburgers 3 rubles two hours pay starting mcdonald 's staffer average soviet much cheaper private restaurants sprung recently the official exchange rate 1.59 dollar per ruble foreign visitors buy rubles 16 cents currency worth black market half day 's sales donated soviet children 's fund provides medical care assistance orphans disadvantaged children gary reinblatt senior vice president mcdonald 's canada said toronto the restaurant built company joint venture city moscow began 14 years ago brought 52 number countries mcdonald 's operates the previous opening-day record sales budapest company officials said besides restaurants united states leading number mcdonald 's canada japan officials said soviets got first-hand look alien concepts efficiency fast friendly service normally dour citizens broke grins caught infectious cheerful mood youthful soviet staffers hired ability smile work hard accordions played folk songs women traditional costumes danced cartoon characters including mickey mouse baba yaga witch russian fairy tales one muscovite accustomed clerks snarl say anything asked straw startled smiling young soviet woman found one popped straight drink for customers first experience hamburger sandwiches served familiar bag marked golden arches packed wrappers bearing cyrillic letters approximating `` gamburger '' they tried one-handed.they picked sandwiches apart examine contents one young woman finally squashed `` beeg mak '' fit lips around ''it tasted great '' 14 years old boy said it 's lot different stolovaya '' continued smile referring much cheaper run dirty cafeterias slop rice fat boiled sausage under sign golden arches accented soviet hammer sickle flag hundreds lined long awaited grand opening 10 pushkin square reaching excitedly mcdonald 's flags pins hamburger chain 's army fulfilled soviet penchant souvenirs western logos publicity conscious managers staff shout `` good morning america '' english russian american tv network mcdonald 's canada chairman george cohon man behind deal said many people buying multiple orders restaurant served 15,000 20,000 people first five hours operation the restaurant limited purchases 10 big macs per customer hopes preventing burger scalping mcdonald 's built factory including bakery dairy meat processing plant even potato storage yard provide guaranteed supplies country 25 percent harvest rots en route consumer one mcdonald 's associate said company wound importing wooden crates finland storing potatoes went build crates found wood nails they found need permit buy nails",
 "hurricane gilbert packing 110 mph winds torrential rain moved capital city today skirting puerto rico haiti dominican republic there immediate reports casualties telephone communications affected right 's actually moving jamaica said bob sheets director national hurricane center miami we 've already reports 110 mph winds eastern tip it looks like eye going move lengthwise across island 're going bear full brunt powerful hurricane sheets said forecasters say gilbert expected lash jamaica throughout day track later strike cayman islands small british dependency northwest jamaica meanwhile havana radio reported today 25,000 people evacuated guantanamo province cuba 's southeastern coast strong winds fanning gilbert began brushing island all jamaica-bound flights canceled miami international airport flights grand cayman main island three-island chain arrived packed frightened travelers people running around main lobby hotel grand cayman like chickens heads cut said one vacationer returning home california miami hurricane warnings posted cayman islands cuba haiti warnings discontinued dominican republic all interests western caribbean continue monitor progress dangerous hurricane service said adding little change strength expected next several hours hurricane moves westward jamaica the associated press caribbean headquarters san juan puerto rico unable get phone calls kingston high winds heavy rain preceding storm drenched capital overnight toppling trees causing local flooding littering streets branches most jamaicans stayed home boarding windows preparation hurricane some companies broadcast appeals technicians electricians report work the weather bureau predicted gilbert 's center 140 miles southeast kingston dawn would pass south kingston hit southern parish clarendon flash flood warnings issued parishes portland northeast st. mary north the north coast tourist region montego bay west ocho rios east far southern impact zone separated mountains expected receive heavy rain officials urged residents higher risk areas along south coast seek higher ground it 's certainly one larger systems 've seen caribbean long time said hal gerrish forecaster national hurricane center forecasters center said eye gilbert 140 miles southeast kingston dawn today maximum sustained winds near 110 mph tropical-storm force winds extending 250 miles north 100 miles south prime minister edward seaga jamaica alerted government agencies saying sunday night hurricane gilbert appears real threat everyone follow instructions hurricane precautions issued office disaster preparedness order minimize danger forecasters said hurricane gaining strength passed ocean dumped 5 10 inches rain dominican republic haiti share island hispaniola we know within 72 hours whether 's going major threat united states '' said martin nelson another meteorologist center it 's moving 17 mph west normally hurricanes take northward turn pass central cuba cuba 's official prensa latina news agency said state alert declared midday cuban provinces guantanamo holguin santiago de cuba granma in report havana received mexico city prensa latina said civil defense officials broadcasting bulletins national radio television recommending emergency measures providing information storm heavy rain stiff winds downed power lines caused flooding dominican republic sunday night hurricane 's center passed south barahona peninsula less 100 miles neighboring haiti the storm ripped roofs houses flooded coastal areas southwestern puerto rico reaching hurricane strength island 's southeast saturday night flights canceled sunday dominican republic civil defense director eugenio cabral reported flooding parts capital santo domingo power outages southern areas",
 "hurricane gilbert swept toward dominican republic sunday civil defense alerted heavily populated south coast prepare high winds heavy rains high seas the storm approaching southeast sustained winds 75 mph gusting 92 mph there need alarm civil defense director eugenio cabral said television alert shortly midnight saturday cabral said residents province barahona closely follow gilbert 's movement an estimated 100,000 people live province including 70,000 city barahona 125 miles west santo domingo tropical storm gilbert formed eastern caribbean strengthened hurricane saturday night the national hurricane center miami reported position 2 a.m. sunday latitude 16.1 north longitude 67.5 west 140 miles south ponce puerto rico 200 miles southeast santo domingo the national weather service san juan puerto rico said gilbert moving westward 15 mph broad area cloudiness heavy weather rotating around center storm the weather service issued flash flood watch puerto rico virgin islands least 6 p.m. sunday strong winds associated gilbert brought coastal flooding strong southeast winds 12 feet feet puerto rico 's south coast there reports casualties san juan north coast heavy rains gusts saturday subsided night on saturday hurricane florence downgraded tropical storm remnants pushed inland gulf coast residents returned home happy find little damage 80 mph winds sheets rain florence sixth named storm 1988 atlantic storm season second hurricane the first debby reached minimal hurricane strength briefly hitting mexican coast last month",
 "an explosion today flattened military barracks tore nearby homes killing 11 people injuring 22 police said the ira claimed responsibility blast more 100 rescue workers frantically dug rubble three-story building collapsed royal marines school music near deal stunned neighbors gathered outside homes damaged destroyed chief police inspector alan butterfield kent provided casualty figures coordinated rescue effort first reported one person missing later said everyone accounted he said many injured seriously hurt there terrific crash reminded blitz after ceiling started fall around said pensioner joan betteridge defense secretary tom king inspecting wreckage said it yet absolutely confirmed bomb evidence quite clearly ira atrocity british military installations frequent bombing target irish republican army campaign rid northern ireland british rule today 's explosion coastal town 70 miles southeast london worst ira attack british mainland seven years the explosion occurred 8:26 a.m. lounge thebarracks one bands stopped playing parade ground said ministry spokesman speaking anonymously keeping british custom dozens homes near school damaged including four destroyed witnesses reported hearing explosion two miles away the defense ministry would say many servicemen civilians included casualty figures however king told reporters attack directed unarmed bandsmen firefighters used heavy lifting equipment thermal cameras search debris said kent fire brigade spokesman kevin simmons ten doctors giving emergency treatment scene 11 ambulances taking injured two hospitals ambulance service said a statement telephoned ireland international dublin news agency said visited royal marines kent response prime minister margaret thatcher 's visit northern ireland nine days ago the ira said mrs thatcher went british province message war still want peace want british government leave country it signed p. o'neill nom de guerre ira usually uses claim responsibility actions outside northern ireland irish prime minister charles haughey issued statement dublin condemning attack calling outrage the last ira bomb attempt british mainland february 60 soldiers evacuated barracks shropshire western england bomb exploded one soldier killed nine wounded ira bomb attack army barracks north london august 1988 in july 1982 eight soldiers died ira bombings near household cavalry barracks central london bandstand capital 's regent 's park army band playing three people died later total 51 injured bombings the music school training center young recruits want play seven royal marines bands up 250 young men 16 20 based school receive military musical training the roof janet minnock 's house torn force blast back windows shattered the house blown bits said we shaken mrs minnock 's next-door neighbor heather hackett said standing kitchen window facing barracks time explosion she holding 4 months old son luke arms boys ben joshua side i looked sink i saw whole building explode said i told boys run joshua turned slither glass embedded back the whole window blown across kitchen i screamed ran room the bang loud i thought whole house coming sean minnock said i asleep woke hell jolt as workers tried patch holes roof said the bedroom ceiling fell i woke find huge slabs plaster bed floor i wondered as soon i got i looked left window knew barracks",
 "neighbors breakfasting heading work asleep bed explosion military barracks turned homes rubble confronted sight bodies carried away there terrific crash reminded blitz after ceiling started fall around said joan betteridge pensioner southern england town deal blast royal marines school music occurred the irish republican army claimed reponsibilty explosion police said killed 11 people injured 22 nearby resident sean minnock said i asleep woke hell jolt bedroom ceiling fell i woke find huge slabs plaster bed floor from wrecked smoke-clouded barracks i could hear terrified screams agony people started rushing place it horrible watch listen said minnock i knew people seriously hurt i saw rescuers pull two bodies i knew dead put floor put bed blankets right minnock 's wife janet said roof house torn back windows shattered the house blown bits said mrs. minnock feeding 2 years old son thomas breakfast explosion wrecked four terraced houses street backing onto barracks her next-door neighbor heather hackett standing kitchen window facing barracks holding 4-month-old son luke arms her boys ben joshua side i looked sink i saw whole building explode said i told boys run joshua turned sliver glass embedded back the whole window blown across kitchen i screamed ran room the bang loud i thought whole house coming at first i thought sure joshua seriously injured there blood coming back doctors removed glass sent home college student simon mitford narrowly escaped injured explosion got earlier usual his room completely wrecked blast brother alex said of barracks said i heard music playing went bang glass everywhere it two-story building 90 percent rubble i heard marine scream the band i scared going second explosion",
 "an explosion rocked royal marines school music southeastern coastal town today causing one building collapse killing eight people officials said thirty people injured 18 missing feared trapped rubble the blast occurred 8:26 a.m. lounge barracks near deal 70 miles southeast london defense ministry said the building collapsed said ministry spokesman speaking anonymously keeping british custom we 've idea cause blast moment it early tell scotland yard said forensic team antiterrorist squad called help investigate firefighters used heavy lifting equipment thermal cameras search trapped debris said kent fire brigade spokesman kevin simmons kent police said 17 18 people trapped the defense ministry said seven missing ten doctors gave emergency treatment scene 11 ambulances took injured two hospitals ambulance service said they suffering flash burns head arms fractures sort injuries would expect explosion said spokesman buckland hospital dover 20 miles south deal south eastern british gas sent investigators scene said nothing indicate explosion caused gas leak gas supplies barracks cut precautionary measure spokesman said guy platts owns bookstore deal located 20 miles north english channel port dover said heard massive explosion there dozens ambulances police fire brigade making way military targets british mainland attacked several times irish republican army past year part campaign rid northern ireland british rule one soldier killed nine wounded ira attack army barracks north london august 1988 about 60 soldiers narrowly escaped death injury february evacuated barracks shropshire western england bomb exploded in july 1982 eight soldiers died ira bombings near household cavalry barracks knightsbridge central london bandstand capital 's regent 's park army band playing three people died later total 51 injured bombings",
 "hurricane gilbert slammed kingston monday torrential rains 115 mph winds ripped roofs homes buildings uprooted trees downed power lines no serious injuries immediately reported city 750,000 people hit full force hurricane around noon for half hour hurricane lashed city tearing branches trees blowing fences whipping paper air the national weather service reported heavy damage kingston 's airport aircraft parked fields the first shock let eye storm moved across city skies brightened winds died people waited hour second blow hurricane arrived all jamaica-bound flights canceled miami international airport flights cayman islands reportedly next path hurricane arrived miami packed travelers cutting short vacations people running around main lobby hotel grand cayman island like chickens heads cut said one man a national weather service report said hurricane moving west 17 mph maximum sustained winds 115 mph it said jamaica would receive 10 inches rain would cause flash floods mud slides right 's actually moving jamaica said bob sheets director national hurricane center miami it looks like eye going move lengthwise across island 're going bear full brunt powerful hurricane said gilbert reached jamaica skirting southern puerto rico haiti dominican republic hurricane warnings issued monday south coast cuba east camaguey cayman islands haiti warnings discontinued dominican republic high winds heavy rain preceding storm drenched kingston overnight toppling trees causing local flooding littering streets branches most jamaica 's 2.3 million people stayed home boarding windows preparation hurricane the popular north coast resort area side mountains expected receive heavy rain much damage hurricane south coast officials urged residents seek higher ground havana radio meanwhile reported monday 25,000 people evacuated coastal areas guantanamo province nation 's southeastern coast gilbert 's winds rain began brush island in washington navy reported bases guantanamo bay cuba roosevelt roads puerto rico taken various precautionary steps appeared safe brunt hurricane ken ross spokesman said navy station guantanamo reported 2:30 p.m. edt brunt storm appeared passing southeastern cuba they reported maximum winds 25 knots gusts 50 knots said ross but reports injuries damage the spokesman said earlier day guantanamo moved condition two meaning electrical power usage cut back essential uses non-essential personnel sent barracks the storm also skirted puerto rico without causing damage military facilities ross said sheets said gilbert expected next sweep cayman islands westward track two three days veer northwest southern gulf mexico residents neighboring caymans british dependency northwest urged rush preparatory actions the national weather service warned caymans could expect high waters large waves may undermine buildings along beaches all interests western caribbean continue monitor progress dangerous hurricane service advised forecaster hal gerrish sunday described gilbert certainly one larger systems 've seen caribbean long time",

In [150]:
News_vectorizer = TfidfVectorizer()
vectors = News_vectorizer.fit_transform(New_corpus)

feature_names = News_vectorizer.get_feature_names_out()
print(feature_names, len(feature_names))

['000' '10' '100' ... 'yugoslavia' 'yugoslavs' 'zone'] 1349

#### Creating Pandas frame for denselist

In [151]:
for text in feature_names:
    print(text)

dense = vectors.todense()
denselist = dense.tolist()
News_df = pd.DataFrame(denselist, columns=feature_names)

000
10
100
11
110
115
12
125
14
140
15
16
17
18
1982
1988
20
200
22
25
250
26
27
30
350
50
500
51
52
57
59
60
67
70
700
72
75
750
80
90
92
ability
about
absolutely
accented
acceptance
accordions
accounted
accustomed
across
actions
actually
adding
additional
advised
affected
after
aged
agencies
agency
ago
agony
agreement
aim
air
aircraft
airport
alan
alarm
alcohol
alert
alerted
alex
alien
all
along
already
also
aluminum
amber
ambulance
ambulances
america
american
an
and
anonymously
another
antiterrorist
anything
apart
appeals
appeared
appears
approaching
approximating
arches
area
areas
arms
army
around
arrived
art
as
asked
asleep
assistance
associate
associated
at
atlantic
atrocity
attack
attacked
attempt
august
average
avoid
awaited
away
baba
back
backing
bag
bakery
balkan
band
bands
bandsmen
bandstand
bang
barahona
barracks
based
bases
bay
beaches
bear
bearing
bed
bedroom
beeg
began
behind
belgrade
ben
besides
betteridge
big
bits
black
blankets
blast
blitz
bloc
block
blood
blow
blowing
blown
boarding
bob
bodies
boiled
bomb
bombing
bombings
bookstore
bound
boy
boys
branches
breakfast
breakfasting
breaking
briefly
brigade
brightened
british
broad
broadcast
broadcasting
broke
brother
brought
brunt
brush
brushing
buckland
budapest
build
building
buildings
built
bulletins
bun
bundled
bureau
burger
burns
business
but
butterfield
buy
buying
cabral
cafeterias
california
called
calling
calls
camaguey
came
cameras
campaign
canada
canceled
capable
capital
care
caribbean
carried
cartoon
cash
casualties
casualty
caught
cause
caused
causing
cavalry
cayman
caymans
ceiling
center
central
cents
ceremonies
certainly
chain
chairman
change
channel
characters
charles
chatting
cheaper
cheerful
cheerfully
cheeseburger
cheeseburgers
chickens
chief
children
chizburgers
citizens
city
civil
civilians
claim
claimed
clarendon
clash
cleaner
clearly
clerks
closely
clouded
cloudiness
coast
coastal
coats
cohon
collapse
collapsed
college
colored
coming
communications
communism
communist
companies
company
competition
completely
completly
concepts
condemning
condition
confirmed
confronted
conscious
consisting
consumer
contents
continue
continued
contracted
contrasts
contribute
cook
coordinated
corp
corporation
cost
costs
costumes
could
countries
country
crash
crates
created
crowds
crush
cuba
cuban
curiously
currency
custom
customer
customers
customs
cut
cutting
cyrillic
dairy
damage
damaged
danced
danger
dangerous
danic
dawn
day
days
de
dead
deal
death
debby
debris
declared
defense
dependency
depends
depicting
described
destroy
destroyed
died
different
directed
director
dirty
disadvantaged
disaster
discontinued
discreet
dish
doctors
dollar
domingo
dominican
donated
door
dostanic
double
dour
dover
downed
downgraded
downtown
dozens
draw
drawn
drenched
drink
drive
dublin
dug
dumped
earlier
early
east
eastern
eating
edt
edward
efficiency
effort
eight
electrical
electricians
embedded
emergency
employees
employs
en
england
english
enterprise
entirely
entitled
equally
equipment
equivalent
escaped
essential
estimated
eugenio
europe
european
evacuated
even
everyone
everywhere
evidence
examine
examined
exchange
excited
excitedly
executive
expect
expected
expensive
experience
explode
exploded
explosion
extending
eye
facilities
facing
fact
factory
fail
fairy
fall
familiar
fanning
far
fare
fast
faster
fat
feared
featured
february
feeding
feesh
feet
fell
fences
fields
fight
figures
filay
filled
finally
find
finished
finland
fire
firefighters
first
fit
five
flag
flags
flagship
flash
flattened
flights
flood
flooded
flooding
floods
floor
floors
florence
folk
follow
food
for
forbidden
force
forecaster
forecasters
foreign
forensic
formed
found
four
fractures
frantically
french
frequent
friendly
friends
fries
frightened
from
fulfilled
full
fund
fur
gaining
gamburger
gamburgers
gary
gas
gathered
gathering
gave
genex
genuine
george
gerrish
get
getting
gilbert
girls
give
giving
glass
glen
going
golden
good
got
government
grand
granma
great
grins
ground
guantanamo
guaranteed
guerre
gulf
gusting
gusts
guy
habits
hackett
haiti
hal
half
hamburger
hamburgers
hammer
hand
handed
happy
hard
hardened
harvest
hats
haughey
havana
he
head
heading
headquarters
heads
hear
heard
hearing
heather
heavily
heavy
hell
help
her
high
higher
hired
his
hispaniola
hit
hitting
holding
holes
holguin
home
homes
hopes
horrible
hospital
hospitals
hotel
hour
hours
house
household
houses
housewife
however
huge
hundred
hundreds
hungary
hurricane
hurricanes
hurt
idea
illumination
immediate
immediately
impact
importing
in
inches
included
including
indicate
infectious
information
injured
injuries
injuring
injury
inland
inside
inspecting
inspector
installations
instructions
intense
interests
interior
international
investigate
investigators
ira
ireland
irish
island
islands
issued
it
jamaica
jamaicans
janet
japan
joan
joint
joints
jolt
joshua
juan
july
keep
keeping
ken
kent
kept
kevin
killed
killing
king
kingston
kitchen
knew
knightsbridge
knots
know
land
landmark
large
larger
largest
lash
lashed
last
later
latina
latitude
leading
leak
least
leave
left
lengthwise
lenin
less
let
letters
level
lifting
like
limited
lined
lines
lining
lips
listen
lit
littering
little
live
lobby
local
located
logos
london
long
longitude
look
looked
looks
lot
loud
lounge
lounging
lower
luke
mac
macs
main
mainland
major
mak
making
man
managed
management
managers
managing
many
margaret
marine
marines
marked
market
martin
mary
massive
maximum
may
mcdonald
meal
meals
meaning
meanwhile
measure
measures
meat
media
medical
men
message
meteorologist
mexican
mexico
miami
mickey
midday
middle
midnight
miles
milica
military
milk
million
milosevic
minimal
minimize
minister
ministry
minnock
missing
mitford
modern
moment
monday
monitor
montego
month
months
mood
more
morning
moscow
most
mountains
mouse
move
moved
movement
moves
moving
mph
mrs
much
mud
multiple
muscovite
music
musical
nails
named
narrowly
nation
national
navy
near
nearby
need
neighbor
neighboring
neighbors
neill
nelson
network
news
next
nicer
nicest
night
nikolic
nine
no
nom
non
noon
normally
north
northeast
northern
northward
northwest
nothing
number
numerous
occurred
ocean
ocho
of
office
official
officials
old
on
one
onions
onto
open
opened
opening
operates
operation
order
orders
orphans
our
outages
outlet
outlets
outrage
outside
overcrowding
overnight
owns
packed
packing
paintings
paper
parade
parish
parishes
park
parked
part
parts
pass
passed
passing
past
pastel
patch
path
pay
peace
penchant
peninsula
pensioner
people
per
percent
perform
permit
person
personnel
phone
picked
pins
place
planned
plans
plant
plaster
platts
play
played
playing
pljeskavica
plush
police
policeman
ponce
popped
popular
populated
pork
port
portland
position
posted
potato
potatoes
power
powerful
precautionary
precautions
preceding
predicted
predrag
prensa
preparation
preparatory
prepare
preparedness
president
press
preventing
previous
priced
prices
prime
private
processing
profits
progress
provide
provided
provides
providing
province
provinces
publicity
puerto
pull
purchases
pushed
pushkin
put
queue
quite
radio
rain
rains
ran
rang
rate
re
reached
reaching
real
receive
received
recent
recently
recommending
record
recruits
referring
regent
region
registers
regulated
reinblatt
reminded
remnants
removed
renovated
reponsibilty
report
reported
reportedly
reporters
reports
republic
republican
rescue
rescuers
resident
residents
resort
response
responsibility
restaurant
restaurants
returned
returning
rice
rico
rid
right
rios
ripped
risk
roads
rocked
roof
roofs
room
roosevelt
ross
rotating
rots
route
royal
rubble
ruble
rubles
rule
run
running
rush
rushing
russian
sadik
safe
said
sales
san
sandwiches
santiago
santo
saturday
sausage
saw
say
saying
scalping
scared
scene
school
scotland
scream
screamed
screams
seaga
sean
search
seas
season
seat
seats
second
secretary
seek
seemed
seen
seljami
senior
sensation
sent
separated
serious
seriously
served
service
servicemen
services
serving
seven
several
shaken
shakes
share
sharply
shattered
she
sheets
shock
short
shortly
shout
shropshire
sickle
side
sight
sign
signed
signs
similar
simmons
simon
sink
sitting
sixth
skies
skirted
skirting
slabs
slammed
slides
slither
sliver
slop
small
smile
smiling
smoke
smoking
snaking
snarl
soft
soldier
soldiers
some
son
songs
soon
sort
south
southeast
southeastern
southern
southwestern
souvenirs
soviet
soviets
speaking
spokesman
sprung
squad
square
squashed
st
staff
staffer
staffers
standing
started
starting
startled
state
statement
states
station
stayed
steps
stiff
still
stolovaya
stopped
storage
storing
storm
story
straight
straw
street
streets
strength
strengthened
strike
strong
student
stunned
subsided
success
suffered
suffering
suggested
sunday
supplies
sure
sustained
sweep
swept
systems
tables
take
taken
taking
tales
target
targets
taste
tasted
team
tearing
technicians
telephone
telephoned
television
tell
ten
terraced
terrific
terrified
thatcher
the
thebarracks
there
thermal
they
think
thirty
this
thomas
though
thought
thousands
threat
three
throughout
thursday
time
times
tip
today
told
tom
took
toppling
tore
torn
toronto
torrential
total
tourist
toward
town
track
traditional
training
trapped
travelers
treated
treatment
trees
tried
tropical
try
turn
turned
tv
two
unable
unarmed
under
undermine
unfazed
union
united
unruly
up
upholstery
uprooted
urged
usage
used
uses
usual
usually
vacationer
vacations
various
ve
veer
venture
version
vesna
vice
virgin
visit
visited
visitors
waited
waiter
want
wanted
wants
war
warned
warning
warnings
washington
watch
waters
waves
way
we
weather
wednesday
went
west
western
westward
whether
whipping
whole
wife
window
windows
winds
witch
within
without
witnesses
woke
woman
women
wondered
wood
wooden
work
workers
works
world
worldwide
worst
worth
would
wound
wounded
wrappers
wreckage
wrecked
yaga
yard
yards
year
years
yet
young
youthful
yugoslav
yugoslavia
yugoslavs
zone

In [152]:
News_df.dtypes

000           float64
10            float64
100           float64
11            float64
110           float64
               ...
youthful      float64
yugoslav      float64
yugoslavia    float64
yugoslavs     float64
zone          float64
Length: 1349, dtype: object

In [153]:
News_df.head(20)

,000,10,100,11,110,115,12,125,14,140,...,yards,year,years,yet,young,youthful,yugoslav,yugoslavia,yugoslavs,zone
0,0.075103,0.085658,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078963,0.000000,...,0.000000,0.000000,0.050069,0.000000,0.066177,0.039481,0.000000,0.0000,0.000000,0.00000
1,0.023189,0.026448,0.052895,0.000000,0.091947,0.000000,0.000000,0.000000,0.000000,0.061298,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.03657
2,0.076289,0.000000,0.043505,0.000000,0.000000,0.000000,0.060157,0.060157,0.000000,0.050417,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000
3,0.000000,0.000000,0.029404,0.058808,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.025781,0.040659,0.068150,0.000000,0.000000,0.0000,0.000000,0.00000
4,0.000000,0.000000,0.000000,0.042853,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.037573,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000
5,0.000000,0.000000,0.000000,0.043812,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.060581,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000
6,0.051775,0.029526,0.000000,0.000000,0.000000,0.081654,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.00000
7,0.000000,0.000000,0.000000,0.000000,0.035898,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.042833,0.000000,0.027160,0.000000,0.000000,0.000000,0.171334,0.1285,0.042833,0.00000

> **Count of Total Vocabulary**

In [154]:
print(len(News_vectorizer.vocabulary_))

1349

In [155]:
News_vectorizer.vocabulary_

{'thousands': 1220,
 'queue': 960,
 'hardened': 558,
 'soviets': 1137,
 'wednesday': 1302,
 'cheerfully': 249,
 'lined': 695,
 'get': 521,
 'taste': 1195,
 'gamburgers': 511,
 'chizburgers': 255,
 'filay': 459,
 'feesh': 452,
 'sandwiches': 1040,
 'mcdonald': 743,
 'opened': 851,
 'land': 670,
 'lenin': 687,
 'first': 467,
 'time': 1225,
 'the': 1209,
 'world': 1327,
 'largest': 674,
 'version': 1279,
 'landmark': 671,
 'american': 83,
 'fast': 445,
 'food': 485,
 'chain': 240,
 'rang': 966,
 '30': 23,
 '000': 0,
 'meals': 745,
 '27': 22,
 'cash': 224,
 'registers': 982,
 'breaking': 175,
 'opening': 852,
 'day': 335,
 'record': 977,
 'worldwide': 1328,
 'officials': 844,
 'said': 1037,
 'bundled': 197,
 'fur': 508,
 'coats': 272,
 'hats': 560,
 'seemed': 1066,
 'unfazed': 1260,
 'lining': 697,
 'dawn': 334,
 'outside': 863,
 '700': 34,
 'seat': 1061,
 'restaurant': 1004,
 '20': 16,
 'planned': 901,
 'across': 49,
 'soviet': 1136,
 'union': 1261,
 'crush': 315,
 'customers': 322,
 'intense': 631,
 'company': 283,
 'stayed': 1156,
 'open': 850,
 'midnight': 762,
 'two': 1255,
 'hours': 595,
 'later': 678,
 'waited': 1286,
 'hour': 594,
 'think': 1214,
 'served': 1075,
 'happy': 556,
 'middle': 761,
 'aged': 57,
 'woman': 1319,
 'works': 1326,
 'aluminum': 78,
 'plant': 903,
 'and': 85,
 '10': 1,
 'rubles': 1028,
 'taking': 1191,
 'back': 122,
 'girls': 524,
 'factory': 437,
 'try': 1251,
 'big': 149,
 'macs': 721,
 'priced': 940,
 '75': 36,
 'double': 368,
 'cheeseburgers': 251,
 'pay': 885,
 'starting': 1150,
 'staffer': 1146,
 'average': 117,
 'much': 797,
 'cheaper': 247,
 'private': 943,
 'restaurants': 1005,
 'sprung': 1140,
 'recently': 975,
 'official': 843,
 'exchange': 421,
 'rate': 967,
 '59': 30,
 'dollar': 362,
 'per': 891,
 'ruble': 1027,
 'foreign': 491,
 'visitors': 1285,
 'buy': 204,
 '16': 11,
 'cents': 237,
 'currency': 319,
 'worth': 1330,
 'black': 151,
 'market': 737,
 'half': 550,
 'sales': 1038,
 'donated': 365,
 'children': 254,
 'fund': 507,
 'provides': 949,
 'medical': 752,
 'care': 220,
 'assistance': 107,
 'orphans': 857,
 'disadvantaged': 356,
 'gary': 512,
 'reinblatt': 984,
 'senior': 1069,
 'vice': 1281,
 'president': 936,
 'canada': 216,
 'toronto': 1235,
 'built': 194,
 'joint': 649,
 'venture': 1278,
 'city': 257,
 'moscow': 786,
 'began': 143,
 '14': 8,
 'years': 1341,
 'ago': 60,
 'brought': 185,
 '52': 28,
 'number': 836,
 'countries': 309,
 'operates': 853,
 'previous': 939,
 'budapest': 190,
 'besides': 147,
 'united': 1262,
 'states': 1154,
 'leading': 681,
 'japan': 647,
 'got': 532,
 'hand': 554,
 'look': 711,
 'alien': 73,
 'concepts': 287,
 'efficiency': 390,
 'friendly': 500,
 'service': 1076,
 'normally': 829,
 'dour': 369,
 'citizens': 256,
 'broke': 183,
 'grins': 537,
 'caught': 227,
 'infectious': 619,
 'cheerful': 248,
 'mood': 783,
 'youthful': 1344,
 'staffers': 1147,
 'hired': 579,
 'ability': 41,
 'smile': 1116,
 'work': 1324,
 'hard': 557,
 'accordions': 46,
 'played': 907,
 'folk': 483,
 'songs': 1127,
 'women': 1320,
 'traditional': 1242,
 'costumes': 307,
 'danced': 330,
 'cartoon': 223,
 'characters': 244,
 'including': 617,
 'mickey': 759,
 'mouse': 789,
 'baba': 121,
 'yaga': 1337,
 'witch': 1314,
 'russian': 1034,
 'fairy': 439,
 'tales': 1192,
 'one': 847,
 'muscovite': 800,
 'accustomed': 48,
 'clerks': 266,
 'snarl': 1121,
 'say': 1046,
 'anything': 89,
 'asked': 105,
 'straw': 1167,
 'startled': 1151,
 'smiling': 1117,
 'young': 1343,
 'found': 494,
 'popped': 914,
 'straight': 1166,
 'drink': 378,
 'for': 486,
 'experience': 428,
 'hamburger': 551,
 'familiar': 441,
 'bag': 124,
 'marked': 736,
 'golden': 530,
 'arches': 96,
 'packed': 867,
 'wrappers': 1334,
 'bearing': 139,
 'cyrillic': 326,
 'letters': 690,
 'approximating': 95,
 'gamburger': 510,
 'they': 1213,
 'tried': 1249,
 'handed': 555,
 'picked': 898,
 'apart': 90,
 'examine': 419,
 'contents': 295,
 'finally': 461,
 'squashed': 1143,
 'beeg': 142,
 'mak': 725,
 'fit': 468,
 'lips': 698,
 'around': 101,
 'it': 643,
 'tasted': 1196,
 'great': 536,
 'old': 845,
 'boy': 170,
 'lot': 714,
 'different': 352,
 'stolovaya': 1160,
 'continued': 297,
 'referring': 979,
 'run': 1030,
 'dirty': 355,
 'cafeterias': 207,
 'slop': 1114,
 'rice': 1008,
 'fat': 447,
 'boiled': 164,
 'sausage': 1044,
 'under': 1258,
 'sign': 1097,
 'accented': 44,
 'hammer': 553,
 'sickle': 1094,
 'flag': 470,
 'hundreds': 603,
 'long': 709,
 'awaited': 119,
 'grand': 534,
 'pushkin': 958,
 'square': 1142,
 'reaching': 970,
 'excitedly': 423,
 'flags': 471,
 'pins': 899,
 'army': 100,
 'fulfilled': 505,
 'penchant': 887,
 'souvenirs': 1135,
 'western': 1305,
 'logos': 707,
 'publicity': 953,
 'conscious': 292,
 'managers': 730,
 'staff': 1145,
 'shout': 1092,
 'good': 531,
 'morning': 785,
 'america': 82,
 'english': 401,
 'tv': 1254,
 'network': 817,
 'chairman': 241,
 'george': 519,
 'cohon': 273,
 'man': 727,
 'behind': 144,
 'deal': 339,
 'many': 732,
 'people': 890,
 'buying': 205,
 'multiple': 799,
 'orders': 856,
 '15': 10,
 'five': 469,
 'operation': 854,
 'limited': 694,
 'purchases': 956,
 'customer': 321,
 'hopes': 589,
 'preventing': 938,
 'burger': 199,
 'scalping': 1048,
 'bakery': 125,
 'dairy': 327,
 'meat': 750,
 'processing': 944,
 'even': 415,
 'potato': 922,
 'storage': 1162,
 'yard': 1338,
 'provide': 947,
 'guaranteed': 540,
 'supplies': 1182,
 'country': 310,
 '25': 19,
 'percent': 892,
 'harvest': 559,
 'rots': 1023,
 'en': 399,
 'route': 1024,
 'consumer': 294,
 'associate': 108,
 'wound': 1332,
 'importing': 613,
 'wooden': 1323,
 'crates': 312,
 'finland': 464,
 'storing': 1163,
 'potatoes': 923,
 'went': 1303,
 'build': 191,
 'wood': 1322,
 'nails': 803,
 'need': 811,
 'permit': 894,
 'hurricane': 605,
 'gilbert': 523,
 'packing': 868,
 '110': 4,
 'mph': 795,
 'winds': 1313,
 'torrential': 1236,
 'rain': 963,
 'moved': 791,
 'capital': 219,
 'today': 1228,
 'skirting': 1108,
 'puerto': 954,
 'rico': 1009,
 'haiti': 548,
 'dominican': 364,
 'republic': 995,
 'there': 1211,
 'immediate': 610,
 'reports': 994,
 'casualties': 225,
 'telephone': 1200,
 'communications': 279,
 'affected': 55,
 'right': 1011,
 'actually': 51,
 'moving': 794,
 'jamaica': 644,
 'bob': 162,
 'sheets': 1088,
 'director': 354,
 'national': 807,
 'center': 235,
 'miami': 758,
 'we': 1300,
 've': 1276,
 'already': 76,
 'eastern': 386,
 'tip': 1227,
 'looks': 713,
 'like': 693,
 'eye': 433,
 'going': 529,
 'move': 790,
 'lengthwise': 686,
 'island': 640,
 're': 968,
 'bear': 138,
 'full': 506,
 'brunt': 186,
 'powerful': 925,
 'forecasters': 490,
 'expected': 426,
 'lash': 675,
 'throughout': 1223,
 'track': 1241,
 'strike': 1172,
 'cayman': 232,
 'islands': 641,
 'small': 1115,
 'british': 179,
 'dependency': 345,
 'northwest': 834,
 'meanwhile': 747,
 'havana': 562,
 'radio': 962,
 'reported': 991,
 'evacuated': 414,
 'guantanamo': 539,
 'province': 951,
 'cuba': 316,
 'southeastern': 1132,
 'coast': 270,
 'strong': 1173,
 'fanning': 442,
 'brushing': 188,
 'all': 74,
 'bound': 169,
 'flights': 475,
 'canceled': 217,
 'international': 634,
 'airport': 66,
 'main': 722,
 'three': 1222,
 'arrived': 102,
 'frightened': 503,
 'travelers': 1245,
 'running': 1031,
 'lobby': 704,
 'hotel': 593,
 'chickens': 252,
 'heads': 567,
 'cut': 324,
 'vacationer': 1273,
 'returning': 1007,
 'home': 587,
 'california': 208,
 'warnings': 1294,
 'posted': 921,
 'discontinued': 358,
 'interests': 632,
 'caribbean': 221,
 'continue': 296,
 'monitor': 779,
 'progress': 946,
 'dangerous': 332,
 'adding': 52,
 'little': 702,
 'change': 242,
 'strength': 1170,
 'next': 819,
 'several': 1081,
 'moves': 793,
 'westward': 1306,
 'associated': 109,
 'press': 937,
 'headquarters': 566,
 'san': 1039,
 'juan': 653,
 'unable': 1256,
 'phone': 897,
 'calls': 211,
 'kingston': 664,
 'high': 577,
 'heavy': 573,
 'preceding': 928,
 'storm': 1164,
 'drenched': 377,
 'overnight': 865,
 'toppling': 1232,
 'trees': 1248,
 'causing': 230,
 'local': 705,
 'flooding': 478,
 'littering': 701,
 'streets': 1169,
 'branches': 172,
 'most': 787,
 'jamaicans': 645,
 'boarding': 161,
 'windows': 1312,
 'preparation': 932,
 'some': 1125,
 'companies': 282,
 'broadcast': 181,
 'appeals': 91,
 'technicians': 1199,
 'electricians': 394,
 'report': 990,
 'weather': 1301,
 'bureau': 198,
 'predicted': 929,
 '140': 9,
 'miles': 763,
 'southeast': 1131,
 'would': 1331,
 'pass': 878,
 'south': 1130,
 'hit': 582,
 'southern': 1133,
 'parish': 872,
 'clarendon': 262,
 'flash': 473,
 'flood': 476,
 'issued': 642,
 'parishes': 873,
 'portland': 919,
 'northeast': 831,
 'st': 1144,
 'mary': 739,
 'north': 830,
 'tourist': 1238,
 'region': 981,
 'montego': 780,
 'bay': 136,
 'west': 1304,
 'ocho': 840,
 'rios': 1012,
 'east': 385,
 'far': 443,
 'impact': 612,
 'zone': 1348,
 'separated': 1072,
 'mountains': 788,
 'receive': 972,
 'urged': 1267,
 'residents': 1000,
 'higher': 578,
 'risk': 1014,
 'areas': 98,
 'along': 75,
 'seek': 1065,
 'ground': 538,
 'certainly': 239,
 'larger': 673,
 'systems': 1187,
 'seen': 1067,
 'hal': 549,
 'gerrish': 520,
 'forecaster': 489,
 'maximum': 741,
 'sustained': 1184,
 'near': 809,
 'tropical': 1250,
 'force': 488,
 'extending': 432,
 '250': 20,
 '100': 2,
 'prime': 942,
 'minister': 771,
 'edward': 389,
 'seaga': 1056,
 'alerted': 71,
 'government': 533,
 'agencies': 58,
 'saying': 1047,
 'sunday': 1181,
 'night': 822,
 'appears': 93,
 'real': 971,
 'threat': 1221,
 'everyone': 416,
 'follow': 484,
 'instructions': 630,
 'precautions': 927,
 'office': 842,
 'disaster': 357,
 'preparedness': 935,
 'order': 855,
 'minimize': 770,
 'danger': 331,
 'gaining': 509,
 'passed': 879,
 'ocean': 839,
 'dumped': 382,
 'inches': 615,
 'share': 1084,
 'hispaniola': 581,
 'know': 669,
 'within': 1315,
 '72': 35,
 'whether': 1307,
 'major': 724,
 'martin': 738,
 'nelson': 816,
 'another': 87,
 'meteorologist': 755,
 '17': 12,
 'hurricanes': 606,
 'take': 1189,
 'northward': 833,
 'turn': 1252,
 'central': 236,
 'prensa': 931,
 'latina': 679,
 'news': 818,
 'agency': 59,
 'state': 1152,
 'alert': 70,
 'declared': 343,
 'midday': 760,
 'cuban': 317,
 'provinces': 952,
 'holguin': 586,
 'santiago': 1041,
 'de': 337,
 'granma': 535,
 'in': 614,
 'received': 973,
 'mexico': 757,
 'civil': 258,
 'defense': 344,
 'broadcasting': 182,
 'bulletins': 195,
 'television': 1202,
 'recommending': 976,
 'emergency': 396,
 'measures': 749,
 'providing': 950,
 'information': 620,
 'stiff': 1158,
 'downed': 371,
 'power': 924,
 'lines': 696,
 'caused': 229,
 'barahona': 132,
 'peninsula': 888,
 'less': 688,
 'neighboring': 813,
 'ripped': 1013,
 'roofs': 1018,
 'houses': 598,
 'flooded': 477,
 'coastal': 271,
 'southwestern': 1134,
 'saturday': 1043,
 'eugenio': 411,
 'cabral': 206,
 'parts': 877,
 'santo': 1042,
 'domingo': 363,
 'outages': 859,
 'swept': 1186,
 'toward': 1239,
 'heavily': 572,
 'populated': 916,
 'prepare': 934,
 'rains': 964,
 'seas': 1059,
 'approaching': 94,
 'gusting': 543,
 '92': 40,
 'alarm': 68,
 'shortly': 1091,
 'closely': 267,
 'movement': 792,
 'an': 84,
 'estimated': 410,
 'live': 703,
 '70': 33,
 '125': 7,
 'formed': 493,
 'strengthened': 1171,
 'position': 920,
 'latitude': 680,
 'longitude': 710,
 '67': 32,
 'ponce': 913,
 '200': 17,
 'broad': 180,
 'area': 97,
 'cloudiness': 269,
 'rotating': 1022,
 'watch': 1296,
 'virgin': 1282,
 'least': 683,
 '12': 6,
 'feet': 453,
 'gusts': 544,
 'subsided': 1176,
 'on': 846,
 'florence': 482,
 'downgraded': 372,
 'remnants': 986,
 'pushed': 957,
 'inland': 625,
 'gulf': 542,
 'returned': 1006,
 'find': 462,
 'damage': 328,
 '80': 38,
 'sixth': 1105,
 'named': 804,
 '1988': 15,
 'atlantic': 111,
 'season': 1060,
 'second': 1063,
 'debby': 341,
 'reached': 969,
 'minimal': 769,
 'briefly': 176,
 'hitting': 583,
 'mexican': 756,
 'last': 677,
 'month': 781,
 'explosion': 431,
 'flattened': 474,
 'military': 765,
 'barracks': 133,
 'tore': 1233,
 'nearby': 810,
 'homes': 588,
 'killing': 662,
 '11': 3,
 'injuring': 623,
 '22': 18,
 'police': 911,
 'ira': 637,
 'claimed': 261,
 'responsibility': 1003,
 'blast': 153,
 'more': 784,
 'rescue': 997,
 'workers': 1325,
 'frantically': 497,
 'dug': 381,
 'rubble': 1026,
 'story': 1165,
 'building': 192,
 'collapsed': 275,
 'royal': 1025,
 'marines': 735,
 'school': 1051,
 'music': 801,
 'stunned': 1175,
 'neighbors': 814,
 'gathered': 514,
 'damaged': 329,
 'destroyed': 350,
 'chief': 253,
 'inspector': 628,
 'alan': 67,
 'butterfield': 203,
 'kent': 658,
 'provided': 948,
 'casualty': 226,
 'figures': 458,
 'coordinated': 302,
 'effort': 391,
 'person': 895,
 'missing': 774,
 'accounted': 47,
 'he': 563,
 'injured': 621,
 'seriously': 1074,
 'hurt': 607,
 'terrific': 1206,
 'crash': 311,
 'reminded': 985,
 'blitz': 154,
 'after': 56,
 'ceiling': 234,
 'started': 1149,
 'fall': 440,
 'pensioner': 889,
 'joan': 648,
 'betteridge': 148,
 'secretary': 1064,
 'tom': 1230,
 'king': 663,
 'inspecting': 627,
 'wreckage': 1335,
 'yet': 1342,
 'absolutely': 43,
 'confirmed': 290,
 'bomb': 165,
 'evidence': 418,
 'quite': 961,
 'clearly': 265,
 'atrocity': 112,
 'installations': 629,
 'frequent': 499,
 'bombing': 166,
 'target': 1193,
 'irish': 639,
 'republican': 996,
 'campaign': 215,
 'rid': 1010,
 'northern': 832,
 'ireland': 638,
 'rule': 1029,
 'town': 1240,
 'london': 708,
 'worst': 1329,
 'attack': 113,
 'mainland': 723,
 'seven': 1080,
 'occurred': 838,
 '26': 21,
 'lounge': 716,
 'thebarracks': 1210,
 'bands': 128,
 'stopped': 1161,
 'playing': 908,
 'parade': 871,
 'ministry': 772,
 'spokesman': 1139,
 'speaking': 1138,
 'anonymously': 86,
 'keeping': 656,
 'custom': 320,
 'dozens': 374,
 'four': 495,
 'witnesses': 1317,
 'hearing': 570,
 'away': 120,
 'servicemen': 1077,
 'civilians': 259,
 'included': 616,
 'however': 600,
 'told': 1229,
 'reporters': 993,
 'directed': 353,
 'unarmed': 1257,
 'bandsmen': 129,
 'firefighters': 466,
 'used': 1269,
 'lifting': 692,
 'equipment': 406,
 'thermal': 1212,
 'cameras': 214,
 'search': 1058,
 'debris': 342,
 'fire': 465,
 'brigade': 177,
 'kevin': 660,
 'simmons': 1101,
 'ten': 1204,
 'doctors': 361,
 'giving': 526,
 'treatment': 1247,
 'scene': 1050,
 'ambulances': 81,
 'hospitals': 592,
 'ambulance': 80,
 'statement': 1153,
 'telephoned': 1201,
 'dublin': 380,
 'visited': 1284,
 'response': 1002,
 'margaret': 733,
 'thatcher': 1208,
 'visit': 1283,
 'nine': 824,
 'days': 336,
 'mrs': 796,
 'message': 754,
 'war': 1291,
 'still': 1159,
 'want': 1288,
 'peace': 886,
 'leave': 684,
 'signed': 1098,
 'neill': 815,
 'nom': 826,
 'guerre': 541,
 'usually': 1272,
 'uses': 1270,
 'claim': 260,
 'actions': 50,
 'charles': 245,
 'haughey': 561,
 'condemning': 288,
 'calling': 210,
 'outrage': 862,
 'attempt': 115,
 'february': 450,
 '60': 31,
 'soldiers': 1124,
 'shropshire': 1093,
 'england': 400,
 'exploded': 430,
 'soldier': 1123,
 'killed': 661,
 'wounded': 1333,
 'august': 116,
 'july': 654,
 '1982': 14,
 'eight': 392,
 'died': 351,
 'bombings': 167,
 'household': 597,
 'cavalry': 231,
 'bandstand': 130,
 'regent': 980,
 'park': 874,
 'band': 127,
 'total': 1237,
 '51': 27,
 'training': 1243,
 'recruits': 978,
 'play': 906,
 'up': 1264,
 'men': 753,
 'based': 134,
 'musical': 802,
 'roof': 1017,
 'janet': 646,
 'minnock': 773,
 'house': 596,
 'torn': 1234,
 'shattered': 1086,
 'blown': 160,
 'bits': 150,
 'shaken': 1082,
 'door': 366,
 'neighbor': 812,
 'heather': 571,
 'hackett': 547,
 'standing': 1148,
 'kitchen': 665,
 'window': 1311,
 'facing': 435,
 'she': 1087,
 'holding': 584,
 'months': 782,
 'son': 1126,
 'luke': 719,
 'arms': 99,
 'boys': 171,
 'ben': 146,
 'joshua': 652,
 'side': 1095,
 'looked': 712,
 'sink': 1103,
 'saw': 1045,
 'whole': 1309,
 'explode': 429,
 'turned': 1253,
 'slither': 1112,
 'glass': 527,
 'embedded': 395,
 'screamed': 1054,
 'ran': 965,
 'room': 1019,
 'bang': 131,
 'loud': 715,
 'thought': 1219,
 'coming': 278,
 'sean': 1057,
 'asleep': 106,
 'woke': 1318,
 'hell': 574,
 'jolt': 651,
 'as': 104,
 'patch': 883,
 'holes': 585,
 'bedroom': 141,
 'fell': 454,
 'huge': 601,
 'slabs': 1109,
 'plaster': 904,
 'bed': 140,
 'floor': 480,
 'wondered': 1321,
 'soon': 1128,
 'left': 685,
 'knew': 666,
 'breakfasting': 174,
 'heading': 565,
 'confronted': 291,
 'sight': 1096,
 'bodies': 163,
 'carried': 222,
 'reponsibilty': 989,
 'resident': 999,
 'from': 504,
 'wrecked': 1336,
 'smoke': 1118,
 'clouded': 268,
 'could': 308,
 'hear': 568,
 'terrified': 1207,
 'screams': 1055,
 'agony': 61,
 'rushing': 1033,
 'place': 900,
 ...}

In [156]:
# get cosine similarity matrix by using created dataframe
print(cosine_similarity(News_df.values, News_df.values))

[[1.         0.06772097 0.04904721 0.09639147 0.06912985 0.08446611
  0.07935731 0.3103059 ]
 [0.06772097 1.         0.48561352 0.11026705 0.05904459 0.12244049
  0.65872014 0.06459642]
 [0.04904721 0.48561352 1.         0.07836543 0.04624966 0.0862248
  0.42663519 0.03799834]
 [0.09639147 0.11026705 0.07836543 1.         0.4730401  0.5129053
  0.11558953 0.09731082]
 [0.06912985 0.05904459 0.04624966 0.4730401  1.         0.24666848
  0.08653199 0.0702954 ]
 [0.08446611 0.12244049 0.0862248  0.5129053  0.24666848 1.
  0.12904324 0.08483441]
 [0.07935731 0.65872014 0.42663519 0.11558953 0.08653199 0.12904324
  1.         0.0789859 ]
 [0.3103059  0.06459642 0.03799834 0.09731082 0.0702954  0.08483441
  0.0789859  1.        ]]

In [164]:
Document_similar = cosine_similarity(News_df.values, News_df.values)
Doc_similar = pd.DataFrame(Document_similar, columns = ['Doc1','Doc2','Doc3','Doc4','Doc5','Doc6','Doc7','Doc8'])

In [165]:
Doc_similar[['Doc1','Doc2','Doc3','Doc4','Doc5','Doc6','Doc7','Doc8']] = Doc_similar[['Doc1','Doc2','Doc3','Doc4','Doc5','Doc6','Doc7','Doc8']].round(decimals = 3)

In [166]:
#Row Index Changing
Doc_similar.index = ['Doc1','Doc2','Doc3','Doc4','Doc5','Doc6','Doc7','Doc8']

In [167]:
Doc_similar

       Doc1   Doc2   Doc3   Doc4   Doc5   Doc6   Doc7   Doc8
Doc1  1.000  0.068  0.049  0.096  0.069  0.084  0.079  0.310
Doc2  0.068  1.000  0.486  0.110  0.059  0.122  0.659  0.065
Doc3  0.049  0.486  1.000  0.078  0.046  0.086  0.427  0.038
Doc4  0.096  0.110  0.078  1.000  0.473  0.513  0.116  0.097
Doc5  0.069  0.059  0.046  0.473  1.000  0.247  0.087  0.070
Doc6  0.084  0.122  0.086  0.513  0.247  1.000  0.129  0.085
Doc7  0.079  0.659  0.427  0.116  0.087  0.129  1.000  0.079
Doc8  0.310  0.065  0.038  0.097  0.070  0.085  0.079  1.000

In [163]:
Doc_similar.sort_values(by=['Doc1'],ascending=False)

       Doc1   Doc2   Doc3   Doc4   Doc5   Doc6   Doc7   Doc8
Doc1  1.000  0.068  0.049  0.096  0.069  0.084  0.079  0.310
Doc8  0.310  0.065  0.038  0.097  0.070  0.085  0.079  1.000
Doc4  0.096  0.110  0.078  1.000  0.473  0.513  0.116  0.097
Doc6  0.084  0.122  0.086  0.513  0.247  1.000  0.129  0.085
Doc7  0.079  0.659  0.427  0.116  0.087  0.129  1.000  0.079
Doc5  0.069  0.059  0.046  0.473  1.000  0.247  0.087  0.070
Doc2  0.068  1.000  0.486  0.110  0.059  0.122  0.659  0.065
Doc3  0.049  0.486  1.000  0.078  0.046  0.086  0.427  0.038

# Additional Work done for the Similarity Checking

## ---------------------------------------------------------------------------------------------------

In [150]:
new_data1.iloc[0]

Information    Thousands of queue-hardened Soviets on Wednesd...
Name: 0, dtype: string

In [157]:
new_data1.values[0]

array(["Thousands of queue-hardened Soviets on Wednesday cheerfully lined up to get a taste of ''gamburgers'', ''chizburgers'' and ''Filay-o-feesh'' sandwiches as McDonald's opened in the land of Lenin for the first time."],
      dtype=object)

In [193]:
new_data1.head(10)

                                         Information
0  Thousands of queue-hardened Soviets on Wednesd...
1  The world's largest version of the landmark Am...
2  The Soviets, bundled in fur coats and hats, se...
3  The crush of customers was so intense the comp...
4  I only waited an hour and I think they served ...
5  And it was only 10 rubles for all this, she sa...
6  Big Macs were priced at 3.75 rubles and double...
7  The official exchange rate is 1.59 dollar per ...
8  Half the day's sales were donated to the Sovie...
9  The restaurant, built by the company in a join...

In [194]:
r1=tfidf_doc1.fit_transform(new_data1.iloc[0],Head.iloc[0])
r1.sum()

5.059644256269405

In [197]:
for i in range(len(new_data1)):
    r1=tfidf_doc1.fit_transform(new_data1.iloc[i],Head.iloc[0])
    print(r1)
    print(r1.sum())
 
# print(r1_tot)
    
#     r1=tfidf_doc1.fit_transform(new_data1.iloc[i],Head.iloc[0])
#     df2 = pd.DataFrame({'info':new_data1['Information'].values[i],
#                        'Cosine Similarity':Head.iloc[0]})

  (0, 25)	0.15811388300841897
  (0, 6)	0.15811388300841897
  (0, 7)	0.15811388300841897
  (0, 13)	0.15811388300841897
  (0, 12)	0.15811388300841897
  (0, 23)	0.31622776601683794
  (0, 11)	0.15811388300841897
  (0, 18)	0.15811388300841897
  (0, 15)	0.15811388300841897
  (0, 1)	0.15811388300841897
  (0, 20)	0.15811388300841897
  (0, 4)	0.15811388300841897
  (0, 5)	0.15811388300841897
  (0, 0)	0.15811388300841897
  (0, 3)	0.15811388300841897
  (0, 8)	0.15811388300841897
  (0, 22)	0.15811388300841897
  (0, 9)	0.15811388300841897
  (0, 26)	0.15811388300841897
  (0, 27)	0.15811388300841897
  (0, 14)	0.15811388300841897
  (0, 2)	0.15811388300841897
  (0, 28)	0.15811388300841897
  (0, 17)	0.15811388300841897
  (0, 21)	0.15811388300841897
  (0, 10)	0.15811388300841897
  (0, 19)	0.15811388300841897
  (0, 16)	0.4743416490252569
  (0, 24)	0.15811388300841897
5.059644256269405
  (0, 22)	0.16666666666666666
  (0, 16)	0.16666666666666666
  (0, 27)	0.16666666666666666
  (0, 13)	0.16666666666666666
  (0, 10)	0.16666666666666666
  (0, 20)	0.16666666666666666
  (0, 7)	0.16666666666666666
  (0, 18)	0.16666666666666666
  (0, 4)	0.16666666666666666
  (0, 21)	0.16666666666666666
  (0, 5)	0.16666666666666666
  (0, 1)	0.16666666666666666
  (0, 17)	0.16666666666666666
  (0, 14)	0.16666666666666666
  (0, 0)	0.16666666666666666
  (0, 2)	0.16666666666666666
  (0, 24)	0.16666666666666666
  (0, 19)	0.16666666666666666
  (0, 6)	0.16666666666666666
  (0, 9)	0.16666666666666666
  (0, 8)	0.16666666666666666
  (0, 3)	0.16666666666666666
  (0, 11)	0.16666666666666666
  (0, 15)	0.16666666666666666
  (0, 25)	0.16666666666666666
  (0, 12)	0.16666666666666666
  (0, 26)	0.16666666666666666
  (0, 23)	0.5
4.999999999999999
  (0, 23)	0.15811388300841897
  (0, 19)	0.15811388300841897
  (0, 2)	0.15811388300841897
  (0, 15)	0.15811388300841897
  (0, 0)	0.15811388300841897
  (0, 13)	0.15811388300841897
  (0, 8)	0.15811388300841897
  (0, 16)	0.15811388300841897
  (0, 17)	0.15811388300841897
  (0, 1)	0.15811388300841897
  (0, 14)	0.15811388300841897
  (0, 7)	0.15811388300841897
  (0, 4)	0.15811388300841897
  (0, 24)	0.15811388300841897
  (0, 12)	0.15811388300841897
  (0, 22)	0.15811388300841897
  (0, 18)	0.15811388300841897
  (0, 10)	0.15811388300841897
  (0, 3)	0.15811388300841897
  (0, 6)	0.15811388300841897
  (0, 9)	0.15811388300841897
  (0, 11)	0.15811388300841897
  (0, 5)	0.15811388300841897
  (0, 20)	0.15811388300841897
  (0, 21)	0.6324555320336759
4.427188724235731
  (0, 9)	0.22360679774997896
  (0, 12)	0.22360679774997896
  (0, 5)	0.22360679774997896
  (0, 3)	0.22360679774997896
  (0, 14)	0.22360679774997896
  (0, 6)	0.22360679774997896
  (0, 15)	0.22360679774997896
  (0, 8)	0.22360679774997896
  (0, 11)	0.22360679774997896
  (0, 0)	0.22360679774997896
  (0, 4)	0.22360679774997896
  (0, 10)	0.22360679774997896
  (0, 16)	0.22360679774997896
  (0, 2)	0.22360679774997896
  (0, 7)	0.22360679774997896
  (0, 1)	0.22360679774997896
  (0, 13)	0.4472135954999579
4.024922359499623
  (0, 11)	0.20412414523193154
  (0, 1)	0.20412414523193154
  (0, 4)	0.20412414523193154
  (0, 20)	0.20412414523193154
  (0, 18)	0.20412414523193154
  (0, 19)	0.20412414523193154
  (0, 0)	0.20412414523193154
  (0, 9)	0.20412414523193154
  (0, 6)	0.20412414523193154
  (0, 12)	0.20412414523193154
  (0, 8)	0.20412414523193154
  (0, 5)	0.20412414523193154
  (0, 16)	0.20412414523193154
  (0, 13)	0.20412414523193154
  (0, 14)	0.20412414523193154
  (0, 15)	0.20412414523193154
  (0, 3)	0.20412414523193154
  (0, 7)	0.20412414523193154
  (0, 2)	0.4082482904638631
  (0, 17)	0.20412414523193154
  (0, 10)	0.20412414523193154
4.4907311951024935
  (0, 17)	0.1889822365046136
  (0, 16)	0.1889822365046136
  (0, 5)	0.1889822365046136
  (0, 3)	0.1889822365046136
  (0, 7)	0.1889822365046136
  (0, 14)	0.3779644730092272
  (0, 4)	0.1889822365046136
  (0, 13)	0.1889822365046136
  (0, 11)	0.1889822365046136
  (0, 12)	0.1889822365046136
  (0, 15)	0.1889822365046136
  (0, 1)	0.1889822365046136
  (0, 6)	0.3779644730092272
  (0, 10)	0.1889822365046136
  (0, 0)	0.1889822365046136
  (0, 9)	0.1889822365046136
  (0, 18)	0.1889822365046136
  (0, 8)	0.3779644730092272
  (0, 2)	0.1889822365046136
4.157609203101499
  (0, 21)	0.15811388300841897
  (0, 32)	0.15811388300841897
  (0, 25)	0.15811388300841897
  (0, 11)	0.15811388300841897
  (0, 29)	0.15811388300841897
  (0, 22)	0.15811388300841897
  (0, 20)	0.15811388300841897
  (0, 17)	0.15811388300841897
  (0, 28)	0.15811388300841897
  (0, 7)	0.15811388300841897
  (0, 15)	0.15811388300841897
  (0, 6)	0.15811388300841897
  (0, 24)	0.15811388300841897
  (0, 4)	0.15811388300841897
  (0, 30)	0.15811388300841897
  (0, 16)	0.15811388300841897
  (0, 26)	0.15811388300841897
  (0, 14)	0.15811388300841897
  (0, 27)	0.15811388300841897
  (0, 10)	0.15811388300841897
  (0, 18)	0.15811388300841897
  (0, 12)	0.15811388300841897
  (0, 31)	0.15811388300841897
  (0, 1)	0.15811388300841897
  (0, 8)	0.15811388300841897
  (0, 9)	0.15811388300841897
  (0, 2)	0.15811388300841897
  (0, 23)	0.31622776601683794
  (0, 0)	0.15811388300841897
  (0, 3)	0.31622776601683794
  (0, 19)	0.15811388300841897
  (0, 33)	0.15811388300841897
  (0, 13)	0.15811388300841897
  (0, 5)	0.15811388300841897
5.69209978830308
  (0, 15)	0.1643989873053573
  (0, 3)	0.1643989873053573
  (0, 17)	0.1643989873053573
  (0, 25)	0.1643989873053573
  (0, 8)	0.1643989873053573
  (0, 24)	0.1643989873053573
  (0, 2)	0.1643989873053573
  (0, 10)	0.1643989873053573
  (0, 7)	0.1643989873053573
  (0, 0)	0.1643989873053573
  (0, 12)	0.1643989873053573
  (0, 21)	0.1643989873053573
  (0, 5)	0.1643989873053573
  (0, 6)	0.1643989873053573
  (0, 23)	0.1643989873053573
  (0, 13)	0.1643989873053573
  (0, 4)	0.1643989873053573
  (0, 20)	0.1643989873053573
  (0, 18)	0.1643989873053573
  (0, 9)	0.1643989873053573
  (0, 1)	0.1643989873053573
  (0, 14)	0.3287979746107146
  (0, 19)	0.1643989873053573
  (0, 11)	0.1643989873053573
  (0, 16)	0.1643989873053573
  (0, 22)	0.4931969619160719
4.767570631855362
  (0, 25)	0.15617376188860607
  (0, 8)	0.15617376188860607
  (0, 19)	0.15617376188860607
  (0, 2)	0.15617376188860607
  (0, 12)	0.15617376188860607
  (0, 14)	0.15617376188860607
  (0, 16)	0.15617376188860607
  (0, 26)	0.15617376188860607
  (0, 21)	0.15617376188860607
  (0, 18)	0.15617376188860607
  (0, 10)	0.15617376188860607
  (0, 6)	0.15617376188860607
  (0, 15)	0.15617376188860607
  (0, 1)	0.15617376188860607
  (0, 0)	0.31234752377721214
  (0, 3)	0.15617376188860607
  (0, 13)	0.15617376188860607
  (0, 17)	0.15617376188860607
  (0, 28)	0.15617376188860607
  (0, 9)	0.15617376188860607
  (0, 4)	0.31234752377721214
  (0, 22)	0.15617376188860607
  (0, 24)	0.31234752377721214
  (0, 7)	0.15617376188860607
  (0, 27)	0.15617376188860607
  (0, 20)	0.15617376188860607
  (0, 5)	0.15617376188860607
  (0, 23)	0.31234752377721214
  (0, 11)	0.15617376188860607
5.153734142324
  (0, 16)	0.15249857033260467
  (0, 12)	0.15249857033260467
  (0, 22)	0.15249857033260467
  (0, 9)	0.15249857033260467
  (0, 14)	0.15249857033260467
  (0, 1)	0.15249857033260467
  (0, 20)	0.15249857033260467
  (0, 4)	0.15249857033260467
  (0, 2)	0.15249857033260467
  (0, 24)	0.15249857033260467
  (0, 0)	0.15249857033260467
  (0, 3)	0.15249857033260467
  (0, 18)	0.15249857033260467
  (0, 13)	0.15249857033260467
  (0, 15)	0.30499714066520933
  (0, 7)	0.15249857033260467
  (0, 23)	0.15249857033260467
  (0, 21)	0.15249857033260467
  (0, 11)	0.15249857033260467
  (0, 10)	0.15249857033260467
  (0, 8)	0.15249857033260467
  (0, 6)	0.15249857033260467
  (0, 5)	0.15249857033260467
  (0, 17)	0.15249857033260467
  (0, 19)	0.6099942813304187
4.422458539645536
  (0, 10)	0.13483997249264842
  (0, 0)	0.13483997249264842
  (0, 4)	0.13483997249264842
  (0, 1)	0.13483997249264842
  (0, 12)	0.13483997249264842
  (0, 14)	0.13483997249264842
  (0, 13)	0.13483997249264842
  (0, 11)	0.13483997249264842
  (0, 22)	0.13483997249264842
  (0, 24)	0.13483997249264842
  (0, 19)	0.13483997249264842
  (0, 9)	0.13483997249264842
  (0, 2)	0.13483997249264842
  (0, 20)	0.26967994498529685
  (0, 15)	0.26967994498529685
  (0, 5)	0.13483997249264842
  (0, 3)	0.13483997249264842
  (0, 8)	0.40451991747794525
  (0, 25)	0.13483997249264842
  (0, 21)	0.13483997249264842
  (0, 7)	0.13483997249264842
  (0, 18)	0.13483997249264842
  (0, 6)	0.13483997249264842
  (0, 16)	0.13483997249264842
  (0, 17)	0.13483997249264842
  (0, 23)	0.5393598899705937
4.449719092257398
  (0, 20)	0.14907119849998599
  (0, 37)	0.14907119849998599
  (0, 28)	0.14907119849998599
  (0, 36)	0.14907119849998599
  (0, 0)	0.14907119849998599
  (0, 34)	0.14907119849998599
  (0, 14)	0.14907119849998599
  (0, 21)	0.14907119849998599
  (0, 31)	0.14907119849998599
  (0, 29)	0.14907119849998599
  (0, 38)	0.14907119849998599
  (0, 16)	0.14907119849998599
  (0, 25)	0.14907119849998599
  (0, 7)	0.14907119849998599
  (0, 22)	0.14907119849998599
  (0, 33)	0.14907119849998599
  (0, 6)	0.14907119849998599
  (0, 35)	0.14907119849998599
  (0, 18)	0.14907119849998599
  (0, 23)	0.14907119849998599
  (0, 5)	0.14907119849998599
  (0, 8)	0.14907119849998599
  (0, 10)	0.14907119849998599
  (0, 26)	0.14907119849998599
  (0, 27)	0.14907119849998599
  (0, 15)	0.14907119849998599
  (0, 12)	0.14907119849998599
  (0, 2)	0.29814239699997197
  (0, 11)	0.14907119849998599
  (0, 3)	0.29814239699997197
  (0, 9)	0.14907119849998599
  (0, 1)	0.14907119849998599
  (0, 32)	0.14907119849998599
  (0, 4)	0.14907119849998599
  (0, 24)	0.14907119849998599
  (0, 19)	0.14907119849998599
  (0, 13)	0.14907119849998599
  (0, 17)	0.14907119849998599
  (0, 30)	0.14907119849998599
6.111919138499429
  (0, 17)	0.19611613513818404
  (0, 7)	0.19611613513818404
  (0, 15)	0.19611613513818404
  (0, 13)	0.19611613513818404
  (0, 19)	0.19611613513818404
  (0, 22)	0.19611613513818404
  (0, 2)	0.19611613513818404
  (0, 12)	0.19611613513818404
  (0, 11)	0.19611613513818404
  (0, 10)	0.19611613513818404
  (0, 4)	0.19611613513818404
  (0, 3)	0.19611613513818404
  (0, 20)	0.19611613513818404
  (0, 6)	0.19611613513818404
  (0, 5)	0.19611613513818404
  (0, 18)	0.19611613513818404
  (0, 9)	0.19611613513818404
  (0, 21)	0.19611613513818404
  (0, 1)	0.3922322702763681
  (0, 16)	0.19611613513818404
  (0, 8)	0.19611613513818404
  (0, 14)	0.19611613513818404
  (0, 0)	0.19611613513818404
4.706787243316419
  (0, 7)	0.16222142113076254
  (0, 11)	0.16222142113076254
  (0, 13)	0.16222142113076254
  (0, 23)	0.16222142113076254
  (0, 14)	0.16222142113076254
  (0, 17)	0.16222142113076254
  (0, 10)	0.16222142113076254
  (0, 9)	0.16222142113076254
  (0, 30)	0.16222142113076254
  (0, 21)	0.16222142113076254
  (0, 31)	0.16222142113076254
  (0, 19)	0.16222142113076254
  (0, 28)	0.16222142113076254
  (0, 22)	0.16222142113076254
  (0, 27)	0.16222142113076254
  (0, 2)	0.3244428422615251
  (0, 24)	0.16222142113076254
  (0, 8)	0.16222142113076254
  (0, 4)	0.16222142113076254
  (0, 1)	0.16222142113076254
  (0, 5)	0.16222142113076254
  (0, 3)	0.16222142113076254
  (0, 18)	0.16222142113076254
  (0, 25)	0.16222142113076254
  (0, 12)	0.16222142113076254
  (0, 20)	0.16222142113076254
  (0, 29)	0.16222142113076254
  (0, 6)	0.16222142113076254
  (0, 26)	0.16222142113076254
  (0, 0)	0.16222142113076254
  (0, 15)	0.16222142113076254
  (0, 16)	0.3244428422615251
5.515528318445927
  (0, 11)	0.15811388300841897
  (0, 0)	0.15811388300841897
  (0, 16)	0.15811388300841897
  (0, 6)	0.15811388300841897
  (0, 3)	0.15811388300841897
  (0, 27)	0.15811388300841897
  (0, 19)	0.15811388300841897
  (0, 4)	0.15811388300841897
  (0, 1)	0.15811388300841897
  (0, 12)	0.15811388300841897
  (0, 17)	0.15811388300841897
  (0, 2)	0.15811388300841897
  (0, 8)	0.15811388300841897
  (0, 22)	0.31622776601683794
  (0, 14)	0.31622776601683794
  (0, 21)	0.15811388300841897
  (0, 25)	0.31622776601683794
  (0, 20)	0.15811388300841897
  (0, 13)	0.15811388300841897
  (0, 26)	0.31622776601683794
  (0, 7)	0.15811388300841897
  (0, 9)	0.15811388300841897
  (0, 23)	0.15811388300841897
  (0, 24)	0.15811388300841897
  (0, 15)	0.15811388300841897
  (0, 5)	0.15811388300841897
  (0, 18)	0.15811388300841897
  (0, 10)	0.15811388300841897
5.059644256269404
  (0, 9)	0.16666666666666666
  (0, 1)	0.16666666666666666
  (0, 10)	0.16666666666666666
  (0, 6)	0.16666666666666666
  (0, 11)	0.16666666666666666
  (0, 2)	0.16666666666666666
  (0, 8)	0.3333333333333333
  (0, 15)	0.16666666666666666
  (0, 5)	0.16666666666666666
  (0, 22)	0.16666666666666666
  (0, 23)	0.16666666666666666
  (0, 3)	0.16666666666666666
  (0, 16)	0.16666666666666666
  (0, 4)	0.16666666666666666
  (0, 20)	0.3333333333333333
  (0, 0)	0.16666666666666666
  (0, 14)	0.16666666666666666
  (0, 17)	0.16666666666666666
  (0, 13)	0.16666666666666666
  (0, 7)	0.16666666666666666
  (0, 12)	0.3333333333333333
  (0, 18)	0.16666666666666666
  (0, 21)	0.16666666666666666
  (0, 19)	0.3333333333333333
4.666666666666666
  (0, 5)	0.35355339059327373
  (0, 1)	0.35355339059327373
  (0, 4)	0.35355339059327373
  (0, 7)	0.35355339059327373
  (0, 0)	0.35355339059327373
  (0, 2)	0.35355339059327373
  (0, 6)	0.35355339059327373
  (0, 3)	0.35355339059327373
2.82842712474619
  (0, 19)	0.19245008972987526
  (0, 1)	0.19245008972987526
  (0, 15)	0.19245008972987526
  (0, 9)	0.19245008972987526
  (0, 0)	0.19245008972987526
  (0, 17)	0.19245008972987526
  (0, 20)	0.19245008972987526
  (0, 23)	0.19245008972987526
  (0, 3)	0.19245008972987526
  (0, 7)	0.19245008972987526
  (0, 8)	0.19245008972987526
  (0, 18)	0.19245008972987526
  (0, 2)	0.19245008972987526
  (0, 4)	0.19245008972987526
  (0, 14)	0.19245008972987526
  (0, 24)	0.19245008972987526
  (0, 25)	0.19245008972987526
  (0, 16)	0.19245008972987526
  (0, 21)	0.19245008972987526
  (0, 26)	0.19245008972987526
  (0, 5)	0.19245008972987526
  (0, 11)	0.19245008972987526
  (0, 22)	0.19245008972987526
  (0, 10)	0.19245008972987526
  (0, 6)	0.19245008972987526
  (0, 13)	0.19245008972987526
  (0, 12)	0.19245008972987526
5.19615242270663
  (0, 22)	0.10425720702853739
  (0, 41)	0.10425720702853739
  (0, 42)	0.10425720702853739
  (0, 35)	0.10425720702853739
  (0, 29)	0.10425720702853739
  (0, 15)	0.10425720702853739
  (0, 5)	0.10425720702853739
  (0, 10)	0.10425720702853739
  (0, 18)	0.10425720702853739
  (0, 6)	0.10425720702853739
  (0, 30)	0.10425720702853739
  (0, 13)	0.10425720702853739
  (0, 24)	0.10425720702853739
  (0, 11)	0.10425720702853739
  (0, 28)	0.10425720702853739
  (0, 32)	0.10425720702853739
  (0, 37)	0.10425720702853739
  (0, 31)	0.10425720702853739
  (0, 26)	0.10425720702853739
  (0, 2)	0.10425720702853739
  (0, 0)	0.10425720702853739
  (0, 7)	0.10425720702853739
  (0, 27)	0.10425720702853739
  (0, 17)	0.10425720702853739
  (0, 8)	0.10425720702853739
  (0, 23)	0.10425720702853739
  (0, 14)	0.3127716210856122
  (0, 40)	0.10425720702853739
  (0, 21)	0.10425720702853739
  (0, 20)	0.10425720702853739
  (0, 12)	0.10425720702853739
  (0, 33)	0.10425720702853739
  (0, 3)	0.20851441405707477
  (0, 19)	0.10425720702853739
  (0, 36)	0.20851441405707477
  (0, 9)	0.10425720702853739
  (0, 1)	0.10425720702853739
  (0, 4)	0.10425720702853739
  (0, 16)	0.10425720702853739
  (0, 25)	0.10425720702853739
  (0, 34)	0.10425720702853739
  (0, 38)	0.6255432421712244
  (0, 39)	0.10425720702853739
5.421374765483943
  (0, 12)	0.22941573387056174
  (0, 18)	0.22941573387056174
  (0, 1)	0.22941573387056174
  (0, 2)	0.22941573387056174
  (0, 6)	0.22941573387056174
  (0, 14)	0.22941573387056174
  (0, 3)	0.22941573387056174
  (0, 5)	0.22941573387056174
  (0, 9)	0.22941573387056174
  (0, 0)	0.22941573387056174
  (0, 11)	0.22941573387056174
  (0, 7)	0.22941573387056174
  (0, 15)	0.22941573387056174
  (0, 16)	0.22941573387056174
  (0, 17)	0.22941573387056174
  (0, 8)	0.22941573387056174
  (0, 10)	0.22941573387056174
  (0, 4)	0.22941573387056174
  (0, 13)	0.22941573387056174
4.358898943540672
  (0, 21)	0.13608276348795434
  (0, 13)	0.13608276348795434
  (0, 11)	0.13608276348795434
  (0, 10)	0.13608276348795434
  (0, 15)	0.13608276348795434
  (0, 14)	0.13608276348795434
  (0, 2)	0.13608276348795434
  (0, 28)	0.13608276348795434
  (0, 0)	0.2721655269759087
  (0, 1)	0.13608276348795434
  (0, 26)	0.13608276348795434
  (0, 24)	0.13608276348795434
  (0, 3)	0.13608276348795434
  (0, 22)	0.13608276348795434
  (0, 19)	0.13608276348795434
  (0, 5)	0.13608276348795434
  (0, 29)	0.13608276348795434
  (0, 23)	0.2721655269759087
  (0, 17)	0.13608276348795434
  (0, 25)	0.13608276348795434
  (0, 9)	0.13608276348795434
  (0, 4)	0.13608276348795434
  (0, 16)	0.13608276348795434
  (0, 27)	0.5443310539518174
  (0, 8)	0.13608276348795434
  (0, 12)	0.13608276348795434
  (0, 7)	0.13608276348795434
  (0, 6)	0.13608276348795434
  (0, 20)	0.2721655269759087
  (0, 18)	0.13608276348795434
4.898979485566357
  (0, 13)	0.25
  (0, 2)	0.25
  (0, 10)	0.25
  (0, 8)	0.25
  (0, 4)	0.25
  (0, 5)	0.25
  (0, 3)	0.25
  (0, 9)	0.25
  (0, 7)	0.25
  (0, 1)	0.25
  (0, 0)	0.25
  (0, 15)	0.25
  (0, 11)	0.25
  (0, 6)	0.25
  (0, 12)	0.25
  (0, 14)	0.25
4.0
  (0, 4)	0.1414213562373095
  (0, 25)	0.1414213562373095
  (0, 7)	0.1414213562373095
  (0, 24)	0.1414213562373095
  (0, 11)	0.1414213562373095
  (0, 28)	0.282842712474619
  (0, 17)	0.1414213562373095
  (0, 19)	0.1414213562373095
  (0, 0)	0.1414213562373095
  (0, 30)	0.1414213562373095
  (0, 31)	0.1414213562373095
  (0, 5)	0.1414213562373095
  (0, 12)	0.1414213562373095
  (0, 27)	0.1414213562373095
  (0, 10)	0.1414213562373095
  (0, 23)	0.1414213562373095
  (0, 29)	0.4242640687119285
  (0, 32)	0.1414213562373095
  (0, 26)	0.1414213562373095
  (0, 21)	0.1414213562373095
  (0, 8)	0.1414213562373095
  (0, 1)	0.1414213562373095
  (0, 20)	0.1414213562373095
  (0, 22)	0.1414213562373095
  (0, 16)	0.1414213562373095
  (0, 6)	0.1414213562373095
  (0, 2)	0.1414213562373095
  (0, 13)	0.1414213562373095
  (0, 9)	0.1414213562373095
  (0, 18)	0.282842712474619
  (0, 14)	0.282842712474619
  (0, 3)	0.1414213562373095
  (0, 15)	0.1414213562373095
5.374011537017762
  (0, 12)	0.16222142113076254
  (0, 0)	0.16222142113076254
  (0, 26)	0.16222142113076254
  (0, 13)	0.3244428422615251
  (0, 23)	0.16222142113076254
  (0, 19)	0.16222142113076254
  (0, 8)	0.16222142113076254
  (0, 3)	0.16222142113076254
  (0, 21)	0.16222142113076254
  (0, 24)	0.16222142113076254
  (0, 20)	0.3244428422615251
  (0, 25)	0.16222142113076254
  (0, 2)	0.16222142113076254
  (0, 15)	0.16222142113076254
  (0, 17)	0.16222142113076254
  (0, 7)	0.16222142113076254
  (0, 6)	0.16222142113076254
  (0, 9)	0.16222142113076254
  (0, 5)	0.3244428422615251
  (0, 27)	0.16222142113076254
  (0, 10)	0.16222142113076254
  (0, 22)	0.16222142113076254
  (0, 28)	0.16222142113076254
  (0, 4)	0.16222142113076254
  (0, 18)	0.16222142113076254
  (0, 16)	0.16222142113076254
  (0, 1)	0.16222142113076254
  (0, 11)	0.16222142113076254
  (0, 14)	0.16222142113076254
5.191085476184403
  (0, 2)	0.35355339059327373
  (0, 0)	0.35355339059327373
  (0, 6)	0.35355339059327373
  (0, 4)	0.35355339059327373
  (0, 3)	0.35355339059327373
  (0, 7)	0.35355339059327373
  (0, 1)	0.35355339059327373
  (0, 5)	0.35355339059327373
2.82842712474619

In [200]:
# for i in range(len(new_data1)):
#     r2=tfidf_doc1.fit_transform(new_data1.iloc[i],Head.iloc[2])
#     print(r2)
#     print(r2.sum())

In [50]:
News_head1 = ["Hurricane Gilbert Heads Toward Dominican Coast"]
News_head2 = ["IRA terrorist attack"]
News_head3= ["McDonald's Opens First Restaurant in China"]
  
# Create the pandas DataFrame with column name is provided explicitly
Headlines1 = pd.DataFrame(News_head1, columns=['Headline'])
Headlines2 = pd.DataFrame(News_head2, columns=['Headline'])
Headlines3 = pd.DataFrame(News_head3, columns=['Headline'])

### Text file1 headline Revealing

In [51]:
Head1_title1=Headlines1.append([Headlines1]*24,ignore_index=True)
Head1_title2=Headlines2.append([Headlines2]*24,ignore_index=True)
Head1_title3=Headlines3.append([Headlines3]*24,ignore_index=True)

In [52]:
# Merge default pandas DataFrame without any key column
Head1_title1 = pd.concat([Head1_title1,new_data1], join = 'outer', axis = 1)
Head1_title2 = pd.concat([Head1_title2,new_data1], join = 'outer', axis = 1)
Head1_title3 = pd.concat([Head1_title3,new_data1], join = 'outer', axis = 1)

In [53]:
Head1_title3.head(5)

,Headline,Information
0,McDonald's Opens First Restaurant in China,"Thousands queue-hardened Soviets Wednesday cheerfully lined get taste `` gamburgers '' , `` chizburgers '' `` Filay-o-feesh '' sandwich McDonald 's opened land Lenin first time ."
1,McDonald's Opens First Restaurant in China,"The world 's large version landmark American fast-food chain rang 30,000 meal 27 cash register , breaking opening-day record McDonald 's worldwide , official said ."
2,McDonald's Opens First Restaurant in China,"The Soviets , bundled fur coat hat , seemed unfazed , lining dawn outside 700 seat restaurant , first 20 planned across Soviet Union ."
3,McDonald's Opens First Restaurant in China,"The crush customer intense company stayed open midnight , two hour late planned ."
4,McDonald's Opens First Restaurant in China,"I waited hour I think served thousand , said happy middle-aged woman work aluminum plant ."

In [54]:
frames = [Head1_title1 , Head1_title2 , Head1_title3]
Doc1 = pd.concat(frames)

In [55]:
Doc1.shape
Doc1

,Headline,Information
0,Hurricane Gilbert Heads Toward Dominican Coast,"Thousands queue-hardened Soviets Wednesday cheerfully lined get taste `` gamburgers '' , `` chizburgers '' `` Filay-o-feesh '' sandwich McDonald 's opened land Lenin first time ."
1,Hurricane Gilbert Heads Toward Dominican Coast,"The world 's large version landmark American fast-food chain rang 30,000 meal 27 cash register , breaking opening-day record McDonald 's worldwide , official said ."
2,Hurricane Gilbert Heads Toward Dominican Coast,"The Soviets , bundled fur coat hat , seemed unfazed , lining dawn outside 700 seat restaurant , first 20 planned across Soviet Union ."
3,Hurricane Gilbert Heads Toward Dominican Coast,"The crush customer intense company stayed open midnight , two hour late planned ."
4,Hurricane Gilbert Heads Toward Dominican Coast,"I waited hour I think served thousand , said happy middle-aged woman work aluminum plant ."
...,...,...
20,McDonald's Opens First Restaurant in China,"McDonald 's Canada Chairman George Cohon , man behind deal , said many people buying multiple order restaurant served 15,000 20,000 people first five hour operation ."
21,McDonald's Opens First Restaurant in China,The restaurant limited purchase 10 Big Macs per customer hope preventing burger scalping .
22,McDonald's Opens First Restaurant in China,"McDonald 's built factory , including bakery , dairy , meat processing plant even potato storage yard , provide guaranteed supply country 25 percent harvest rot en route consumer ."
23,McDonald's Opens First Restaurant in China,"One McDonald 's associate said company wound importing wooden crate Finland storing potato went build crate , found wood , nail ."
24,McDonald's Opens First Restaurant in China,They found need permit buy nail .

In [56]:
Doc1['Headline'] = Doc1['Headline'].str.replace('\d+', '',regex=True)

In [59]:
Doc1[['Headline','Information']] = Doc1[['Headline','Information']].astype('string')

In [106]:
Doc1.dtypes

Headline       string
Information    string
dtype: object

In [107]:
Doc1.head(5)

,Headline,Information
0,Hurricane Gilbert Heads Toward Dominican Coast,"Thousands queue-hardened Soviets Wednesday cheerfully lined get taste `` gamburgers '' , `` chizburgers '' `` Filay-o-feesh '' sandwich McDonald 's opened land Lenin first time ."
1,Hurricane Gilbert Heads Toward Dominican Coast,"The world 's large version landmark American fast-food chain rang 30,000 meal 27 cash register , breaking opening-day record McDonald 's worldwide , official said ."
2,Hurricane Gilbert Heads Toward Dominican Coast,"The Soviets , bundled fur coat hat , seemed unfazed , lining dawn outside 700 seat restaurant , first 20 planned across Soviet Union ."
3,Hurricane Gilbert Heads Toward Dominican Coast,"The crush customer intense company stayed open midnight , two hour late planned ."
4,Hurricane Gilbert Heads Toward Dominican Coast,"I waited hour I think served thousand , said happy middle-aged woman work aluminum plant ."

In [101]:
headline_vectorizer = CountVectorizer()
# headline_features   = headline_vectorizer.fit_transform(Doc1['Headline'])

In [80]:
headline_features.get_shape()

(75, 15)

### Using Bag of Words method

> Bag of Word model not provides the expected level of accuracy for similarity checking and it's being neglected

A **Bag of Words(BoW)** method represents the occurence of words within a **document**. Here, each headline can be considered as a **document** and set of all headlines form a **corpus**.

Using **BoW** approach, each **document** is represented by a **d-dimensional** vector, where **d** is total number of **unique words** in the corpus. The set of such unique words forms the **Vocabulary**.

In [99]:
# def bag_of_words_based_model(row_index, num_similar_items):
#     couple_dist = pairwise_distances(headline_features,headline_features[row_index])
#     indices = np.argsort(couple_dist.ravel())[0:num_similar_items]
#     df = pd.DataFrame({'Information':Head1_title1['Information'][indices].values,
#                 'Euclidean similarity with the queried article': couple_dist[indices].ravel()})
#     print("="*30,"Queried article details","="*30)
#     print('headline : ',Doc1['Headline'][indices[1]])
#     print("\n","="*25,"Recommended articles : ","="*23)
#     #return df.iloc[1:,1]
#     return df.iloc[1:,]

# # bag_of_words_based_model(20, 10) # Change the row index for any other queried article

# name=input('News Title For Recommendation :')
# clear_output()
# ind=Doc1[Doc1['Headline']==name].index[0]
# dd=bag_of_words_based_model(ind, 20)
# dd.head(10)  # Change the row index for any other queried article

In [39]:
text1 = new_data1.to_numpy()
process.extract("Hurricane Gilbert Heads Toward Dominican Coast",  new_data1, scorer=fuzz.ratio)

[(0     Thousands of queue-hardened Soviets on Wednesday cheerfully lined up to get a taste of ''gamburgers'', ''chizburgers'' and ''Filay-o-feesh'' sandwiches as McDonald's opened in the land of Lenin for the first time.
  1     The world's largest version of the landmark American fast-food chain rang up 30,000 meals on 27 cash registers, breaking the opening-day record for McDonald's worldwide, officials said.
  2     The Soviets, bundled in fur coats and hats, seemed unfazed, lining up before dawn outside the 700 seat restaurant, the first of 20 planned across the Soviet Union.
  3     The crush of customers was so intense the company stayed open until midnight, two hours later than planned.
  4     I only waited an hour and I think they served thousands before me, said a happy middle-aged woman who works at an aluminum plant.
  5     And it was only 10 rubles for all this, she said. I'm taking it back for the girls at the factory to try.
  6     Big Macs were priced at 3.75 rubles and double cheeseburgers at 3 rubles about two hours' pay for a starting McDonald's staffer or the average Soviet, but much cheaper than other private restaurants that have sprung up recently.
  7     The official exchange rate is 1.59 dollar per ruble but foreign visitors can buy rubles for 16 cents each, about what the currency is worth on the black market.
  8     Half the day's sales were donated to the Soviet Children's Fund, which provides medical care and assistance to orphans and disadvantaged children, Gary Reinblatt, senior vice president of McDonald's Canada, said from Toronto.
  9     The restaurant, built by the company in a joint venture with the city of Moscow that began 14 years ago, brought to 52 the number of countries where McDonald's operates.
  10    The previous opening-day record for sales was in Budapest, company officials said. Besides its restaurants in the United States, the leading number of McDonald's are in Canada and Japan, the officials said.
  11    Soviets got a first-hand look at such alien concepts as efficiency and fast, friendly service. Normally dour citizens broke into grins as they caught the infectious cheerful mood from youthful Soviet staffers hired for their ability to smile and work hard.
  12    Accordions played folk songs and women in traditional costumes danced with cartoon characters, including Mickey Mouse and Baba Yaga, a witch of Russian fairy tales.
  13    One Muscovite, accustomed to clerks who snarl if they say anything at all, asked for a straw and was startled when a smiling young Soviet woman found him one and popped it straight into his drink.
  14    For most customers, it was their first experience with a hamburger. Sandwiches were served in the familiar bag marked with the golden arches, but were packed in wrappers bearing Cyrillic letters, approximating ``gamburger.''
  15    They tried them one-handed.They picked their sandwiches apart to examine the contents. One young woman finally squashed her ``Beeg Mak'' to fit her lips around it.
  16    ''It tasted great!'' a 14 years old boy said.
  17    It's a lot different from a stolovaya,'' he continued with a smile, referring to the much cheaper but run down dirty cafeterias that slop rice and fat or boiled sausage.
  18    Under the sign of the golden arches, accented by the Soviet hammer and sickle flag, hundreds lined up for the long awaited grand opening at 10 am on Pushkin Square, reaching out excitedly for McDonald's flags and pins as the hamburger chain's army fulfilled the Soviet penchant for souvenirs with Western logos.
  19    Publicity conscious managers had the staff shout ''Good morning, America!'' in English and Russian, for an American TV network.
  20    McDonald's of Canada Chairman George Cohon, the man behind the deal, said many people were buying multiple orders and the restaurant served 15,000 to 20,000 people in just the first five hours of operation.
  21    The restaurant limited purchases to 10 Big Macs per customer in hopes of preventing burger scalping.
  22    McDonald's built its own factory, including bakery, dairy, meat processing plant and even potato storage yard, to provide its own guaranteed supplies in a country where up to 25 percent of the harvest rots en route to the consumer.
  23    One McDonald's associate said the company wound up importing wooden crates from Finland for storing potatoes because when they went to build crates, they found there was no wood, and no nails.
  24    They found you need a permit to buy nails.
  Name: Information, dtype: string,
  0.0,
  'Information')]