#### We often face issues while Performing Explory Data Analysis(EDA),Specially if we are beginners. Well worry no more :)

#### In this Notebook we'll Understand how to performe EDA step by step.

# A Lot to know, A Lot to discuss... Lets Begin

In [1]:
# Import all required Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the data in Df using df.read_csv.
df=pd.read_csv('zomato.csv')
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

### Data Cleaning

In [3]:
#size before cleaning
df.shape

(51717, 17)

In [4]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [5]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

**As we can observe, We don't need columns like 'url','phone' etc. as they cant be used to analyse the data**

**Simply drop it**

In [6]:
# dropping all unnecessary columns
df=df.drop(['url','address','phone','dish_liked','reviews_list','menu_item'], axis=1)
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

# New Dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51717 non-null  object
 1   online_order                 51717 non-null  object
 2   book_table                   51717 non-null  object
 3   rate                         43942 non-null  object
 4   votes                        51717 non-null  int64
 5   location                     51696 non-null  object
 6   rest_type                    51490 non-null  object
 7   cuisines                     51672 non-null  object
 8   approx_cost(for two people)  51371 non-null  object
 9   listed_in(type)              51717 non-null  object
 10  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(10)
memory usage: 4.3+ MB

## Checking for Duplicates

In [8]:
# drop duplicates if any
df.drop_duplicates(inplace = True)
df.shape

(51609, 11)

# EDA Steps- Analyzing each Column

#### Analysing Rating column

In [9]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

#### we can se there are some faulty values like NEW and - in data and apart from that other values are in form like 3.3/5 but we need float values like 3.3

# Function to remove 'new' and '-' and '/5' fro, rating

In [10]:
# We define a function 
def handlerate(value):
    # If value is equal to "NEW" or '-' than just remove the values
    if(value=='NEW' or value=='-'):
        return np.nan
    # else split the value for example 
    else:
        # "3.3/5" will split it into 3.3 amd /5 ...  value=[3.3][/5]
        value=str(value).split('/')
        # 3.3 is the first element of the the list so we'll excess it by using value[0]
        value=value[0]
        # return it by converting it from string to float
        return float(value)

# apply the function on df.rate    
df.rate=df['rate'].apply(handlerate)
df.rate.head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

In [11]:
df.rate.isnull().sum()

10019

## Dealing with NULL values
we will fill null values with the average rating

In [12]:
# df.filling is used to fill NaN values & we have filled them with the mean values of rating
df.rate.fillna(df.rate.mean(), inplace=True)

# check is any null values left
df.rate.isnull().sum()

0

### NULL values of other columns can't be predicted as they are strings so we will drop them

In [ ]:
df.dropna(inplace=True)
df.head()

In [13]:
## No null value left now
df.isnull().sum()

name                             0
online_order                     0
book_table                       0
rate                             0
votes                            0
location                        21
rest_type                      227
cuisines                        45
approx_cost(for two people)    344
listed_in(type)                  0
listed_in(city)                  0
dtype: int64

## Cost columns Analysis

In [14]:
# As name of the column is very long we will simply change it
df.rename(columns = {'approx_cost(for two people)':'Cost2Plates','listed_in(type)':'Type'},inplace=True)
df.head()

# city and location both contain address so dropping one

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,Cost2Plates,Type,listed_in(city)
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

In [15]:
## City and Location both contain address so Dropping one
df=df.drop(['listed_in(city)'],axis=1)
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,Cost2Plates,Type
0,Jalsa,Yes,Yes,4.1,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet

## Analysing cost2plates column

In [16]:
df.Cost2Plates.unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

#### We can see values grater than 99 have "," in it
For example: 9,945  but we need values in int forms example: 9945

# Function to remove the ',' and converting it into float

In [ ]:
def handlecost(value):
    value=str(value)
    if ',' in value:
        # we are simpling Replacing "," With no value ""
        value= value.replace(',','')
        return float(value)
    else:
        return float(value)
    
df.Cost2Plates=df.Cost2Plates.apply(handlecost)
df.Cost2Plates.unique()

In [ ]:
df.head()

# Analysing rest_type Column

In [ ]:
# This function return how many times a values is coming in dataframe
# For example quick Bites types of resturents are coming 19010 times
df.rest_type.value_counts()

# Creating new category
##### The resturent types that have low occurance, we will club them together to a category called "others

##### For example Dessert parlor is coming only 2 times so we with define it as other type of resturent

In [ ]:
rest_types=df.rest_type.value_counts()
# Storing all the resturent types that have accured less than 1000 times in the dataframes
rest_type_lessthan_1000=rest_types[rest_types<1000]
rest_type_lessthan_1000

# as lots of types have few resaturants we will add them in Other

In [ ]:
def handle_rest_type(value):
    # if value is in the list then change it to other
    if(value in rest_type_lessthan_1000):
        return 'others'
    else:
        return value
    
df.rest_type=df.rest_type.apply(handle_rest_type)
df.rest_type.value_counts()

In [ ]:
df.head()

# Analyse the Location Column

In [ ]:
df.location.value_counts()

# Doing same thing what we did with Resturent types

In [ ]:
locations = df.location.value_counts()
location_less_than_500= locations[locations<500]
location_less_than_500

# make function to handle the location less thn 500
def handle_location(value):
    if value in location_less_than_500 :
        return 'others'
    else:
        return value
    
df.location=df.location.apply(handle_location)
df.location.value_counts()

In [ ]:
df.head()

# Analysing cusines coulmn

In [ ]:
cuisiness = df.cuisines.value_counts()
cuisiness_less_than_100= cuisiness[cuisiness<100]
#cuisiness_less_than_100

# make function to handle the location less thn 500
def handle_cuisiness(value):
    if value in cuisiness_less_than_100:
        return 'others'
    else:
        return value
    
df.cuisines=df.cuisines.apply(handle_cuisiness)
df.cuisines.value_counts()

# Analysing types column

In [ ]:
df.Type.value_counts()

#### DF.Type is already very clean

#  Data is cleaned now we can start Visualization ##

![](https://i.gifer.com/ZEVP.gif)

# Data Visualization

### Visualizing the location

In [ ]:
# Count plot is used to count the total values for a row
# for example it is showing there are 5000+ resturent in BTM
plt.figure(figsize=(22,8))
ax= sns.countplot(df['location'])
plt.xticks(rotation=90) #rotate the lable so the dont overlap
plt.show()

### Visualizing the Online order

In [ ]:
# Showing how many resturent have Online Order Facility
plt.figure(figsize=(6,6))
sns.countplot(df.online_order)

### Visualizing the Book Table

In [ ]:
# Showing how many resturent have Book Table Facility
plt.figure(figsize=(6,6))
sns.countplot(df.book_table)

## Visualization online order vs rate

#### To compare to columns we ofter use Boxplot, Barplot,ScatterPLot, Violinplot

#### Here is the link for all type of plot [Types of Plots](https://towardsdatascience.com/14-data-visualization-plots-of-seaborn-14a7bdd16cd7)

In [ ]:
# TO Violinplot is used to to find value as well as distribution
plt.figure(figsize=(6,6))
sns.violinplot(x='online_order', y='rate', data=df)

# Visualization Book table vs rate

#### Boxplot is also used to find the outliers of the data, While traing a ML model

In [ ]:
plt.figure(figsize=(6,6))
sns.boxplot(x='book_table', y='rate', data=df)

# Visualization online order vs locatione

#### For this we have to learn how to group the DATA

### I want to see how many resturent provide online order based on location
#### step 1: First Thing I will do is to group the dataframe with location and online order===> df.grpupby['loaction','online_order'])
#### Step 2: After grouping we will select the parameter on which we will apply function such as count(),avg() ===> df.grpupby['loaction','online_order'])['name']
#### Step 3: At last we select the function we want to apply, In this case we need to find no. of resturents so we will use count() ===> df.grpupby['loaction','online_order'])['name'].count()

In [ ]:
# we want to find average rating of data based on location, than we will write ==>  df.groupby(['location'])['rating'].mean()
# Grouped the data here

df1=df.groupby(['location','online_order'])['name'].count()

# To plot the data we nwwd to do these steps
# Save the new data frame in csv formate
df1.to_csv('location_online.csv')
# read the data frame
df1=pd.read_csv('location_online.csv')
# create a pivote table with location as index and online order as column
df1=pd.pivot_table(df1, values=None,index='location',columns='online_order',fill_value=0,aggfunc=np.sum)
# Table will look like this
df1

#### We will use bar plot to see the online order facility of different loacations

In [ ]:
df1.plot(kind='bar', figsize=(15,6))

# Visualization Book table vs location

#### Same Process we did above

In [ ]:
df2=df.groupby(['book_table','location'])['name'].count()
df2.to_csv('book_table.csv')
df2=pd.read_csv('book_table.csv')
df2=pd.pivot_table(df2, values=None,index='location',columns='book_table',fill_value=0,aggfunc=np.sum)
df2

In [ ]:
df2.plot(kind='bar', figsize=(15,6))

# Visualization types of resturent vs rate

### Again Box plot is used to compare the two columns

In [ ]:
plt.figure(figsize=(14,8))
sns.boxplot(x = 'Type', y='rate', data=df, palette='inferno')

# Visualization Types of rest vs location

In [ ]:
df3=df.groupby(['Type','location'])['name'].count()
df3.to_csv('book_table.csv')
df3=pd.read_csv('book_table.csv')
df3=pd.pivot_table(df3, values=None,index='location',columns='Type',fill_value=0,aggfunc=np.sum)
df3

In [ ]:
df3.plot(kind='bar', figsize=(28,6))

# Visualization votes vs location

In [ ]:
df4=df[['votes','location']]
df4.drop_duplicates()
df5=df4.groupby(['location'])['votes'].sum()
df5=df5.to_frame()

# we have sorted the  Data
df5=df5.sort_values('votes',ascending=False)
df5.head()

In [ ]:
plt.figure(figsize=(22,5))
sns.barplot(df5.index,df5.votes)
plt.xticks(rotation=90)
plt.show()

# Visulizing top cuisiens

### GroupBy feature is very importent

In [ ]:
df6=df[['votes','cuisines']]
df6.drop_duplicates()
df7=df6.groupby(['cuisines'])['votes'].sum()
df7=df7.to_frame()
df7=df7.sort_values('votes',ascending=False)
df7.head()

In [ ]:
df7=df7.iloc[1:, :]
df7.head()

In [ ]:
plt.figure(figsize=(25,5))
sns.barplot(df7.index,df7.votes)
plt.xticks(rotation=90)
plt.show()

# Hope your have understand how to Analyse each Column and plot the needed graph
### If youre having any doubt you can ask me in comments

# That is all from my side... Thanks a Lot