In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/income_evaluation.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [28]:
df.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [25]:
df[' income'].value_counts()

 <=50K    24720
 >50K      7841
Name:  income, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(' income', axis=1), df[' income'],
                                                   test_size=0.2, random_state=0)

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()

In [32]:
le.fit(y_train)

LabelEncoder()

In [33]:
le.classes_

array([' <=50K', ' >50K'], dtype=object)

In [37]:
y_train

15282     <=50K
24870     <=50K
18822     <=50K
26404     <=50K
7842      <=50K
4890      <=50K
3243      <=50K
17470     <=50K
14211     <=50K
22453     <=50K
631       <=50K
29051     <=50K
21478     <=50K
26565     <=50K
25140     <=50K
15497      >50K
14689     <=50K
18726     <=50K
28105     <=50K
6965      <=50K
4343       >50K
24308     <=50K
11380     <=50K
26087     <=50K
5679      <=50K
13019     <=50K
24049      >50K
32119      >50K
25586      >50K
26959     <=50K
          ...
6216       >50K
27469     <=50K
16921     <=50K
26277      >50K
2897      <=50K
24152     <=50K
18606     <=50K
10327      >50K
18983     <=50K
32230      >50K
17089     <=50K
14650      >50K
19852     <=50K
6744      <=50K
15832      >50K
15430     <=50K
14935     <=50K
14116     <=50K
22258     <=50K
20757     <=50K
24275     <=50K
9225      <=50K
32103     <=50K
30403     <=50K
21243     <=50K
13123      >50K
19648     <=50K
9845      <=50K
10799      >50K
2732      <=50K
Name:  income, Length: 26048, dtype: object

In [35]:
pd.Series(le.transform(y_train))

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       1
16       0
17       0
18       0
19       0
20       1
21       0
22       0
23       0
24       0
25       0
26       1
27       1
28       1
29       0
        ..
26018    1
26019    0
26020    0
26021    1
26022    0
26023    0
26024    0
26025    1
26026    0
26027    1
26028    0
26029    1
26030    0
26031    0
26032    1
26033    0
26034    0
26035    0
26036    0
26037    0
26038    0
26039    0
26040    0
26041    0
26042    0
26043    1
26044    0
26045    0
26046    1
26047    0
Length: 26048, dtype: int32

In [38]:
le.transform(y_test)

array([0, 0, 0, ..., 1, 0, 1])

In [41]:
X_train[' native-country']

15282     United-States
24870     United-States
18822     United-States
26404     United-States
7842      United-States
4890      United-States
3243             Mexico
17470     United-States
14211     United-States
22453     United-States
631       United-States
29051     United-States
21478     United-States
26565     United-States
25140     United-States
15497     United-States
14689     United-States
18726            Mexico
28105     United-States
6965      United-States
4343      United-States
24308     United-States
11380     United-States
26087           Ireland
5679      United-States
13019     United-States
24049     United-States
32119     United-States
25586     United-States
26959     United-States
              ...
6216      United-States
27469     United-States
16921     United-States
26277           England
2897      United-States
24152     United-States
18606         Nicaragua
10327     United-States
18983     United-States
32230     United-States
17089     United-States
14650     United-States
19852     United-States
6744      United-States
15832     United-States
15430     United-States
14935     United-States
14116     United-States
22258     United-States
20757     United-States
24275     United-States
9225            England
32103     United-States
30403     United-States
21243     United-States
13123     United-States
19648     United-States
9845      United-States
10799     United-States
2732      United-States
Name:  native-country, Length: 26048, dtype: object

In [40]:
le1 = LabelEncoder()
le1.fit_transform(X_train[' native-country'])

array([39, 39, 39, ..., 39, 39, 39])

In [42]:
pd.Series(le1.fit_transform(X_train[' native-country']))

0        39
1        39
2        39
3        39
4        39
5        39
6        26
7        39
8        39
9        39
10       39
11       39
12       39
13       39
14       39
15       39
16       39
17       26
18       39
19       39
20       39
21       39
22       39
23       21
24       39
25       39
26       39
27       39
28       39
29       39
         ..
26018    39
26019    39
26020    39
26021     9
26022    39
26023    39
26024    27
26025    39
26026    39
26027    39
26028    39
26029    39
26030    39
26031    39
26032    39
26033    39
26034    39
26035    39
26036    39
26037    39
26038    39
26039     9
26040    39
26041    39
26042    39
26043    39
26044    39
26045    39
26046    39
26047    39
Length: 26048, dtype: int32