In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "BoyOrGirl": [
        "Boy",
        "Boy",
        "Boy",
        "Girl",
        "Boy",
        "Girl",
        "Boy",
        "Boy",
        "Girl",
        "Girl",
        "Boy",
        "Boy",
    ],
    "TestScore": [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70],
}

In [3]:
df = pd.DataFrame(data, columns = ['BoyOrGirl', 'TestScore'])
df

   BoyOrGirl  TestScore
0        Boy         25
1        Boy         94
2        Boy         57
3       Girl         62
4        Boy         70
5       Girl         25
6        Boy         94
7        Boy         57
8       Girl         62
9       Girl         70
10       Boy         62
11       Boy         70

In [4]:
groupby_gender = df['TestScore'].groupby(df['BoyOrGirl'])
groupby_gender

In [5]:
len(list(df['TestScore'].groupby(df['BoyOrGirl'])))

2

In [6]:
list(df['TestScore'].groupby(df['BoyOrGirl']))

[('Boy', 0     25
  1     94
  2     57
  4     70
  6     94
  7     57
  10    62
  11    70
  Name: TestScore, dtype: int64), ('Girl', 3    62
  5    25
  8    62
  9    70
  Name: TestScore, dtype: int64)]

In [7]:
df.groupby(["BoyOrGirl"]).agg(
    {"TestScore": ["sum", "max", "mean", lambda x: x.max() - x.min()]}
)

          TestScore
                sum max    mean <lambda>
BoyOrGirl
Boy             529  94  66.125       69
Girl            219  70  54.750       45

In [8]:
list(df['TestScore'].groupby(df['BoyOrGirl']))

[('Boy', 0     25
  1     94
  2     57
  4     70
  6     94
  7     57
  10    62
  11    70
  Name: TestScore, dtype: int64), ('Girl', 3    62
  5    25
  8    62
  9    70
  Name: TestScore, dtype: int64)]

In [9]:
list(df['TestScore'].groupby(df['BoyOrGirl']))[0]

('Boy', 0     25
 1     94
 2     57
 4     70
 6     94
 7     57
 10    62
 11    70
 Name: TestScore, dtype: int64)

In [10]:
len(list(df['TestScore'].groupby(df['BoyOrGirl']))[0])

2

In [11]:
list(df['TestScore'].groupby(df['BoyOrGirl']))[0][1]

0     25
1     94
2     57
4     70
6     94
7     57
10    62
11    70
Name: TestScore, dtype: int64

In [12]:
sum(list(df['TestScore'].groupby(df['BoyOrGirl']))[0][1])

529

In [13]:
max(list(df['TestScore'].groupby(df['BoyOrGirl']))[0][1])

94

In [14]:
np.average(list(df['TestScore'].groupby(df['BoyOrGirl']))[0][1])

66.125