In [1]:
import numpy as np
import pandas as pd

/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.DataFrame(np.arange(16).reshape(4,4), columns=list('abcd'))
df['group'] = [0, 0, 1, 1]
df['group1'] = [0,1,0,1]
df

    a   b   c   d  group  group1
0   0   1   2   3      0       0
1   4   5   6   7      0       1
2   8   9  10  11      1       0
3  12  13  14  15      1       1

In [3]:
df.groupby(['group','group1']).agg({'a':['sum', 'max'], 
                         'b':'mean', 
                         'c':'sum', 
                         'd': lambda x: x.max() - x.min()})

               a        b   c        d
             sum max mean sum <lambda>
group group1
0     0        0   0    1   2        0
      1        4   4    5   6        0
1     0        8   8    9  10        0
      1       12  12   13  14        0

In [ ]:
df

In [ ]:
df.groupby('group').agg({'a':['sum', 'max'], 
                         'b':'mean', 
                         'c':'sum', 
                         'd': lambda x: x.max() - x.min()})

In [ ]:
df['d'] = [30,35,32,33]

In [ ]:
df.groupby('group')['a','b'].sum()

In [ ]:
df.groupby('group').agg({'a':['sum', 'max'], 
                         'b':'mean', 
                         'c':'min', 
                         'd': lambda x: x.max() - x.min()})