In [1]:
import numpy as np
import pandas as pd

/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [21]:
df = pd.read_csv('demo.csv')

In [22]:
df.head(10)

    var1   var2  label
0   3.82   2.95  36.94
1   5.13  13.09  47.70
2   3.99  18.22  36.66
3  11.00    NaN    NaN
4    NaN  22.00    NaN
5    NaN  22.00    NaN
6    NaN    NaN  11.00
7   6.87  10.31  29.10
8   6.44  13.14   9.95
9   6.68   7.01  10.75

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 3 columns):
var1     1001 non-null float64
var2     1002 non-null float64
label    1001 non-null float64
dtypes: float64(3)
memory usage: 23.6 KB

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 3 columns):
var1     1001 non-null float64
var2     1002 non-null float64
label    1001 non-null float64
dtypes: float64(3)
memory usage: 23.6 KB

In [25]:
df.describe()

              var1         var2        label
count  1001.000000  1002.000000  1001.000000
mean      4.868382    10.116547    24.831588
std       2.810916     5.861247    14.642683
min       0.010000     0.020000     0.020000
25%       2.530000     4.950000    11.920000
50%       4.810000    10.205000    24.540000
75%       7.170000    15.370000    37.330000
max      11.000000    22.000000    49.970000

In [26]:
df.head()

    var1   var2  label
0   3.82   2.95  36.94
1   5.13  13.09  47.70
2   3.99  18.22  36.66
3  11.00    NaN    NaN
4    NaN  22.00    NaN

In [27]:
df.columns

Index(['var1', 'var2', 'label'], dtype='object')

In [37]:
df.rename(columns={'abcd':'a1', 'var2':'a2'}, inplace=True)

In [38]:
df.head()

      a1     a2  label
0   3.55   2.95  36.94
1   5.13  13.09  47.70
2   3.99  18.22  36.66
3  11.00    NaN    NaN
4    NaN  22.00    NaN

In [32]:
df.columns

Index(['engine_power', 'var2', 'label'], dtype='object')

In [33]:
df.engine_power.replace({3.82:3.55},inplace=True)

In [39]:
df.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
             994,  995,  996,  997,  998,  999, 1000, 1001, 1002, 1003],
           dtype='int64', length=1004)