In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
obj = Series(range(10,15))
obj

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [3]:
type(obj), type(obj.values), type(obj.index)

(pandas.core.series.Series,
 numpy.ndarray,
 pandas.core.indexes.range.RangeIndex)

In [4]:
obj.values

array([10, 11, 12, 13, 14])

In [5]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
obj1 = Series([10,3,40,50], index= ['A','B','C','D'])
obj1

A    10
B     3
C    40
D    50
dtype: int64

In [7]:
obj1['D']

50

In [17]:
obj1[(obj1 > 30) & (obj1 < 60)]

C    40
D    50
dtype: int64

In [ ]:
obj1[obj1>30]

In [ ]:
'C' in obj1

In [ ]:
# Converting series to dictionary
obj1_dict = obj1.to_dict()
obj1_dict

In [ ]:
# Converting from dict to series
obj1_from_dict = Series(obj1_dict)
obj1_from_dict

In [ ]:
obj1.notnull()

In [ ]:
obj2 = obj1.add(obj1_from_dict)
obj2

In [18]:
s1 = Series([1,2,3,4],index=['a','b','c','d'])
s2 = Series([1,2,3,4],index=['a','b','c','e'])
s3 = s1+s2
s3

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

In [19]:
# Replacing Values in a Series
s3.replace(np.nan, 10)

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

In [20]:
s3 = s3.replace(2.0, 10.0)
s3

a    10.0
b     4.0
c     6.0
d     NaN
e     NaN
dtype: float64

In [42]:
s3.values

array([1, 2, 3, 4])

In [21]:
s3.replace(np.nan, 9.0)

a    10.0
b     4.0
c     6.0
d     9.0
e     9.0
dtype: float64

In [23]:
s3.replace(np.nan, 9.5, inplace=True)

In [25]:
s3.replace(10.0, 7.0, inplace=True)

In [27]:
s3.replace(7.0, 'Bhavesh', inplace=True)

In [29]:
s3[['a','b']] = 'Idli'

In [30]:
s3

a    Idli
b    Idli
c       6
d     9.5
e     9.5
dtype: object

In [36]:
s1 = Series([1, 2], index=['A', 'B'], name='s1')
s2 = Series([3, 4], index=['C', 'D'], name='s2')
print (s1)
print (s2)

A    1
B    2
Name: s1, dtype: int64
C    3
D    4
Name: s2, dtype: int64

In [34]:
s3['A']

A    1
A    3
dtype: int64

In [32]:
# s1 = Series([1, 2], index=['A', 'B'], name='s1')
# s2 = Series([3, 4], index=['A', 'B'], name='s2')
s3 = pd.concat([s1, s2], axis=0)
s3

A    1
B    2
A    3
B    4
dtype: int64

In [33]:
type(s3)

pandas.core.series.Series

In [37]:
s4 = pd.concat([s1, s2], axis=1)
s4

/home/chinmay/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    s1   s2
A  1.0  NaN
B  2.0  NaN
C  NaN  3.0
D  NaN  4.0

In [38]:
type(s4)

pandas.core.frame.DataFrame