In [1]:
import numpy as np
import pandas as pd

/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/chinmay/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.DataFrame([(1, 'Germany'),
                   (2, 'France'),
                   (3, 'Indonesia'),
                   (4, 'France'),
                   (5, 'France'),
                   (6, 'Germany'),
                   (7, 'UK'),
                   ],
                  columns=['groupid', 'country'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [3]:
df

   groupid    country
a        1    Germany
b        2     France
c        3  Indonesia
d        4     France
e        5     France
f        6    Germany
g        7         UK

In [7]:
len(df['country'].unique())

4

In [5]:
df['country'].nunique()

4

In [8]:
df['country'].value_counts()

France       3
Germany      2
Indonesia    1
UK           1
Name: country, dtype: int64